.main-content {
	background-color: var(--sys-background);
	padding: 1rem;
	display: flex;
	flex-grow: 1;
}

.card {
	background: var(--sys-surface) 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 6px #00000029;
	border-radius: 4px;
	max-width: min(712px, 90%);
	min-width: min(17.5rem, 90%);
	margin-top: 0rem;
	margin-bottom: 3.75rem;
	opacity: 1;
}

.card-title {
	text-align: left;
	font: Bold 20px/30px Roboto;
	letter-spacing: 0px;
	color: var(--dark-text);
	padding-left: 40px;
	padding-right: 55px;
	opacity: 1;
}

.card-content {
	text-align: left;
	letter-spacing: 0px;
	color: var(--dark-text);
	padding-left: 40px;
	padding-top: 36px;
	padding-right: 55px;
	opacity: 1;
}

.clear-icon {
	cursor: pointer;
	color: var(--dark-text);
	padding: 0.4rem;
}

.clear-icon:hover {
	background-color: rgb(0,0,0,0.05) !important;
	border-radius: 50%;
	padding: 0.4rem;
}


.personal-usage {
	text-align: left;
	font-size: var(--sys-headline-medium-size);
	letter-spacing: 0px;
}

.counter-zero {
	text-align: left;
	font: Bold 48px/30px Roboto;
	letter-spacing: 0px;
	color: var(--sys-on-surface);
	opacity: 0.6;
	padding-top: 2.5rem;
	padding-bottom: 0.5rem;
}

.counter {
	text-align: left;
	font: Bold 48px/30px Roboto;
	letter-spacing: 0px;
	color: var(--sys-on-surface);
	opacity: 0.75;
	padding-top: 2.5rem;
	padding-bottom: 0.5rem;
}

.stats {
	font-size: var(--sys-body-medium-size);
	font-weight: 300;
    letter-spacing: 0px;
}
.link {
	text-align: left;
	text-decoration: underline;
	color: var(--link-color);
    &:hover {
        color: var(--sys-primary)
    }
}

.link-disabled {
	text-align: left;
	font-weight: 300;
	font-size: var(--sys-title-small-size);
	letter-spacing: 0px;
}

.latest-activity-title {
	text-align: left;
	font-weight: 300;
	font-size: var(--sys-title-large-size);
	letter-spacing: 0px;
	color: var(--dark-text);
	opacity: 0.7;
	padding-bottom: 1.2rem;
}

.activity {
	padding-left: 3rem;
}

.plan-card,
.description-card {
	min-width: min(100%, 712px);
	background: var(--sys-surface) 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 6px #0000001a;
	border-radius: 4px;
	opacity: 1;
	margin-top: 2.43rem;
	margin-bottom: 1rem;
}

.remove-border-bottom ::ng-deep .mat-tab-header {
	border-bottom: none;
}

input[type="text"] {
	background: #fafafa 0% 0% no-repeat padding-box;
	border: 1px solid #d1d1d1;
	border-radius: 4px;
	opacity: 1;
	width: 347px;
	height: 56px;
	font-family: Arial, FontAwesome;
	padding-left: 15px;
}

.plan-label {
	background: var(--sys-primary) 0% 0% no-repeat padding-box;
	border-radius: 4px 0px;
	opacity: 1;
	min-width: 67px;
	height: 37px;
	color: var(--sys-on-primary);
	align-content: center;
}

.icon-align {
	display: inline-flex;
	vertical-align: middle;
}

.plan-subtitle,
.description-subtitle {

	.icon-align {
		display: inline-flex;
		vertical-align: top;
		margin-right: .2rem;
		line-height: .95em;
	}
}

.description-card-actions,
.plan-card-actions {
	display: flex;
	flex-direction: row;
	border-top: 1px solid #dbdbdb;
	line-height: 4;
	color: var(--gray);
}

.description-card-actions a,
.plan-card-actions a {
	color: var(--gray) !important;
	text-decoration: none !important;
}

.description-card-actions a:hover,
.plan-card-actions a:hover {
	color: var(--sys-primary) !important;
}

.show-more:hover {
	color: var(--sys-primary) !important;
}


.stats {
	padding: 0rem 7em 4rem 3rem;
}

.empty-list {
	font-size: var(--sys-headline-medium-size);
	color: var(--dark-text);
	font-weight: 300;
	letter-spacing: 0px;
	color: var(--dark-text);
	opacity: 0.6;
	display: flex;
	padding-top: 4.68rem;
	justify-content: center;
}

.add-description {
	background: var(--sys-tertiary) 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 6px #1e202029;
	border-radius: 30px;
	opacity: 1;
	margin-top: 2.5rem;
	margin-bottom: 1.5rem;
}

.header-text-container {
	background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(35, 188, 186, 1) 100%, rgba(0, 212, 255, 1) 100%);
	color: white;
	height: fit-content;
	padding-left: 5.8em;
	padding-right: 10em;
	padding-top: 2em;
	padding-bottom: 2em;
}

.personal-usage-block {
	padding: 0rem 7em 0rem 3rem;
}

.app-info {
	font-size: var(--sys-body-medium-size);
	padding: 1rem 2rem;
}

.laptop-img {
	position: relative;
}

.add-description-btn {
	height: 40px;
	margin-left: 40px;
}

mat-tab-group.my-mat-tab .mat-mdc-tab-header .mat-mdc-tab-label-container .mat-mdc-tab-list .mat-mdc-tab-labels .mdc-tab__text-label {
	color: white;
}

:host ::ng-deep .mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
	background: var(--sys-primary);
	height: 5px;
}

:host ::ng-deep .mat-tab-label {
	min-width: auto !important;
	background-color: transparent;
}

:host ::ng-deep .mat-tab-label.mat-tab-label-active {
	min-width: auto !important;
	background-color: transparent;
	font-weight: 700;
}

:host ::ng-deep .mat-form-field-wrapper {
	background-color: white !important;
	padding-bottom: 0 !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
	padding: 0.3rem 0rem 0.6rem 0rem !important;
}

.new-releases-hint-container {
	padding-left: 40px;
	padding-right: 55px;
}

.new-releases-card {
	box-shadow: 0px 3px 6px #00000029;
	max-width: min(712px, 100%);
	min-width: min(17.5rem, 100%);
	margin-top: 0rem;
	margin-bottom: 3.75rem;

	background: transparent linear-gradient(127deg, #EDAEB3 0%, #E1368A 100%) 0% 0% no-repeat padding-box;
	border-radius: 6px;
	opacity: 1;
	padding-bottom: 2em;
}

.new-releases-btn {
	margin-left: 40px;
}

.new-releases-chip {
	color: var(--sys-surface);
	text-align: center;
	font-weight: 500;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	background: #EAEAEA 0% 0% no-repeat padding-box;
	border-radius: 30px;
	opacity: 0.7;
	letter-spacing: 0.12px;
	color: #6E6E6E;
}

.new-releases-title {
	text-align: left;
	font: Bold 30px/34px Roboto;
	letter-spacing: 0px;
	color: var(--dark-text);
	padding-left: 40px;
	padding-right: 55px;
	opacity: 1;
}

.new-releases-content {
	text-align: left;
	font-weight: 300;
	letter-spacing: 0px;
	color: var(--dark-text);
	padding-left: 40px;
	font: normal normal normal 16px/24px Roboto;
	padding-top: 36px;
	padding-right: 55px;
	opacity: 1;
}

.new-releases-logo {
	position: absolute;
	right: 0;
	bottom: 0;
}

.dashboard-title {
    font-size: var(--sys-headline-medium-size);
}

@media(max-width: 720px){
    .laptop-img {
        display: none;
    }
}

::ng-deep {
    @container main-page (inline-size < 550px){
        .container-fluid{
            padding: 0 !important;
        }
        .stats {
            padding: 0rem 2rem !important;
        }
        .card {
            margin-left: auto;
            margin-right: auto;
        }
    }
}