<div class="p-3">
	<div mat-dialog-title class="row d-flex align-items-center gap-half-rem">
		<span class="title">{{'DASHBOARD.SELECT-PLAN' | translate}}</span>
		<button mat-icon-button (click)="close()" class="ml-auto" [attr.aria-label]="'ALT-TEXT.CLOSE-DIALOG'  | translate"><mat-icon aria-hidden>close</mat-icon></button>
	</div>
    <div mat-dialog-content>
        <div class="row">
            <div class="col-12">
                <mat-form-field class="w-100">
                    <app-single-auto-complete [required]="true" [formControl]="formGroup.get('planId')" placeholder="{{'START-NEW-DESCRIPTION-DIALOG.SELECT-PLAN' | translate}}" [configuration]="planAutoCompleteConfiguration"></app-single-auto-complete>
                </mat-form-field>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-auto">
                <span>{{'DASHBOARD.ADD-NEW-DESCRIPTION.OPTIONS-NOT-ENOUGH' | translate}}</span>&nbsp;<span class="new-plan" (click)="startNewPlan()">{{'DASHBOARD.ADD-NEW-DESCRIPTION.START-NEW-PLAN' | translate}}</span>
            </div>
        </div>
    </div>
    <div mat-dialog-actions class="d-flex">
        <div class="col-auto ml-auto">
            <button mat-stroked-button type="button" class="padded-shadow-btn" (click)="cancel()">{{ 'START-NEW-DESCRIPTION-DIALOG.ACTIONS.CANCEL' | translate }}</button>
        </div>
        <div class="col-auto p-0">
            <button mat-stroked-button color="primary" [disabled]="!formGroup.valid" type="button" class="padded-shadow-btn primary-inverted-hover" (click)="next()">{{ 'START-NEW-DESCRIPTION-DIALOG.ACTIONS.NEXT' | translate }}</button>
        </div>
    </div>
</div>
