.template-container {
	.header {
        padding: 1rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        background-color: var(--sys-primary);
        color: var(--sys-on-primary);
        button {
            color: var(--sys-on-primary);
        }
	}

	.template-title {
		white-space: nowrap;
		max-width: 480px;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.definition-content {
		display: block;
		padding: 0 1rem;
	}
}

