.clear-icon {
	cursor: pointer;
	color: #212121;
	padding: 0.4rem;
}

.clear-icon:hover {
	background-color: #ececec !important;
	border-radius: 50%;
	padding: 0.4rem;
}

:host ::ng-deep .mat-form-field-wrapper {
	background-color: white !important;
	padding-bottom: 0 !important;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
	padding: 0.3rem 0rem 0.6rem 0rem !important;
}
