.gray-container {
  letter-spacing: 5px;
  color: var(--gray);
}

h4 {
  display: inline;
  padding-left: 1em;
  line-height: 1.7em;
  color: #333333;
}

h4 > span {
  text-transform: uppercase;
}

.about-item {
  display: flex;
  flex-wrap: wrap;
}

.about-item .title {
  margin: 2px 10px;
  text-transform: uppercase;
}

.about-item p {
  margin-left: auto;
  margin-bottom: 0px;
  padding-top: 7px;
  color: var(--gray);
}

p {
  color: #333333;
}


.draft-icon {
  color: var(--gray);
}

.lock-icon {
  color: #0d7489;
}

.more-horiz {
  font-size: 28px;
  color: var(--link-color);
}

.published-icon {
  padding-top: 1px;
  color: #08bd63;
}

.description {
  margin-bottom: 0.4em;
}

.outer-circle {
  background: #08bd6342;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: relative;
  margin-top: 3px;
}

.inner-circle {
  position: absolute;
  background: #08bd63;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  top: 50%;
  left: 50%;
  margin: -5px 0px 0px -5px;
}

.role {
  min-width: 74px;
}

.plan-card,
.description-card {
	min-width: min(100%, 712px);
	background: var(--sys-surface) 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 6px #0000001a;
	border-radius: 4px;
	opacity: 1;
	margin-top: 2.43rem;
	margin-bottom: 1rem;
}

.remove-border-bottom ::ng-deep .mat-tab-header {
	border-bottom: none;
}

input[type="text"] {
	background: #fafafa 0% 0% no-repeat padding-box;
	border: 1px solid #d1d1d1;
	border-radius: 4px;
	opacity: 1;
	width: 347px;
	height: 56px;
	font-family: Arial, FontAwesome;
	padding-left: 15px;
}

.edited-date {
	text-align: left;
	font-weight: 300;
	line-height: 2.4;
	letter-spacing: 0px;
	color: var(--sys-on-surface);
	opacity: 0.7;
}

.plan-label {
	background: var(--sys-primary) 0% 0% no-repeat padding-box;
	border-radius: 4px 0px;
	opacity: 1;
	min-width: 67px;
	height: 37px;
	color: var(--sys-on-primary);
	align-content: center;
}

.plan-title,
.plan-title-draft,
.description-title,
.description-title-draft {
	text-align: left;
	font-weight: 600;
	padding-top: 0.75rem;
	padding-bottom: 0.55rem;
	color: var(--sys-on-surface);
    word-break: break-word;
}
.plan-title,
.plan-title-draft {
    font-size: var(--sys-title-medium-size);
}

.description-subtitle,
.plan-subtitle {
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
	text-align: left;
	font-weight: 400;
	font-size: var(--sys-title-small-size);
	opacity: 1;
	align-items: center;
	color: var(--gray);
}

.plan-title-draft,
.description-title-draft {
    color: var(--draft-color);
}

.draft {
    color: var(--draft-color);
}

.plan-subtitle,
.description-subtitle {

	.icon-align {
		display: inline-flex;
		vertical-align: top;
		margin-right: .2rem;
		line-height: .95em;
	}
}

.description-card-actions,
.plan-card-actions {
    container-name: plan-card-actions;
    container-type: inline-size;
	display: flex;
    flex-wrap: wrap;
	flex-direction: row;
	border-top: 1px solid #dbdbdb;
	line-height: 4;
	color: var(--gray);

    .plan-action {
        border-right: 1px solid #dee2e6;
    }
}

@container plan-card-actions (inline-size < 35rem){
    .plan-action {
        border-right: none !important;
    }
}

.description-card-actions div,
.plan-card-actions div {
	color: var(--gray) !important;
	text-decoration: none !important;
}

.description-card-actions div:hover,
.plan-card-actions div:hover {
	color: var(--sys-primary) !important;
}

.plan-description-descriptions-title {
	color: #000000;
	opacity: 0.6;
	padding-top: 1.5rem;
	padding-bottom: 0.8rem;
}

.plan-description-descriptions-name {
	color: #000000;
	opacity: 0.6;
	font-weight: 700;
}



.show-more:hover {
	color: var(--sys-primary) !important;
}



.pointer {
	cursor: pointer;
}

::ng-deep .mat-menu-panel {
  max-width: 282px !important;
}

.status-logo {
	height: 1.25rem;
	width:  1.25rem; 
}