<div class="main-content listing-main-container h-100">
	<div class="container-fluid">
		<div class="row">
			<div *ngIf="!isLoading && !hasListingItems && !hasFilters" class="card mt-0">
				<div class="card-content info-text mb-0">
					<p>{{'DESCRIPTION-LISTING.TEXT-INFO' | translate}} <u class="pointer" [routerLink]="routerUtils.generateUrl(['/explore-descriptions'])">{{'DESCRIPTION-LISTING.LINK-PUBLIC-DESCRIPTIONS' | translate}}</u> {{'DESCRIPTION-LISTING.TEXT-INFO-REST' | translate}}</p>
					<p class="mt-4 pt-2">{{'DESCRIPTION-LISTING.TEXT-INFO-PAR' | translate}}
					<div class="d-flex">
						<button mat-flat-button color="accent" class="padded-shadow-btn align-self-center" (click)="addNewDescription()">
							{{'DESCRIPTION-LISTING.ACTIONS.ADD-DESCRIPTION' | translate}}
						</button>
						<img class="col-auto ml-auto laptop-img" alt="{{('ALT-TEXT.DASHBOARD-POPUP-IMAGE' | translate) ?? 'dashboard pop up image' }}" src="../../../assets/images/dashboard-popup.png">
					</div>
				</div>
			</div>
			<div class="col-12">
				<app-navigation-breadcrumb />
			</div>
			<div *ngIf="!isPublic" class="ml-auto">
				<div class="col-auto">
					<button mat-flat-button color="accent" class="padded-shadow-btn align-self-center" (click)="addNewDescription()" [disabled]="isLoading">
						{{'DESCRIPTION-LISTING.ACTIONS.ADD-DESCRIPTION' | translate}}
					</button>
				</div>
			</div>
			<div *ngIf="(isLoading || hasListingItems || hasFilters) && !isPublic"
				class="filter-btn" [style.right]="dialog.getDialogById('filters') ? '446px' : '0px'" [style.width]="listingItems.length > 2 ? '57px' : '37px'" (click)="openFiltersDialog()">
				<button mat-raised-button class="p-0 squared-btn badge-accent badge-lg" [matBadge]="filtersCount" [matBadgeHidden]="filtersCount === 0" matBadgePosition="before" [attr.aria-label]="'ALT-TEXT.OPEN-FILTERS' | translate">
					<mat-icon class="mr-3 filter-icon">filter_alt</mat-icon>
				</button>
			</div>
		</div>
		<div>
			<div class="listing row pb-2">
				<div *ngIf="hasListingItems || hasFilters" class="col-md-12">
					<div class="row pt-4">
						<!-- Sort by -->
						<div class="col-auto d-flex align-items-center order-1">
							<span class="mb-1 mb-xl-4">{{'PLAN-LISTING.SORT-BY' | translate}}:</span>
						</div>
						<div class="col-12 col-xl-auto order-3 order-xl-2">
							<mat-form-field class="sort-form w-100">
								<mat-select placeholder="{{'GENERAL.CRITERIA.LIKE'| translate}}" [(ngModel)]="sortBy" (selectionChange)="orderByChanged($event)">
									<mat-option *ngIf="!isPublic" [value]="RecentActivityOrder.UpdatedAt">{{enumUtils.toRecentActivityOrderString(RecentActivityOrder.UpdatedAt)}}</mat-option>
									<mat-option *ngIf="isPublic" [value]="RecentActivityOrder.PublishedAt">{{enumUtils.toRecentActivityOrderString(RecentActivityOrder.PublishedAt)}}</mat-option>
									<mat-option [value]="RecentActivityOrder.Label">{{enumUtils.toRecentActivityOrderString(RecentActivityOrder.Label)}}</mat-option>
									<mat-option *ngIf="!isPublic" [value]="RecentActivityOrder.Status">{{enumUtils.toRecentActivityOrderString(RecentActivityOrder.Status)}}</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
						<div class="col-auto order-2 order-xl-3 mb-1 pl-0 mt-2">
							<button mat-icon-button (click)="toggleSortDirection()" [matTooltip]="sortingTooltipText" [attr.aria-label]="sortingTooltipText">
								<mat-icon *ngIf="isAscending">keyboard_double_arrow_up</mat-icon>
								<mat-icon *ngIf="isDescending">keyboard_double_arrow_down</mat-icon>
							</button>
						</div>
						<!-- End of Sort by -->
						<div class="col-12 col-xl-auto ml-auto order-4">
							<div class="row">
								<!-- Guided Tour -->
								<div class="col-12 col-xl-auto d-none d-lg-flex align-items-center tour-prompt">
									<span *ngIf="!isPublic" class="center-content" (click)="restartTour()">{{ 'DESCRIPTION-LISTING.ACTIONS.TAKE-A-TOUR'| translate }}</span>
								</div>
								<!-- End of Guided Tour -->
								<!-- Search Filter-->
								<div class="col-12 col-xl-auto">
                  <app-text-filter suffixIcon="search" floatLabel="never" placeholder="{{'GENERAL.CRITERIA.LIKE'| translate}}" [(value)]=lookup.like (valueChange)="controlModified()"></app-text-filter>
								</div>
								<!-- End of Search Filter -->
							</div>
						</div>
					</div>
				</div>
                <div class="col-md-12 col-sm-12 col-md-9">
                    <div *ngFor="let item of listingItems; let i = index">
                        <app-description-listing-item-component
							[orderedDescriptionPreferencesList]="orderedDescriptionPreferencesList"
                            [isPublic]="isPublic"
                            [description]="item"
                            [tenants]="tenants"
                            [showDivider]="i != (listingItems.length - 1)"
                        ></app-description-listing-item-component>
                    </div>
                    <div *ngIf="hasListingItems && lookup?.page?.offset < totalCount - 1 && pageSize < totalCount - 1" class="d-flex justify-content-center pb-1">
                        <button mat-button type="button" class="padded-shadow-btn load-more" (click)="loadMore()">{{'DESCRIPTION-LISTING.ACTIONS.LOAD-MORE' | translate}}</button>
                    </div>
                </div>
                <div *ngIf="!hasListingItems && hasFilters" class="col-md-12 d-flex justify-content-center pt-4 mt-4 mb-4 pb-4">
                    <span class="empty-list">{{'DESCRIPTION-LISTING.EMPTY-LIST' | translate}}</span>
                </div>
			</div>
		</div>
	</div>
</div>
