<div class="d-flex align-items-center gap-1-rem listing-filters">

	<button mat-button [matMenuTriggerFor]="filterMenu" #filterMenuTrigger="matMenuTrigger" (click)="updateFilters()" class="filter-button">
		<mat-icon aria-hidden="false" [matBadgeHidden]="!appliedFilterCount" [matBadge]="appliedFilterCount" matBadgeColor="warn" matBadgeSize="small">filter_alt</mat-icon>
		{{'COMMONS.LISTING-COMPONENT.SEARCH-FILTER-BTN' | translate}}
	</button>


	<mat-menu #filterMenu>
		<div class="container-fluid listing-filters-container"  (click)="$event?.stopPropagation?.()">
			<div class="row justify-content-between">
				<div class="col-auto mt-2">
					<h4>{{'SUPPORTIVE-MATERIAL-LISTING.FILTER.TITLE' | translate}}</h4>
				</div>
				<div class="col-auto">
					<button color="primary" mat-button (click)="clearFilters()">
						{{'COMMONS.LISTING-COMPONENT.CLEAR-ALL-FILTERS' | translate}}
					</button>
				</div>
			</div>

			<div class="row mt-3">
				<div class="col-12">
					<section class="w-100">
						<mat-slide-toggle labelPosition="before" [formControl]="internalFilters.controls.isActive">
							{{'SUPPORTIVE-MATERIAL-LISTING.FILTER.IS-ACTIVE' | translate}}
						</mat-slide-toggle>
					</section>
				</div>
			</div>

			<div class="row mt-3" *ngIf="hasSelectedTenant">
				<div class="col-12">
					<section class="w-100">
						<mat-slide-toggle labelPosition="before" [formControl]="internalFilters.controls.viewOnlyTenant">
							{{'SUPPORTIVE-MATERIAL-LISTING.FILTER.TENANT' | translate}}
						</mat-slide-toggle>
					</section>
				</div>
			</div>

			<div class="row mt-3">
				<div class="col-12">
					<mat-form-field class="w-100">
						<mat-label>{{'SUPPORTIVE-MATERIAL-LISTING.FILTER.TYPE' | translate}}</mat-label>
						<mat-select multiple [formControl]="internalFilters.controls.types">
							<mat-option *ngFor="let type of fieldTypeEnumValues" [value]="type">{{enumUtils.toSupportiveMaterialTypeString(type)}}</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
			</div>

			<div class="row justify-content-end align-items-center mt-4 mb-1 gap-1-rem">
				<div class="col-auto">
					<button mat-stroked-button color="primary" class="padded-shadow-btn" (click)="filterMenuTrigger?.closeMenu()">
						{{'SUPPORTIVE-MATERIAL-LISTING.FILTER.CANCEL' | translate}}
					</button>
				</div>
				<div class="col-auto">
					<button mat-flat-button class="padded-shadow-btn" (click)="filterMenuTrigger.closeMenu(); applyFilters();" [disabled]="!internalFilters.dirty">
						{{'SUPPORTIVE-MATERIAL-LISTING.FILTER.APPLY-FILTERS' | translate}}
					</button>
				</div>
			</div>
		</div>
	</mat-menu>

	<app-expandable-search-field [formControl]="internalFilters.controls.like" (valueChange)="onSearchTermChange()" />
</div>
