.logo-img {
	width: 60px;
	display: block;
	max-height: none;
	margin-left: 50px;
}

.logo-img img {
	width: 155px;
	top: 0px;
	position: inherit;
}

.sidebarSubtitle p {
	margin-left: 20px;
	color: rgb(166, 166, 166);
}

.nav hr {
	border-top: 1px solid #fff;
    border-bottom: 1px solid #E1E1E1;
}

.sidebar-footer {
	margin-top: auto;
}

.sidebar-nav {
	background: white;
    height: 70px;
}

.nav-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	padding: 0.5rem 0.8rem 0.5rem 1.2rem;
	text-align: left;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
	font-size: 0.93rem;
}

.nav-subrow {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	text-align: left;
	letter-spacing: 0px;
	color: #000000;
	opacity: 1;
	font-size: 0.93rem;
}

.nav-row:hover {
	background-color: #ececec;
	border-radius: 6px;
}

.icon {
	width: 24px;
	height: 24px;
	vertical-align: middle;
	color: #6B6B6B;
}

.nav-row span {
	padding-left: 1.5rem;
}

.mat-list {
	padding-top: 0px !important;
	display: flex !important;
}

.mat-list div {
	width: 100%;
}
