.frame-btn {
    display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #1b1b1b;
	color: var(--sys-on-surface);
    background: transparent;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16078);
    &:hover {
        box-shadow: var(--mdc-fab-small-hover-container-elevation-shadow, var(--mat-app-level4)); //default material button 
    }
}

.frame-txt {
	font-size: var(--sys-body-small-size);
	font-weight: bold;
	letter-spacing: 0px;
	text-transform: uppercase;
	cursor: pointer;
}


.frame-txt:hover {
    color: var(--sys-primary)
}

.mat-mini-fab {
	width: 2.5em;
	height: 2.5em;
}

.mat-mini-fab-icon {
	font-size: 1.2em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo {
	margin-right: 16px;
	max-width: 24px;
	max-height: 24px;
}