<span class="fit-content" [matTooltipDisabled]="!disabled" [matTooltip]="'PLAN-OVERVIEW.DISABLED-TOOLTIP.DEPOSIT' | translate">
    <button mat-flat-button [disabled]="disabled" [matMenuTriggerFor]="depositMenu">
        <mat-icon class="mat-mini-fab-icon" aria-hidden>add_circle</mat-icon>
        <span>{{ 'PLAN-LISTING.ACTIONS.DEPOSIT' | translate }}</span>
        <mat-icon aria-hidden iconPositionEnd>arrow_drop_down</mat-icon>
    </button>
</span>

<mat-menu #depositMenu="matMenu">
	<button mat-menu-item *ngFor="let repo of inputRepos" (click)="deposit(repo)">
		<img *ngIf="repo.hasLogo" class="logo" [src]="logos.get(repo.repositoryId)">
		<img *ngIf="!repo.hasLogo" class="logo" src="assets/images/repository-placeholder.png">
		<span>{{ repo.repositoryId }}</span>
	</button>
</mat-menu>
