

.styleBorder {
	border: 0.2em solid lightgray;
	border-radius: 0.5em;
	margin-bottom: 0.5em;
}

.plan-label {
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: min(20vw, 20rem);
    font-weight: bold;
	color: var(--sys-on-surface);
}

.confirmation-dialog {
	.confirmation-message {
		padding-bottom: 20px;
	}

	.close-btn {
		margin-left: auto;
		cursor: pointer;
	}

}

.description-card {
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	border-radius: 6px;
	color: #333333;
	background: var(--sys-surface);
	width: 100%;
	min-height: 90%;
	max-height: 90%;
	margin-top: 1em;
	margin-bottom: 1em;
	cursor: pointer;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

.draft-bookmark {
	color: #e7e6e6;
	display: inline;
	padding: 0;
}

.finalized-bookmark {
	color: #08bd63;
	display: inline;
	padding: 0;
}


.descriptions span {
	color: var(--sys-primary);
}

.emptyList {
	font-style: italic;
	color: rgba(0, 0, 0, 0.26);
}
