.confirmation-dialog {
	.confirmation {
	  padding-bottom: 20px;
	}

	.privacy-policy-names {
	  font-weight: 700;
	  padding: 1em;
	}

	.close-btn {
	  margin-left: auto;
	  cursor: pointer;
	}

	.warn-text {
	  color: #f44336;
	}

	.cancel {
	  background-color: #aaaaaa;
	  color: #ffffff;
	}

	.confirm {
	  background-color: #2cba6c;
	  color: #ffffff;
	}

	.delete {
	  background-color: #ba2c2c;
	  color: #ffffff;
	}

	.checkbox-privacy {
	  padding: 0em 1em;
	}

	.required-policy {
	  padding: 0em 1.2em 1em;
	  font-size: smaller;
	  color: #f44336;
	}
  }
