<div class="row">
  <div class="col">
    <mat-form-field class="w-100">
      <mat-label>{{'PREFILLING-SOURCE-EDITOR.FIELDS.SYSTEM-TARGET' | translate}}</mat-label>
      <mat-select [formControl]="form.get('systemFieldTarget')">
        @for (systemFieldTarget of prefillingSourceSystemTargetTypeEnumValues; track systemFieldTarget) {
          <mat-option [value]="systemFieldTarget">{{enumUtils.toPrefillingSourceSystemTargetTypeString(systemFieldTarget)}}</mat-option>
        }
        <mat-option [value]="null">{{'TYPES.PREFILLING-SOURCE-SYSTEM-TARGET-TYPE.NONE' | translate}}</mat-option>
      </mat-select>
      @if (form.get('systemFieldTarget').hasError('required')) {
        <mat-error>{{'GENERAL.VALIDATION.REQUIRED' | translate}}</mat-error>
      }
    </mat-form-field>
  </div>
  <div class="col">
    <mat-form-field class="w-100">
      <mat-label>{{'PREFILLING-SOURCE-EDITOR.FIELDS.SEMANTIC-TARGET' | translate}}</mat-label>
      <app-single-auto-complete placeholder="{{'PREFILLING-SOURCE-EDITOR.FIELDS.SEMANTIC-TARGET' | translate}}" [formControl]="form.get('semanticTarget')" [configuration]="semanticsService.singleAutocompleteConfiguration"> </app-single-auto-complete>
      @if (form.get('semanticTarget').hasError('backendError')) {
        <mat-error>{{form.get('semanticTarget').getError('backendError').message}}</mat-error>
      }
      @if (form.get('semanticTarget').hasError('required')) {
        <mat-error>{{'GENERAL.VALIDATION.REQUIRED' | translate}}</mat-error>
      }
    </mat-form-field>
  </div>
  <div class="col">
    <mat-form-field class="w-100">
      <mat-label>{{'PREFILLING-SOURCE-EDITOR.FIELDS.TRIM-REGEX' | translate}}</mat-label>
      <input matInput type="text" name="trimRegex" [formControl]="form.get('trimRegex')">
      @if (form.get('trimRegex').hasError('backendError')) {
        <mat-error>{{form.get('trimRegex').getError('backendError').message}}</mat-error>
      }
      @if (form.get('trimRegex').hasError('required')) {
        <mat-error>{{'GENERAL.VALIDATION.REQUIRED' | translate}}</mat-error>
      }
    </mat-form-field>
  </div>
</div>