<div *ngIf="formGroup" class="container-fluid logo">
	<div class="row">
		<div class="col-12">
			<ngx-dropzone #drop class="drop-file col-12" (change)="fileChangeEvent($event, true)" [multiple]="false" [accept]="'image/*'" [disabled]="formGroup.get('logo')?.get('storageFileId').disabled">
				<ngx-dropzone-preview *ngIf="formGroup.get('logo')?.get('storageFileId')?.value" class="file-preview" [removable]="true" (removed)="onRemove()" (click)="download(formGroup.get('logo')?.get('storageFileId').value)">
					<ngx-dropzone-label class="file-label">{{ fileNameDisplay }}</ngx-dropzone-label>
				</ngx-dropzone-preview>
			</ngx-dropzone>
			<div class="col-12 d-flex justify-content-center attach-btn">
				<button *ngIf="!formGroup.get('logo')?.get('storageFileId')?.value" (click)="drop.showFileSelector()" mat-button type="button" class="attach-file" [disabled]="formGroup.get('logo')?.get('storageFileId')?.disabled">
					<mat-icon class="mr-2">upload</mat-icon>
					<span>{{ "TENANT-CONFIGURATION-EDITOR.ACTIONS.UPLOAD" | translate }}</span>
				</button>

				<button *ngIf="formGroup.get('logo')?.get('storageFileId')?.value" (click)="download(formGroup.get('logo')?.get('storageFileId')?.value)" mat-button type="button" class="attach-file">
					<mat-icon class="mr-2">download</mat-icon>
					<span>{{ "TENANT-CONFIGURATION-EDITOR.ACTIONS.DOWNLOAD" | translate }}</span>
				</button>
			</div>
		</div>
		<div class="col-12">
			<div class="row actions-row">
				<div class="col"></div>
				<div class="col-auto" *ngIf="editorModel.id"><button mat-button class="rounded-btn primary-inverted" (click)="delete()">
						{{'TENANT-CONFIGURATION-EDITOR.ACTIONS.RESET-TO-DEFAULT' | translate}}
					</button>
				</div>
				<div class="col-auto"><button mat-button class="rounded-btn primary" (click)="formSubmit()">
						{{'TENANT-CONFIGURATION-EDITOR.ACTIONS.SAVE' | translate}}
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
