dmp-frontend/.vscode/
dmp-frontend/.nx/

# IDE
.idea/
*.iml
.project
.settings/
.run
*.classpath

# Build output
*.class
*.jar
*.tar
*.gz
*.lst
bin/
final/
temp/
logs/
/storage/

# Backend build
backend/**/target/

# Other
deployment/storage/
