.description-overview {
    padding: 1.5rem 2rem;
}

.quick-actions-mobile {
    display: none;
}

@media(max-width: 992px) { //col-lg
    .quick-actions-mobile {
        display: flex;
        gap: 0.5rem;
    }
    .quick-actions {
        display: none !important;
    }
    .description-label {
        min-width: fit-content;
    }
}

.main-body, .side-actions{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 0.5rem;
}

.description-label,
.header {
	font-size: var(--sys-headline-medium-size);
    margin-bottom: 0.25rem;
}

.description-label {
	font-weight: bold;
    word-break: break-word;
    flex: 1;
    max-width: fit-content;
    margin: 0;
}

.frame{
	background: var(--sys-surface);
	box-shadow: 0px 1px 5px #00000026;
	border-radius: 4px;
	overflow: hidden;
}
.deleted-item {
    color: var(--sys-error);
}
.secondary-info {
    font-size: var(--sys-label-large-size);
    opacity: 0.9;
    .current-status {
        border: 1px solid var(--sys-outline);
        border-radius: 999px;
        padding: 0.125rem 0.5rem;
        font-weight: 500;
    }

}
.tab-body {
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}


.doi-subtitle {
    opacity: 0.7;
}

.researcher {
    color:unset;
    &:hover {
        color: var(--link-color);
    }
	padding-right: 0.5em;
	align-self: center;
}

.plan-btn,
.researcher {
  display: flex;
  align-items: center;
}

.primary-container-btn {
    color: var(--sys-on-primary-container);
    background-color: var(--sys-primary-container);
    &:not(.mat-mdc-icon-button){
        padding: 0 var(--mat-filled-button-horizontal-padding, 16px);
    }
}
// ********ICONS********

.back-icon {
  opacity: 0.6;
}

.mat-mini-fab-icon,
.status-icon {
  font-size: 1.2em;
}

.id-btn {
  background: url("../../../../assets/images/orcid_unauth.png") no-repeat center;
  width: 1rem;
  height: 1rem;
  margin-right: 0.3em;
  align-self: center;
}

.plan-btn {
    min-height: 2.3em;
    background-color: var(--sys-primary);
    color: var(--sys-on-primary);
    border-radius: 4px;
    border: none;
    width: min(40rem, 100%);
    &:hover {
        background-color: hsl(from var(--sys-primary) h s calc(l + 2));
    }
    .plan-btn-label {
        margin-right: 1em;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        letter-spacing: 0px;
        font-style: normal;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
        max-width: 85%;
    }
}

// ********TEXT********

.description-logo {
  width: 6em;
  min-width: fit-content;
  height: 2.6em;
  padding: 0 0.5rem;
  background: var(--sys-tertiary);
  color: var(--sys-on-tertiary);
  border-radius: 4px;
  font-size: var(--sys-title-small-size);
}

.evaluator-logo {
	margin-right: 16px;
	max-width: 50px;
	max-height: 50px;
}

.status-logo {
	height: 1.25rem;
	width:  1.25rem;
}
// ********CENTER ELEMENTS********

.mat-mini-fab,
.mat-mini-fab-icon,
.actions-btn,
.status-icon,
.description-logo,
.frame-btn,
.finalize-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.deleted-item {
    color: var(--sys-error);
}

.draft-color{
	color: var(--draft-color);
}
