<div class="container-fluid description-overview" *ngIf="description">
    <app-navigation-breadcrumb />
	<div class="row pt-1">
		<div class="col-12 ">
			<div class="  main-body">
				<div class="d-flex gap-half-rem flex-wrap">
					<span class="description-logo mt-2">{{ 'DESCRIPTION-OVERVIEW.TITLE' | translate }}</span>
					<span class="description-label mt-auto" [ngClass]="isDraft?'draft-color':''" [ngStyle]="{'color': description.status?.definition?.statusColor}">{{ description.label }}</span>
					<div class="ml-auto d-flex gap-quarter-rem">
						<div class="quick-actions-mobile ml-auto">
							<ng-container *ngTemplateOutlet="actionsTemplate"/>
						</div>
						<div *ngIf="isAuthenticated()" class="d-flex flex-wrap gap-half-rem quick-actions">
							<ng-container *ngTemplateOutlet="actionsTemplate"/>
						</div>
					</div>
				</div>
				<div class="d-flex align-items-center gap-half-rem secondary-info pt-1">
					<div class="current-status">
						<ng-container *ngTemplateOutlet="statusTemplate; context: {status: description.status}"></ng-container>
					</div>
					<div [class.deleted-item]="!isActive">
						{{(isActive ? 'DESCRIPTION-OVERVIEW.EDITED' : 'DESCRIPTION-OVERVIEW.DELETED') | translate}} :
						{{description.updatedAt | dateTimeFormatter: 'short'}}
					</div>
				</div>
			</div>
		</div>
	</div>
    <div class="row pt-1">
        <div class="col-12 col-lg-8 main-body">
            <div class="description" *ngIf="description.description">
                <span class="desc-txt" id="description-text" [innerHTML]="showLongDescription() ? description.description : minimizedDescription"></span>
                @if(minimizedDescription?.length){
                    <div class="link-color d-flex justify-content-center show-more" role="button" (click)="toggleShowDescription()">
                        {{(!showLongDescription() ? 'GENERAL.ACTIONS.SHOW-MORE' : 'GENERAL.ACTIONS.SHOW-LESS') | translate | lowercase}}
                    </div>
                }
            </div>
            @if(referenceService.hasRerefenceOfTypes(description?.plan?.planReferences, [referenceTypeService.getGrantReferenceType()])){
                <div class="grant">
                <div class="header">
                    {{'DESCRIPTION-OVERVIEW.GRANT' | translate}}
                </div>
                    <div>
                        {{referenceService.getReferencesForTypesFirstSafe(description?.plan?.planReferences, [referenceTypeService.getGrantReferenceType()])?.reference?.label}}
                    </div>
                </div>
            }
            <div class="researchers">
                <div class="header">
                    {{'DESCRIPTION-OVERVIEW.RESEARCHERS' | translate}}
                </div>
                @if(researchers?.length){
                    <div class="d-flex flex-wrap">
                        @for(planReference of researchers; track $index; let last = $last; let index = $index){
                            @if(index < RESARCHER_PAGE_SIZE || showMoreResearchers()){
                                @if(isOrcid(planReference.reference)){
                                    <a href="{{ getOrcidPathForResearcher(planReference.reference?.reference) }}" target="blank" class="researcher align-items-center">
                                        <span class="id-btn"  [matTooltip]="unauthorizedTootipText" matTooltipPosition="below">&nbsp;</span>
                                        <span>{{ planReference.reference?.label }}<span *ngIf="!last">,&nbsp;</span></span>
                                    </a>
                                }@else{
                                    <span>{{ planReference.reference?.label }}<span *ngIf="!last">,&nbsp;</span></span>
                                }
                            }
                        }
                        <span class="link-color d-flex justify-content-center show-more" *ngIf="researchers?.length > RESARCHER_PAGE_SIZE" role="button" (click)="toggleShowMoreResearchers()">
                            {{(!showMoreResearchers() ? 'GENERAL.ACTIONS.SHOW-MORE' : 'GENERAL.ACTIONS.SHOW-LESS') | translate | lowercase}}
                        </span>
                    </div>
                }@else {
                    <mat-icon>horizontal_rule</mat-icon>
                }
            </div>
            @if(description.plan){
                <div class="row">
                    <div class="col-12 header">
                        {{'DESCRIPTION-OVERVIEW.PART-OF' | translate}}
                    </div>
                    <div class="col-12 col-lg-10">
                        <a class="w-100 plan-btn"
                            [routerLink]="planRoute(description.plan)"
                            aria-label="{{('ALT-TEXT.OPEN-PLAN-OVERVIEW-FOR' | translate) + ' ' + description.plan.label}}"
                            target="_blank"
                            [ngStyle]="{'background-color': description.plan.status?.definition?.statusColor}"
                        >
                            <div class="w-100 d-flex align-items-center justify-content-between pl-3 pr-3">
                                <div class="plan-btn-label">
                                    {{ description.plan.label }}
                                </div>
                                <mat-icon aria-hidden>launch</mat-icon>
                            </div>
                        </a>
                    </div>
                </div>
            }
        </div>
        <div class="col-12 col-lg-4 side-actions">
            <mat-tab-group class="frame">
                <mat-tab [label]="'DESCRIPTION-OVERVIEW.DESCRIPTION-AUTHORS' | translate">
                    <div class="tab-body d-block">
                        <app-plan-authors
                            [planUsers]="description.plan?.planUsers"
                            [planBlueprint]="description.plan?.blueprint"
                            [username]="userName"
                            [removeUser]="canAssignPlanUsers"
                            (deleteAuthor)="removeUserFromPlan($event)"
                        />
                        @if(!isPublicView && canInvitePlanUsers){
                            <button class="mt-2" mat-flat-button (click)="openShareDialog()">
                                <mat-icon aria-hidden>group_add</mat-icon>
                                {{'DESCRIPTION-OVERVIEW.ACTIONS.INVITE-SHORT' | translate}}
                            </button>
                        }
                    </div>
                </mat-tab>
                @let availableEvaluators = evaluatorService.availableEvaluatorsFor(evaluatorEntityTypeEnum.Description);
                <mat-tab [label]="'PLAN-OVERVIEW.EVALUATION' | translate" *ngIf="descriptionEvaluations?.length || (availableEvaluators?.length && !isPublicView)">
                    <div class="tab-body">
                        <div class="header m-0">
                            {{'PLAN-OVERVIEW.EVALUATION-HISTORY' | translate}}
                        </div>
                        <div class="history">
                            <app-plan-evaluation-history [evaluations]="planEvaluations"/>
                        </div>
                        @if(!isPublicView && availableEvaluators){
                            <span class="fit-content" [matTooltip]="'PLAN-OVERVIEW.DISABLED-TOOLTIP.EVALUATION' | translate" [matTooltipDisabled]="canEvaluate">
                                <button
                                    mat-flat-button
                                    [disabled]="!canEvaluate"
                                    [matMenuTriggerFor]="rankMenu"
                                >
                                    {{ 'PLAN-OVERVIEW.ACTIONS.EVALUATE' | translate }}
                                    <mat-icon aria-hidden iconPositionEnd>arrow_drop_down</mat-icon>
                                </button>
                            </span>
                            <mat-menu #rankMenu="matMenu" xPosition="before">
                                <button mat-menu-item *ngFor='let evaluator of availableEvaluators'
                                    (click)="onEvaluateDescription(description.id, evaluator.evaluatorId, evaluator.format, evaluator.rankConfig, evaluator.availableBenchmarks, isPublicView)">
                                    <span class="evaluator-id pr-2">{{ (evaluator.evaluatorId?.toUpperCase()) | translate }}</span>
                                    <img *ngIf="evaluator.hasLogo" class="evaluator-logo" [src]="logos.get(evaluator.evaluatorId)">
                                    <img *ngIf="!evaluator.hasLogo" class="evaluator-logo" src="assets/images/repository-placeholder.png">
                                </button>
                            </mat-menu>
                        }
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>

    <ng-template #statusTemplate let-status="status">
        <div>
            {{ status.action?.length > 0 ? status.action : status.name }}
        </div>
    </ng-template>

    <ng-template #actionsTemplate>
        @if(!isPublicView){
            <button mat-flat-button color="primary" (click)="editClicked()">
                <div  class="d-flex justify-content-center align-items-center gap-quarter-rem">
                    @if(isActive && (canEdit || canAnnotate) && isNotFinalizedDescription(description) && !isLocked){
                        <mat-icon aria-hidden class="mat-mini-fab-icon">create</mat-icon>
                        <span>{{'PLAN-OVERVIEW.ACTIONS.EDIT' | translate}}</span>
                    }@else {
                        <mat-icon aria-hidden class="mat-mini-fab-icon">visibility</mat-icon>
                        <span>{{'PLAN-OVERVIEW.ACTIONS.PREVIEW' | translate}}</span>
                    }
                </div>
            </button>
            @if(isAuthenticated() && isActive && canEditStatus && description.availableStatuses?.length > 0 && !isLocked && isNotFinalizedPlan(description) && description.belongsToCurrentTenant){
                @if(description.availableStatuses.length > 1){
                    <button mat-button class="primary-container-btn" [matMenuTriggerFor]="statusesMenu">
                        <div class="d-flex align-items-center gap-quarter-rem">
                            <span>{{'PLAN-OVERVIEW.ACTIONS.CHANGE-STATUS' | translate}}</span>
                            <mat-icon aria-hidden>arrow_drop_down</mat-icon>
                        </div>
                    </button>
                    <mat-menu #statusesMenu="matMenu">
                        <button mat-menu-item *ngFor="let status of description.availableStatuses" (click)="persistStatus(status, description)" [attr.aria-label]="status.action?.length > 0 ? status.action : status.name">
                            <ng-container *ngTemplateOutlet="statusTemplate; context: {status: status}"></ng-container>
                        </button>
                    </mat-menu>
                } @else{
                    @let status = description.availableStatuses[0];
                    <button mat-button class="primary-container-btn" (click)="persistStatus(status, description)" [attr.aria-label]="status.action?.length > 0 ? status.action : status.name">
                        <ng-container *ngTemplateOutlet="statusTemplate; context: {status}"></ng-container>
                    </button>
                }
            }
        }
        <button mat-icon-button class="primary-container-btn" [matMenuTriggerFor]="moreActionsMenu" [attr.aria-label]="'ALT-TEXT.MORE-ACTIONS' | translate">
            <mat-icon>more_horiz</mat-icon>
        </button>
        <mat-menu #moreActionsMenu="matMenu" xPosition="before">
            @if(canExport && fileTransformerService.availableFormatsFor(fileTransformerEntityTypeEnum.Description)?.length){
                <button  mat-menu-item [attr.aria-label]="'ALT-TEXT.OPEN-MENU' | translate" [matMenuTriggerFor]="exportMenu">
                    <div class="d-flex align-items-center mr-2">
                        <mat-icon class="mat-mini-fab-icon">download</mat-icon>
                        {{ 'DESCRIPTION-OVERVIEW.ACTIONS.EXPORT' | translate }}
                    </div>
                </button>
                <mat-menu #exportMenu="matMenu"  xPosition="after">
                    @for(fileTransformer of fileTransformerService.availableFormatsFor(fileTransformerEntityTypeEnum.Description); track $index; let i = $index) {
                        @for (fileFormat of fileTransformer.exportVariants; track $index; let j = $index) {
                            <button mat-menu-item (click)="fileTransformerService.exportDescription(description.id, fileTransformer.fileTransformerId, fileFormat.format, isPublicView)">
                                <i class="fa pr-2" [ngClass]="fileFormat.icon ? fileFormat.icon : 'fa-file-o'"></i>
                                @if (fileFormat?.format?.toUpperCase() === 'JSON') {
                                    <span>{{ 'GENERAL.FILE-TRANSFORMER.' + fileTransformer?.fileTransformerId?.toUpperCase() + '-' + fileFormat?.format?.toUpperCase() | translate }}</span>
                                } @else {
                                    <span>{{ 'GENERAL.FILE-TRANSFORMER.' + fileFormat?.format?.toUpperCase() | translate }}</span>
                                }
                            </button>
                        }
                    }
                </mat-menu>
            }
            @if(canCopy){
                <button mat-menu-item (click)="openCopyToPlanDialog()()">
                    <div class="d-flex align-items-center gap-quarter-rem">
                        <mat-icon class="mat-mini-fab-icon" aria-hidden>content_copy</mat-icon>
                        <span>{{'PLAN-OVERVIEW.ACTIONS.DUPLICATE' | translate}}</span>
                    </div>
                </button>
            }
            @if(canDelete && !isLocked){
                <button mat-menu-item (click)="deleteClicked()">
                    <div class="d-flex align-items-center gap-quarter-rem">
                        <mat-icon class="mat-mini-fab-icon" aria-hidden>delete</mat-icon>
                        <span>{{'PLAN-OVERVIEW.ACTIONS.DELETE' | translate}}</span>
                    </div>
                </button>
            }
        </mat-menu>
    </ng-template>
    <!-- TODO: where to move this in the new UI -->
    <!-- <p class="ml-0 mb-0 label2-txt">{{ enumUtils.toPlanUserRolesString(planService.getCurrentUserRolesInPlan(description?.plan?.planUsers)) }}</p> -->

    <!--
    <div class="row">
        <div class="col-12 col-lg-8 pl-2">
            <div class="row d-flex align-items-center mt-3 mb-4 label-txt">
                <div *ngIf="!isPublicView" class="col-auto d-flex">
                    <p class="ml-0 mb-0 label2-txt">{{ enumUtils.toPlanUserRolesString(planService.getCurrentUserRolesInPlan(description?.plan?.planUsers)) }}</p>
                </div>
                <div *ngIf="canEdit" class="col-auto"><span>.</span></div>
                <div *ngIf="description.status.internalStatus === descriptionStatusEnum.Finalized && description.plan.accessType === planAccessTypeEnum.Public" class="col-auto d-flex">
                    <mat-icon class="status-icon" aria-hidden>public</mat-icon>
                    {{'DESCRIPTION-OVERVIEW.PUBLIC' | translate}}
                </div>
                <div *ngIf="description.status.internalStatus === descriptionStatusEnum.Finalized && description.plan.accessType === planAccessTypeEnum.Public" class="col-auto d-flex"><span>.</span></div>
                <div *ngIf="isLocked" class="col-auto d-flex flex-row">
                    <mat-icon class="status-icon" aria-hidden>lock_outline</mat-icon>
                    {{'DESCRIPTION-OVERVIEW.LOCKED' | translate}}
                </div>
                <div *ngIf="isLocked" class="col-auto"><span>.</span></div>
                <div class="col-auto d-flex mr-2" [class.deleted-item]="!isActive">
                    {{(isActive ? 'DESCRIPTION-OVERVIEW.EDITED' : 'DESCRIPTION-OVERVIEW.DELETED') | translate}} :
                    {{description.updatedAt | dateTimeFormatter: "d MMMM y"}}
                </div>
                <div *ngIf="description.status.internalStatus === descriptionStatusEnum.Finalized" class="col-auto d-flex">
                    <div class="d-flex flex-row uppercase">
                        <mat-icon class="status-icon check-icon" aria-hidden>check</mat-icon>
                        {{'DESCRIPTION-OVERVIEW.FINALISED' | translate}}
                    </div>
                </div>
            </div>
            <div class="row mb-4 pb-3">
                <div class="col-auto pr-0">
                    @if(isActive && (canEdit || canAnnotate) && isNotFinalizedDescription(description) && !isLocked){
                        <button (click)="editClicked()" mat-mini-fab color="accent" class="mr-3 actions-btn" matTooltip="{{'DESCRIPTION-OVERVIEW.ACTIONS.EDIT' | translate}}" matTooltipPosition="above" [attr.aria-label]="'DESCRIPTION-OVERVIEW.ACTIONS.EDIT' | translate">
                            <mat-icon class="mat-mini-fab-icon" aria-hidden>create</mat-icon>
                        </button>
                    }@else {
                        @if(!isPublicView){
                            <button (click)="editClicked()" mat-mini-fab color="accent" class="mr-3 actions-btn" matTooltip="{{'DESCRIPTION-OVERVIEW.ACTIONS.PREVIEW' | translate}}" matTooltipPosition="above" [attr.aria-label]="'DESCRIPTION-OVERVIEW.ACTIONS.PREVIEW' | translate">
                                <mat-icon class="mat-mini-fab-icon" aria-hidden>visibility</mat-icon>
                            </button>
                        }
                    }
                </div>
                <div *ngIf="canCopy" class="col-auto pr-0">
                    <button (click)="openCopyToPlanDialog()" mat-mini-fab color="accent" class="mr-3 actions-btn" matTooltip="{{'DESCRIPTION-OVERVIEW.ACTIONS.CLONE' | translate}}" matTooltipPosition="above" [attr.aria-label]="'DESCRIPTION-OVERVIEW.ACTIONS.CLONE' | translate">
                        <mat-icon class="mat-mini-fab-icon" aria-hidden>content_copy</mat-icon>
                    </button>
                </div>
                <div *ngIf="canDelete && !isLocked" class="col-auto pr-0">
                    <button (click)="deleteClicked()" mat-mini-fab color="accent" class="mr-3 actions-btn" matTooltip="{{'DESCRIPTION-OVERVIEW.ACTIONS.DELETE' | translate}}" matTooltipPosition="above" [attr.aria-label]="'DESCRIPTION-OVERVIEW.ACTIONS.DELETE' | translate">
                        <mat-icon class="mat-mini-fab-icon" aria-hidden>delete</mat-icon>
                    </button>
                </div>
            </div>
            <div class="row header">
                <div class="col-auto">{{'DESCRIPTION-OVERVIEW.PART-OF' | translate}}</div>
            </div>
            <div class="row" *ngIf="description?.plan">
                <div class="col-12 col-lg-7 p-0">
                    <a class="w-100 plan-btn ml-2 pl-3 pr-3"
                        [routerLink]="planRoute(description.plan)"
                        aria-label="{{('ALT-TEXT.OPEN-PLAN-OVERVIEW-FOR' | translate) + ' ' + description.plan.label}}"
                        target="_blank"
                    >
                        <div class="plan-btn-label">
                            {{ description.plan.label }}
                        </div>
                        <mat-icon aria-hidden>launch</mat-icon>
                    </a>
                </div>
            </div>
            <ng-container *ngIf="referenceService.hasRerefenceOfTypes(description?.plan?.planReferences, [referenceTypeService.getGrantReferenceType()])">
                <div class="row header mt-3">
                    <div class="col-auto">{{'DESCRIPTION-OVERVIEW.GRANT' | translate}}</div>
                </div>
                <div class="row grant-title">
                    <div class="col-auto">{{referenceService.getReferencesForTypesFirstSafe(description?.plan?.planReferences, [referenceTypeService.getGrantReferenceType()])?.reference?.label}}</div>
                </div>
            </ng-container>
            <div class="row header mt-3">
                <div class="col-auto">{{'DESCRIPTION-OVERVIEW.RESEARCHERS' | translate}}</div>
            </div>
            <div class="row gap-quarter-rem">
                <div class="col-12" *ngFor="let planReference of researchers let last = last">
                    <span *ngIf="isOrcid(planReference.reference)">
                        <a href="{{ getOrcidPathForResearcher(planReference.reference?.reference) }}" target="blank" class="researcher align-items-center">
                            <div class="id-btn" [matTooltip]="unauthorizedTootipText">&nbsp;</div>
                            <div *ngIf="!last">{{ planReference.reference?.label }}, </div>
                            <div *ngIf="last">{{ planReference.reference?.label }}</div>
                        </a>
                    </span>
                    <span *ngIf="!isOrcid(planReference.reference)">
                        <div *ngIf="!last">{{ planReference.reference?.label }}, </div>
                        <div *ngIf="last">{{ planReference.reference?.label }}</div>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <span *ngIf="!researchers || researchers.length === 0" class="material-icons">horizontal_rule</span>
                </div>
            </div>
            <div class="row header mt-3">
                <div class="col-auto">{{'DESCRIPTION-OVERVIEW.DESCRIPTION' | translate}}</div>
            </div>
            <div class="row" *ngIf="description.description">
                <div class="col-12">
                    <p [innerHTML]="description.description"></p>
                </div>
            </div>
            <div class="row" *ngIf="!description.description">
                <div class="col-12">
                    <span class="material-icons">horizontal_rule</span>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <ng-container *ngIf="isAuthenticated() && isActive">
                <div class="row">
                    <div class="col-12">
                        <div class="frame mb-3 pt-4 pl-4 pr-5 pb-3">
                            <ng-container *ngIf="canEditStatus && description.availableStatuses && description.availableStatuses.length > 0 && !isLocked && isNotFinalizedPlan(description) && description.belongsToCurrentTenant != false">
                                <div *ngFor='let status of description.availableStatuses'>
                                    <div class="row align-items-center">
                                        <div class="col-auto pr-0" aria-hidden>
                                            @if(status.definition?.storageFile?.id && statuslogos.get(status.definition.storageFile.id)) {
                                                <button (click)="persistStatus(status)" mat-mini-fab class="primary-btn" [attr.aria-label]="status.action?.length > 0 ? status.action : status.name">
                                                    <img class="status-logo" [src]="statuslogos.get(status.definition.storageFile.id)">
                                                </button>
                                            }
                                            @else if(status.internalStatus === descriptionStatusEnum.Finalized && description.status?.internalStatus != descriptionStatusEnum.Finalized){
                                                <button (click)="persistStatus(status, description)" mat-mini-fab color="basic" class="finalize-btn" [attr.aria-label]="status.action?.length > 0 ? status.action : status.name">
                                                    <mat-icon *ngIf="status.definition?.matIconName === undefined || status.definition?.matIconName?.length == 0" class="mat-mini-fab-icon check-icon" >check</mat-icon>
                                                    <mat-icon *ngIf="status.definition?.matIconName?.length > 0" class="mat-mini-fab-icon check-icon" >{{status.definition?.matIconName}}</mat-icon>
                                                </button>
                                            }
                                            @else if(description.status?.internalStatus === descriptionStatusEnum.Finalized){
                                                <button (click)="persistStatus(status, description)" mat-mini-fab color="basic" class="finalize-btn" [attr.aria-label]="status.action?.length > 0 ? status.action : status.name">
                                                    <mat-icon *ngIf="!status.definition?.matIconName" class="mat-mini-fab-icon" >unarchive</mat-icon>
                                                    <mat-icon *ngIf="status.definition?.matIconName" class="mat-mini-fab-icon check-icon" >{{status.definition?.matIconName}}</mat-icon>
                                                </button>
                                            }
                                            @else if((status.definition?.matIconName === undefined || status.definition?.matIconName?.length == 0 )&& !description.status.internalStatus) {
                                                <button (click)="persistStatus(status, description)" mat-mini-fab color="basic" class="finalize-btn" [attr.aria-label]="status.action?.length > 0 ? status.action : status.name">
                                                    <mat-icon class="mat-mini-fab-icon check-icon" >arrow_forward</mat-icon>
                                                </button>
                                            }
                                            @else if(status.definition?.matIconName?.length > 0) {
                                                <button (click)="persistStatus(status, description)" mat-mini-fab color="basic" class="finalize-btn" [attr.aria-label]="status.action?.length > 0 ? status.action : status.name">
                                                    <mat-icon class="mat-mini-fab-icon check-icon" >{{status.definition.matIconName}}</mat-icon>
                                                </button>
                                            }
                                        </div>
                                        <div class="col-auto pl-0">
                                            <p role="button" (click)="persistStatus(status, description)" class="mb-0 pl-2 frame-txt">{{ status.action?.length > 0 ? status.action : status.name }}</p>
                                        </div>
                                    </div>
                                    <div class="row align-items-center">
                                        <div class="col-12">
                                            <hr class="hr-line">
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="canExport && fileTransformerService.availableFormatsFor(fileTransformerEntityTypeEnum.Description).length > 0">
                                <div class="row mb-3 align-items-center">
                                    <div class="col-auto pr-0" aria-hidden>
                                        <button mat-mini-fab color="basic" class="frame-btn" [matMenuTriggerFor]="exportMenu" [attr.aria-label]="'DESCRIPTION-OVERVIEW.ACTIONS.EXPORT' | translate">
                                            <mat-icon class="mat-mini-fab-icon" aria-hidden>open_in_new</mat-icon>
                                        </button>
                                    </div>
                                    <div role="button" class="col-auto pl-0" [matMenuTriggerFor]="exportMenu">
                                        <p class="mb-0 mr-0 pl-2 frame-txt">{{ 'DESCRIPTION-OVERVIEW.ACTIONS.EXPORT' | translate }}</p>
                                    </div>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="evaluatorService.availableEvaluatorsFor(evaluatorEntityTypeEnum.Description).length > 0">
                                <div class="row mb-3 align-items-center">
                                    <div class="col-auto pr-0">
                                        <button mat-mini-fab color="basic" class="frame-btn" [matMenuTriggerFor]="rankMenu" [attr.aria-label]="'DESCRIPTION-OVERVIEW.ACTIONS.EVALUATE' | translate">
                                            <mat-icon class="mat-mini-fab-icon" aria-hidden>open_in_new</mat-icon>
                                        </button>
                                    </div>
                                    <div class="col-auto pl-0">
                                        <p role="button" class="mb-0 mr-0 pl-2 frame-txt" [matMenuTriggerFor]="rankMenu">{{ 'DESCRIPTION-OVERVIEW.ACTIONS.EVALUATE' | translate }}</p>
                                    </div>
                                </div>
                            </ng-container>

                            <mat-menu #rankMenu="matMenu" xPosition="before">
                                <button mat-menu-item *ngFor='let evaluator of evaluatorService.availableEvaluatorsFor(evaluatorEntityTypeEnum.Description)'
                                    (click)="onEvaluateDescription(description.id, evaluator.evaluatorId, evaluator.format, isPublicView)">
                                    <span class="evaluator-id pr-2">{{ (evaluator.evaluatorId?.toUpperCase()) | translate }}</span>
                                    <img *ngIf="evaluator.hasLogo" class="evaluator-logo" [src]="logos.get(evaluator.evaluatorId)">
                                    <img *ngIf="!evaluator.hasLogo" class="evaluator-logo" src="assets/images/repository-placeholder.png">
                                </button>
                            </mat-menu>

                            <mat-menu #exportMenu="matMenu" xPosition="before">
                                    <button mat-menu-item *ngFor='let fileTransformer of fileTransformerService.availableFormatsFor(fileTransformerEntityTypeEnum.Description)' (click)="fileTransformerService.exportDescription(description.id, fileTransformer.fileTransformerId, fileTransformer.format, isPublicView)">
                                            <i class="fa pr-2" [ngClass]="fileTransformer.icon ? fileTransformer.icon : 'fa-file-o'" aria-hidden></i>
                                            <span>{{'GENERAL.FILE-TRANSFORMER.' + fileTransformer.format.toUpperCase() | translate}}</span>
                                    </button>
                            </mat-menu>
                        </div>
                    </div>
                </div>
            </ng-container>
            <div class="row">
                <div class="col-12">
                    <div class="frame mb-3 pt-4 pl-3 pr-3 pb-3">
                        <div class="col-12 header">
                            {{ 'DESCRIPTION-OVERVIEW.DESCRIPTION-AUTHORS' | translate }}
                        </div>
                        <app-plan-authors
                            [planUsers]="description.plan?.planUsers"
                            [planBlueprint]="description.plan?.blueprint"
                            [username]="userName"
                            [removeUser]="canAssignPlanUsers"
                            (deleteAuthor)="removeUserFromPlan($event)"
                        />
                        <div *ngIf="canInvitePlanUsers" class="col-12 d-flex justify-content-center mt-2">
                            <button mat-raised-button class="invite-btn" (click)="openShareDialog()">
                                <mat-icon aria-hidden>group_add</mat-icon>
                                {{'DESCRIPTION-OVERVIEW.ACTIONS.INVITE-SHORT' | translate}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>
