
.dropdown-top {
  width: 0rem;
  border-bottom: 0.625rem solid #FFFFFF;
  border-left: 0.625rem solid transparent;
  border-right: 0.625rem solid transparent;
  position: fixed;
  transform:translate(15.8rem, -0.6rem);
}

.notification-popup-wrapper {
	margin: 0.5rem 1.0rem;
}

.inapp-notification-listing-dialog {
	padding-top: 0em;

	.unread{
		font-weight:bold
	}

	.secondary-text {
		color: rgba(0, 0, 0, 0.54);
	}
}
