.confirmation-dialog {
	.confirmation-message {
		padding-bottom: 20px;
	}

	.hidden {
		display: none;
	}

	.uploadButton {
		float: right;
	}

	.col-md-6 {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		margin: -4px;
	}
}