<div class="row" *ngIf="form.get('data')">
	<div class="col-12">

		<h5 style="font-weight: bold; display: inline-block; margin-right: 2em;">{{'DESCRIPTION-TEMPLATE-EDITOR.STEPS.FORM.FIELD.FIELDS.FIELD-SELECT-TITLE' | translate}}</h5>

		<ng-container *ngIf="form.get('data').get('options').dirty && form.get('data').get('options').hasError('required')">
			<mat-icon class="text-danger translateY-3">warning_amber</mat-icon>
			<small class="text-danger">{{'DESCRIPTION-TEMPLATE-EDITOR.STEPS.FORM.FIELD.ERROR-MESSAGES.FIELD-SELECT-AT-LEAST-ONE-REQUIRED' | translate}}</small>
		</ng-container>
	</div>
	<mat-checkbox class="col-auto" [formControl]="this.form.get('data').get('multipleSelect')">
		{{'DESCRIPTION-TEMPLATE-EDITOR.STEPS.FORM.FIELD.FIELDS.FIELD-MULTIPLE-WORDLIST' | translate}}
		<mat-error *ngIf="form.get('data').get('multipleSelect').hasError('backendError')">{{form.get('data').get('multipleSelect').getError('backendError').message}}</mat-error>
	</mat-checkbox>

	<mat-form-field class="col-12">
		<mat-label>{{'DESCRIPTION-TEMPLATE-EDITOR.STEPS.FORM.FIELD.FIELDS.FIELD-SELECT-PLACEHOLDER' | translate}}</mat-label>
		<input matInput type="string" [formControl]="form.get('data').get('label')">
		<mat-error *ngIf="form.get('data').get('label').hasError('backendError')">{{form.get('data').get('label').getError('backendError').message}}</mat-error>
	</mat-form-field>

	<div class="col-12">
		<div *ngFor="let option of form.get('data').get('options')['controls'] index as i" class="row">
			<mat-form-field class="col">
				<mat-label>{{'DESCRIPTION-TEMPLATE-EDITOR.STEPS.FORM.FIELD.FIELDS.FIELD-SELECT-LABEL' | translate}}</mat-label>
				<input matInput type="text" [formControl]="form.get('data').get('options').get(''+i).get('label')">
				<mat-error *ngIf="form.get('data').get('options').get(''+i).get('label').hasError('backendError')">{{form.get('data').get('options').get(''+i).get('label').getError('backendError').message}}</mat-error>
			</mat-form-field>
			<mat-form-field class="col">
				<mat-label>{{'DESCRIPTION-TEMPLATE-EDITOR.STEPS.FORM.FIELD.FIELDS.FIELD-SELECT-VALUE' | translate}}</mat-label>
				<input matInput [formControl]="form.get('data').get('options').get(''+i).get('value')" (change)="applyNewVisibilityValueListener()">
				<mat-error *ngIf="form.get('data').get('options').get(''+i).get('value').hasError('backendError')">{{form.get('data').get('options').get(''+i).get('value').getError('backendError').message}}</mat-error>
			</mat-form-field>
			<button mat-icon-button class="col-auto" (click)="deleteRow(i)" type="button" [disabled]="this.form.disabled || viewOnly">
				<mat-icon>delete</mat-icon>
			</button>
		</div>
	</div>
	<mat-error *ngIf="form.get('data').get('options').hasError('backendError')">{{form.get('data').get('options').getError('backendError').message}}</mat-error>
	<div class="col-auto"><button mat-icon-button [disabled]="this.form.disabled || viewOnly" (click)="addNewRow()">
			<mat-icon>add</mat-icon>
		</button></div>
</div>