:host ::ng-deep .href {
	color: rgb(0, 0, 238) !important;
}

:host :hover ::ng-deep .href {
	cursor: pointer !important;
}

.iframe {
	width: 100%;
	height: calc(100vh - 80px);
	margin: 0px;
	border: none;
}

:host :hover ::ng-deep .tocElement {
	cursor: pointer !important;
}

.title {
    text-align: center;
    margin: 2rem 0 0 0;
    font-size: var(--sys-display-medium-size);
}