<div class="container-fluid">
  @if (!isDialog) {
    <div class="row">
      <div class="col-md-12">
        <div class="title">{{ 'GUIDE.TITLE' | translate}}</div>
      </div>
    </div>
  }
  <div class="row">
    @if (!useInnerHTML && guideHTMLUrl) {
      <iframe class="iframe" id='userguide' [src]="guideHTMLUrl" title="user guide" (load)="onIFrameLoad(iframe)" #iframe></iframe>
    }
    @if (useInnerHTML) {
      <span #guide id='userguide' [innerHTML]="guideHTML"></span>
    }
  </div>
</div>
