.user-role-editor {
	align-items: center;
	margin-top: 1.125rem;
	justify-content: space-between;
	padding-left: 15px;
	padding-right: 15px;
    font-size: var(--sys-body-small-size);

	.roles {
		min-width: 90px;
		display: flex;
		flex-direction: column;
	}

	.roles-width-180 {
		width: 180px;
		margin-right: 8px;
	}

	.user-role{
		text-align: center;
		width: auto;
		padding-left: 10px;
		padding-right: 10px;
		display: inline-block;
        min-width: 3rem;
		border-radius: 44px;
        margin-top: 0.5em;
		margin-bottom: 0.5em;
	}
}

:host ::ng-deep .mat-form-field-wrapper {
	background-color: white !important;
	padding-bottom: 0 !important;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
	padding: 0.3rem 0rem 0.6rem 0rem !important;
}
