<div class="container-fluid">
	<div mat-dialog-title class="row d-flex mt-3">
		<div class="col">
			<span class="mr-3 title">{{'GENERAL.FORM-VALIDATION-DISPLAY-DIALOG.WARNING' | translate}}</span>
		</div>
		<div class="col-auto">
			<button mat-icon-button tabindex="-1" (click)="onClose()"><mat-icon>close</mat-icon></button>
		</div>
	</div>
	<div class="row mt-3 mr-3 mb-3">
		<div class="col-12">
			<ng-container *ngIf="errorMessages">
				<ul class="error-list" *ngIf="errorMessages.length > 1 else singleError">
					<li *ngFor="let error of errorMessages">{{error}}</li>
				</ul>
			</ng-container>
			<ng-template #singleError>
				<span>{{errorMessages[0]}}</span>
			</ng-template>
		</div>
	</div>
	<div class="row mt-3 mb-3">
		<div class="ml-auto col-auto">
			<button mat-button type="button" tabindex="-1" class="rounded-btn neutral" (click)="onClose()">{{'GENERAL.FORM-VALIDATION-DISPLAY-DIALOG.ACTIONS.CANCEL' | translate}}</button>
		</div>
	</div>
</div>
