@if (formGroup) {
  <div class="user-invite-to-tenant-dialog container-fluid">
    <div  mat-dialog-title class="d-flex align-items-center">
      <div>{{'USER-INVITE-TO-TENANT-DIALOG.TITLE' | translate}}</div>
      <button class="ml-auto" mat-icon-button (click)="closeDialog()" [attr.aria-label]="'ALT-TEXT.CLOSE-DIALOG'  | translate">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div mat-dialog-content class="row">
      @for (user of formGroup.get('users').controls; track user; let userIndex = $index) {
        <div class="row align-items-center mb-2">
          <div class="col-12 col-xl mt-3">
            <mat-form-field class="w-100">
              <mat-label>{{'USER-INVITE-TO-TENANT-DIALOG.FIELDS.EMAIL' | translate}}</mat-label>
              <input matInput type="text" name="email" [formControl]="user.get('email')">
              @if (user.get('email').hasError('backendError')) {
                <mat-error>{{user.get('email').getError('backendError').message}}</mat-error>
              }
              @if (user.get('email').hasError('required')) {
                <mat-error>{{'GENERAL.VALIDATION.REQUIRED' | translate}}</mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-12 col-xl mt-3">
            <mat-form-field class="w-100">
              <mat-label>{{'USER-INVITE-TO-TENANT-DIALOG.FIELDS.ROLES' | translate}}</mat-label>
              <mat-select multiple [formControl]="user.get('roles')">
                <mat-option [value]="appRoleEnum.TenantAdmin">{{enumUtils.toAppRoleString(appRoleEnum.TenantAdmin)}}</mat-option>
                <mat-option [value]="appRoleEnum.TenantPlanManager">{{enumUtils.toAppRoleString(appRoleEnum.TenantPlanManager)}}</mat-option>
                <mat-option [value]="appRoleEnum.TenantConfigManager">{{enumUtils.toAppRoleString(appRoleEnum.TenantConfigManager)}}</mat-option>
                <mat-option [value]="appRoleEnum.TenantUser">{{enumUtils.toAppRoleString(appRoleEnum.TenantUser)}}</mat-option>
              </mat-select>
              @if (user.get('roles').hasError('backendError')) {
                <mat-error>{{user.get('roles').getError('backendError').message}}</mat-error>
              }
              @if (user.get('roles').hasError('required')) {
                <mat-error>{{'GENERAL.VALIDATION.REQUIRED' | translate}}</mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-12 col-xl-auto">
            <button mat-icon-button class="action-list-icon" matTooltip="{{'USER-INVITE-TO-TENANT-DIALOG.ACTIONS.REMOVE-USER' | translate}}" (click)="removeUser(userIndex)" [disabled]="formGroup.get('users').controls.length == 1" [attr.aria-label]="'USER-INVITE-TO-TENANT-DIALOG.ACTIONS.REMOVE-USER' | translate">
              <mat-icon aria-hidden>delete</mat-icon>
            </button>
          </div>
        </div>
      }
      @if (formGroup.get('users').dirty && formGroup.get('users').hasError('required')) {
        <mat-error>{{'USER-INVITE-TO-TENANT-DIALOG.USERS-REQUIRED' | translate}}</mat-error>
      }
      @if (formGroup.get('users').hasError('backendError')) {
        <mat-error>{{formGroup.get('users').getError('backendError').message}}</mat-error>
      }
      <div class="row">
        <div class="col-12">
          <button mat-icon-button (click)="addUser()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div mat-dialog-actions class="row d-flex">
      <div class="col-auto ml-auto">
        <button mat-stroked-button color="primary" [disabled]="inProgressSendButton || !formGroup.valid" (click)="send()" type="button" class="padded-shadow-btn primary-inverted-hover">{{'USER-INVITE-TO-TENANT-DIALOG.ACTIONS.INVITE' | translate}}</button>
        @if (formGroup.get('users').hasError('backendError')) {
          <mat-error>{{formGroup.get('users').getError('backendError').message}}</mat-error>
        }
        @if (formGroup.get('users').hasError('required')) {
          <mat-error>{{'GENERAL.VALIDATION.REQUIRED' | translate}}</mat-error>
        }
      </div>
    </div>
  </div>
}
