.unstyled-btn {
    background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.table-item:hover, .table-label-element:focus {
    background: rgb(0, 0, 0, 0.05);
    border-radius: 4px;
}

.link-info{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.border-left-active{
  border-left: 1px solid #000;
}


.side-bolder{
  border-left: 1px solid (--sys-error);
}


.cdk-link-list {

  display: block;
  overflow: hidden;
}

.delete-btn {
    cursor: pointer;
}


.badge-ball{
  display: inline-block;
  border-radius: 50%;
  background-color: var(--sys-primary);
  color: var(--sys-on-primary);
  font-size: small;
  font-weight: bold;
  text-align: center;
  width: 1.2rem;
  height: 1.2rem;
}

.table-label-element{
  cursor: pointer;
}


.table-label-element-active{
  font-weight: bold;
}
.add-input-icon{
  width: 20px;
}

.link-info-error {
  color: (--sys-error);
}