<div class="main-content">
	<div class="container-fluid description-editor">
		<form *ngIf="formGroup" [formGroup]="formGroup">
			<!-- Description Header -->
			<div class="fixed-editor-header">
				<div class="card description-editor-header">
					<div class="col-12">
						<div class="row">
							<div class="col info">
                                @if(!viewOnly){
									<div *ngIf="isNew" class="description-title">{{'DESCRIPTION-EDITOR.TITLE-ADD-DESCRIPTION' | translate}}</div>
									<div *ngIf="!isNew" class="description-title">{{'DESCRIPTION-EDITOR.TITLE-EDIT-DESCRIPTION' | translate}}</div>
									<div class="description-subtitle">
                                        {{ formGroup.get('label').value }} <span *ngIf="isDirty()" class="description-changes">{{'DESCRIPTION-EDITOR.UNSAVED-CHANGES' | translate}}</span>
                                    </div>
                                }@else {
                                    <div class="description-title">{{'DESCRIPTION-EDITOR.TITLE-PREVIEW-DESCRIPTION' | translate}}</div>
                                }
								<div *ngIf="item?.plan?.id" class="d-flex flex-direction-row plan-info">
									<div class="col-auto description-to-plan">{{'DESCRIPTION-EDITOR.TO-PLAN' | translate}}</div>
									<div class="plan-title p-0">:&nbsp;{{ item?.plan?.label }}</div>
									<div class="col-auto d-flex align-items-center">
										<a [routerLink]="routerUtils.generateUrl(['/plans/overview/', item.plan.id])" target="_blank" class="pointer open-in-new-icon">
											<mat-icon class="size-18">open_in_new</mat-icon>
										</a>
									</div>
								</div>
							</div>
							<div class="col-auto">
								<div class="row h-100">

									<div class="col-auto d-flex align-items-center">
										<button *ngIf="formGroup.get('id').value" [disabled]="isDirty()" [matTooltipDisabled]="!isDirty()" mat-button class="rounded-btn neutral" type="button" [matMenuTriggerFor]="exportMenu" (click)="$event.stopPropagation();" [matTooltip]="'DESCRIPTION-EDITOR.ACTIONS.EXPORT.CAN-NOT-EXPORT' | translate">
											{{ 'DESCRIPTION-EDITOR.ACTIONS.EXPORT.EXPORT' | translate }}
											<mat-icon [disabled]="isDirty()" style="width: 14px;" iconPositionEnd>expand_more</mat-icon>
										</button>
										<mat-menu #exportMenu="matMenu" xPosition="before">
											<button mat-menu-item *ngFor='let fileTransformer of fileTransformerService.availableFormatsFor(fileTransformerEntityTypeEnum.Description)' (click)="fileTransformerService.exportDescription(formGroup.get('id').value, fileTransformer.repositoryId, fileTransformer.format)">
												<i class="fa pr-2" [ngClass]="fileTransformer.icon ? fileTransformer.icon : 'fa-file-o'"></i>
												<span>{{'GENERAL.FILE-TRANSFORMER.' + fileTransformer?.format?.toUpperCase() | translate}}</span>
											</button>
										</mat-menu>
									</div>


									<mat-divider *ngIf="formGroup.get('id').value && canEdit && (!viewOnly || (!isLocked && canEdit && !viewOnly) || isLocked || (hasReversableStatus() && !isLocked))" [vertical]="true" class="ml-2 mr-2"></mat-divider>

									<div *ngIf="!isPristine() && !viewOnly" class="col-auto d-flex align-items-center pr-0">
										<button [disabled]="saving" type="button" mat-button class="rounded-btn description-discard-btn" (click)="discardChanges()">
											{{'DESCRIPTION-EDITOR.ACTIONS.DISCARD.DISCARD' | translate}}
										</button>
									</div>
									<div class="col-auto d-flex align-items-center">
										<button [disabled]="saving" *ngIf="canEdit && !isLocked && !viewOnly && hasReversableStatus() == false" mat-button class="rounded-btn neutral mr-2" type="button">
											<span class="d-flex flex-row row">
												<span (click)="!saving?formSubmit():null" class="col">{{ 'DESCRIPTION-EDITOR.ACTIONS.SAVE' | translate }}</span>
												<mat-divider [vertical]="true"></mat-divider>
												<span *ngIf="!saving" class="align-items-center justify-content-center col d-flex" (click)="$event.stopPropagation();" [matMenuTriggerFor]="menu">
													<mat-icon>expand_more</mat-icon>
												</span>
												<span *ngIf="saving" class="align-items-center justify-content-center col d-flex">
													<mat-icon>expand_more</mat-icon>
												</span>
											</span>
										</button>
										<mat-menu #menu="matMenu">
											<button [disabled]="saving" mat-menu-item (click)="saveAndClose()" type="button">{{ 'DESCRIPTION-EDITOR.ACTIONS.SAVE-AND-CLOSE' | translate }}</button>
											<button [disabled]="saving" mat-menu-item (click)="saveAndContinue()" type="button">{{ 'DESCRIPTION-EDITOR.ACTIONS.SAVE-AND-CONTINUE' | translate }}</button>
										</mat-menu>
										<button [disabled]="saving" *ngIf="canEdit && !isLocked && !viewOnly && hasReversableStatus() == false && canEdit" mat-button class="rounded-btn neutral mr-2" type="button" (click)="finalize()">{{ 'DESCRIPTION-EDITOR.ACTIONS.FINALIZE' | translate }}</button>
										<button [disabled]="saving" *ngIf="isLocked" mat-button disabled class="rounded-btn neutral cursor-default" type="button">{{ 'PLAN-OVERVIEW.LOCKED' | translate}}</button>
										<button [disabled]="saving" *ngIf="hasReversableStatus() && !isLocked && canEdit" mat-button class="rounded-btn neutral mr-2" (click)="reverse()" type="button">{{ 'DESCRIPTION-EDITOR.ACTIONS.REVERSE' | translate }}</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div *ngIf="!isNewDescriptionDialogOpen" class="container-fluid">
				<div class="row pt-2">
					<div class="col-12">
						<app-navigation-breadcrumb />
					</div>
				</div>
			
				<div class="row editor-content">
					<div style="width: 22em;" class="d-flex flex-column">
						<div class="stepper-back row">
							<div class="col-auto d-flex align-items-center back-to-plan" (click)="backToPlan(this.formGroup.get('planId').value)">
								<mat-icon class="back-icon pointer">chevron_left</mat-icon>
								<span class="pointer">{{'DESCRIPTION-EDITOR.ACTIONS.BACK-TO' | translate}}</span>
							</div>
							<div class="col-auto plan-label ml-1">{{'DESCRIPTION-EDITOR.PLAN' | translate}}</div>
						</div>
						<div class="row stepper-title">
							<div class="col-12 pl-0 mb-1"><span>{{'DESCRIPTION-EDITOR.TOC.TITLE' | translate}}</span></div>
						</div>
						<div class="row stepper-options" id="stepper-options">
							<div class="col-12">
								<div class="container stepper-list ml-1">
									<div class="row" *ngIf="!descriptionInfoValid()">
										<div (click)="table0fContents.onToCentrySelected()" class="col-12 main-info" [ngClass]="{'active': reachedBase, 'text-danger': countErrorsOfBaseInfoPage > 0}">{{'DESCRIPTION-EDITOR.TOC.MAIN-INFO' | translate}} <span *ngIf="countErrorsOfBaseInfoPage > 0">({{ countErrorsOfBaseInfoPage }})</span></div>
									</div>
									<div class="row" *ngIf="descriptionInfoValid()">
										<div (click)="table0fContents.onToCentrySelected()" class="col-12 main-info" [ngClass]="{'active': reachedBase}">{{'DESCRIPTION-EDITOR.TOC.MAIN-INFO' | translate}} (<mat-icon class="done-icon">done</mat-icon>)</div>
									</div>
									<div class="row toc-pane-container">
										<div></div>
										<div class="col-12">
											<app-table-of-contents 
												*ngIf="formGroup" 
												stickyThing 
												[visibilityRulesService]="visibilityRulesService" 
												[showErrors]="showTocEntriesErrors" 
												[hasFocus]="reachedBase == false" 
												[formGroup]="formGroup.get('properties')" 
												[descriptionTemplate]="item.descriptionTemplate" 
												[anchorFieldsetId]="anchorFieldsetId"
												(entrySelected)="changeStep($event.entry, $event.execute)" 
												#table0fContents 
											></app-table-of-contents>

										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="row mb-4">
							<div class="col-12">
								<div class="row mt-3 stepper-actions justify-content-center">
									<div class="col-auto mb-1">
										<button mat-button type="button" class="rounded-btn neutral stepper mr-2" [disabled]="reachedBase" (click)="previousStep()">
											<span class="material-icons">chevron_left</span>
											<div>{{'DESCRIPTION-EDITOR.TOC.PREVIOUS' | translate}}</div>
										</button>
									</div>
                                    <div class="col-auto mb-1">
                                        @if(reachedLast){
                                            @if(!isLocked && formGroup.get('descriptionTemplateId').value && !viewOnly) {
                                                <button mat-button [disabled]="saving" (click)="saveAndClose()" mat-button type="button" class="rounded-btn secondary ml-auto">
                                                    {{ 'DESCRIPTION-EDITOR.ACTIONS.SAVE-AND-CLOSE' | translate }}
                                                </button>
                                            }
                                        }@else{
                                            <button mat-button type="button" class="rounded-btn secondary stepper ml-auto" (click)="nextStep()" [disabled]="!formGroup.get('descriptionTemplateId').value">
                                                <div>{{'DESCRIPTION-EDITOR.TOC.NEXT' | translate}}</div>
                                                <span class="material-icons" iconPositionEnd>chevron_right</span>
                                            </button>
                                        }
                                    </div>

								</div>
								<div class="row mb-4 mt-4" *ngIf="formGroup && !viewOnly">
									<div class="col-12">
										<app-form-progress-indication class="mt-2" [formGroup]="formGroup" [checkVisibility]="true"></app-form-progress-indication>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12 col-md form" id="description-editor-form">
						<app-description-base-fields-editor-component [hidden]="!reachedBase" [formGroup]="formGroup" [description]="item" (formChanged)="formChanged()" (refresh)="fireRefreshDataEvent($event)"></app-description-base-fields-editor-component>
						<app-description-form
						*ngIf="formGroup && formGroup.get('properties')"
						[propertiesFormGroup]="formGroup.get('properties')"
						[descriptionId]="formGroup.get('id').value"
						[descriptionTemplate]="item.descriptionTemplate"
						[visibilityRulesService]="visibilityRulesService"
						[hidden]="reachedBase"
						[linkToScroll]="linkToScroll"
						[validationErrorModel]="editorModel.validationErrorModel"
						[isNew]="isNew || isCopy"
						[canAnnotate]="canAnnotate"
						[planUsers]="item?.plan?.planUsers ?? []"
						></app-description-form>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
