.hidden{
    visibility: hidden;
    width: 0;
}

.text-black{
    color: #000000;
}

.mat-icon{
    font-size: 1rem;
    height: 1rem;
}

.breadcrumb-container {
    text-overflow: ellipsis;
    max-width: min(50ch, 90%);
    text-wrap: nowrap;
    overflow: hidden;
    .current-item{
        font-weight: bold;
    }
}

.breadcrumb-item {

    &.text-padding {
        padding: 0.25rem 0.5rem;
    }
    &.icon-padding {
        padding: 0.5rem;
    }
}

.breadcrumb-item:hover, .breadcrumb-item:focus {
	background-color: rgb(0,0,0,0.05);
	border-radius: 16px;
}
