.confirmation-dialog {

	padding: 24px;
	overflow: hidden;

	.confirmation {
		padding-bottom: 20px;
	}

	.privacy-policy-names {
		font-weight: 700;
		padding: 1em;
	}

	.checkbox-privacy {
		padding: 0em 1em;
	}

	.required-policy {
		padding: 0em 1.2em 1em;
		font-size: smaller;
		color: var(--sys-error);
	}
}
