.notification-template-editor {
  
	.remove {
	  background-color: white;
	  color: black;
	}
  
	.add {
	  background-color: white;
	  color: #009700; //todo mchouliara
	}

    .row {
        row-gap: 0.5rem;
    }
  }

  
