<div mat-dialog-title class="d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center gap-1-rem">
        <img class="logo" src="../../../assets/images/new-plan-logo.png" onerror="style.display='none'">
        <span>{{'START-NEW-PLAN-DIALOG.TITLE' | translate}}</span>
    </div>
    <button mat-icon-button (click)="close()" class="ml-auto" [attr.aria-label]="'ALT-TEXT.CLOSE-DIALOG'  | translate">
        <mat-icon aria-hidden>close</mat-icon>
    </button>
</div>
<mat-dialog-content class="start-new-plan-dialog-wrapper">
    <div class="p-3">
        <div class="pb-3">
            {{'START-NEW-PLAN-DIALOG.MESSAGE' | translate}}
        </div>
        <div class="pt-3 d-flex flex-wrap gap-1-rem justify-content-center align-items-center">
            <button mat-button type="button" class="import-file padded-shadow-btn upload-btn d-flex flex-row align-items-center" (click)="uploadFile($event)">
                <mat-icon class="pr-2" aria-hidden>file_upload</mat-icon>
                {{ 'START-NEW-PLAN-DIALOG.IMPORT-FROM-FILE' | translate }}
            </button>
            <div class="pt-1 pb-1">
                {{ 'START-NEW-PLAN-DIALOG.OR' | translate }}
            </div>
            <button mat-flat-button color="primary" class="start-wizard padded-shadow-btn font-weight-bold d-flex flex-row align-items-center" (click)="startWizard()">
                <mat-icon class="material-icons-outlined" aria-hidden>add_box</mat-icon>
                {{ 'START-NEW-PLAN-DIALOG.START-NEW-PLAN' | translate }}
            </button>
        </div>
    </div>
</mat-dialog-content>
