.merge-account {
	height: fit-content;
	min-height: 100vh;
	background-color: var(--sys-surface);
}

.merge-account-title {
  font-size: var(--sys-headline-medium-size);
  color: var(--sys-on-surface);
  padding-top: 4.1875rem;
  padding-left: 3.75rem;
  padding-bottom: 4.0625rem;
}

.merge-account-content {
  margin-left: 9rem;
  margin-right: 11rem;
}
