<div class="p-3">
	<div mat-dialog-title class="row d-flex align-items-center">
		<div>{{ data.message }}</div>
		<div class="ml-auto">
            <button mat-icon-button (click)="cancel()" [attr.aria-label]="'ALT-TEXT.CLOSE-DIALOG'  | translate">
                <mat-icon aria-hidden>close</mat-icon>
            </button>
		</div>
	</div>
	<div mat-dialog-content>
		<div class="row">
			<div class="col-12">
				<ngx-dropzone class="drop-file" (change)="selectXML($event)" [accept]="'text/xml'" [multiple]="false">
					<ngx-dropzone-preview class="file-preview" [removable]="true" *ngIf="hasBlueprint()" (removed)="onRemove()">
						<ngx-dropzone-label class="file-label">{{ selectedFileName }}</ngx-dropzone-label>
					</ngx-dropzone-preview>
				</ngx-dropzone>
			</div>
		</div>
		<div class="row">
			<div class="col-12 d-flex justify-content-center attach-btn">
				<button mat-button type="button" class="col-auto attach-file" (click)="imgFileInput.click()">
					<mat-icon class="mr-2">input</mat-icon>
					<span *ngIf="!hasBlueprint()">{{'GENERAL.START-NEW-PLAN-DIALOG.UPLOAD-FILE' | translate}}</span>
					<span *ngIf="hasBlueprint()">{{'GENERAL.START-NEW-PLAN-DIALOG.REPLACE-FILE' | translate}}</span>
				</button>
				<input class="hidden" type="file" #imgFileInput (change)="selectXML($event)" accept="text/xml" />
			</div>
		</div>
		<div class="row">
			<mat-form-field class="col-12">
				<input matInput placeholder="{{'PLAN-BLUEPRINT-LISTING.IMPORT.UPLOAD-XML-NAME'| translate}}" name="descriptionBlueprintName" [(ngModel)]="data.name">
			</mat-form-field>
		</div>
	</div>
    <div mat-dialog-actions class="d-flex justify-content-between gap-half-rem">
        <button mat-stroked-button type="button" class="padded-shadow-btn" (click)="cancel()">{{ data.cancelButton }}</button>
        <button mat-flat-button color="primary" class="padded-shadow-btn" type="button" (click)="confirm()" [disabled]="!hasBlueprint()">{{ data.confirmButton }}</button>
    </div>

</div>
