.dynamic-form-editor {
    background-color: var(--sys-surface);
    color: var(--sys-on-surface);
}

.panel-title {
    font-size: var(--sys-headline-large-size);
    font-weight: 700;
    padding: 1rem;
}
.intro {
	text-align: left;
	font-weight: 400;
	letter-spacing: 0px;
	color: var(--dark-text);
	opacity: 1;
	margin: 2rem 0rem 2rem 0rem;
}
