<div  class="dynamic-form-editor p-2">
    <div *ngIf="datasetDescription" class="col-12 intro" [innerHTML]="datasetDescription"></div>
    @if(descriptionTemplate && propertiesFormGroup){
        @for(page of descriptionTemplate.definition?.pages; track $index; let z = $index){
            <div class="panel-title toc-page-header" [id]="page.id">
                {{ordinal? ordinal + '.' : ''}}{{z+1}}. {{page.title}}
            </div>
            @for(section of page.sections; track section; let i = $index){
                @if(visibilityRulesService.isVisibleMap[section.id]){
                    <app-description-form-section 
                        #formSection 
                        [section]="section" 
                        [canAnnotate]="canAnnotate"
                        [isNew]="isNew"
                        [path]="(ordinal ? ordinal + '.' : '') + (z+1) + '.' + (i+1)" 
                        [pathName]="'pages.'+z+'.sections.'+i" 
                        [propertiesFormGroup]="propertiesFormGroup" 
                        [descriptionId]="descriptionId()" 
                        [planId]="planId()"
                        [visibilityRulesService]="visibilityRulesService" 
                        [linkToScroll]="linkToScroll" 
                        [validationErrorModel]="validationErrorModel" 
                        [planUsers]="planUsers"
                        (askedToScroll)="onAskedToScroll(expansionPanel, $event)" 
                    ></app-description-form-section>
                }
            }
        }
    }
</div>
