.author {
	display: flex;
	flex-direction: row;
	column-gap: 1rem;
    font-size: 0.875em;
    padding: 0.25rem 0.5rem;

    &:hover {
        background-color: #e0e0e08c;
        border-radius: 3px;
    }
    .author-role {
        color: #a8a8a8;
    }

    .author-label {
        color: #212121;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .author-icon {
        min-width: 40px;
        font-size: 40px;
        height: auto;
        color: #b7b8bb;
    }

    .delete-btn:hover {
        background-color: var(--primary-color);
        color: #ffffff;
    }
}
