.author {
	display: flex;
	flex-direction: row;
	column-gap: 1rem;
    padding: 0.25rem 0rem;

    // &:hover {
    //     background-color: #e0e0e08c;
    //     border-radius: 3px;
    // }
    .author-role {
        color: var(--gray);
    }

    .author-label {
        color: var(--dark-text);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .author-icon {
        min-width: 40px;
        font-size: 40px;
        height: auto;
        color: #b7b8bb;
    }

    .delete-btn:hover {
        background-color: var(--sys-primary);
        color: var(--sys-on-primary);
    }
}
