h1 {
	text-align: center;
	margin: 2rem 0 1rem 0;
}

h4 {
	margin: 1rem 0rem 0.5rem 0rem;
}

img {
	height: 150px;
	width: 100%;
}

.terms-component {
	margin-top: 80px;
}

p {
	margin: 0.5rem 0rem;
}
