.fieldSet {
  padding-left: 0em !important;
}

.actions {

	@media (min-width: 1300px) {
		width: 110px;		
	}
}

.text-truncated {
	overflow: hidden; 
	text-overflow: ellipsis; 
}

.add-more-button {
    font-size: var(--sys-title-small-size);
    color: var(--dark-text);
}

.error-row {
    outline: 1px solid var(--sys-error);
}

::ng-deep .add-more-btn {
    .mdc-button__label {
        font-size: var(--sys-body-medium-size);
        color: var(--sys-on-surface);
    }
}

.table-field{
    word-break:break-all
}