<div class="container p-0">
	<div *ngIf="fieldSet()" class="row">
		<div *ngIf="showTitle" class="col-12 pb-2">
			<div class="row align-items-center">
				<div class="col">
					<app-description-form-field-set-title [fieldSet]="fieldSet()" [path]="path" [isChild]="isChild" [hideLink]="isNew" (copyLinkEvent)="copyLink(fieldSet().id)" [isAnchor]="isAnchor"></app-description-form-field-set-title>
				</div>
				<div *ngIf="!isNew" class="col-lg-auto col-md-auto col-3" style="margin-top: 1rem;">
					<button mat-icon-button class="annotation-icon" (click)="showAnnotations(fieldSet().id)" matTooltip="{{ 'DESCRIPTION-EDITOR.QUESTION.EXTENDED-DESCRIPTION.ANNOTATIONS' | translate }}" [attr.aria-label]="'PLAN-EDITOR.ACTIONS.ANNOTATIONS' | translate">
						<mat-icon 
                            [matBadge]="annotationsCount" 
                            [matBadgeHidden]="annotationsCount <= 0" 
                            matBadgeColor="warn" 
                            [attr.aria-label]="(annotationsPerAnchor?.get(field.id) ?? 0) + ' ' + ('ANNOTATION-DIALOG.TITLE' | translate)"
                            aria-hidden="false"
                        >
                            comment
                        </mat-icon>
					</button>
				</div>
			</div>
		</div>
		<div *ngIf="!fieldSet()?.multiplicity?.tableView" class="col-12">
			<div class="row" *ngFor="let fieldSetItemPropertiesControl of propertiesFormGroup()?.get('items')?.controls; let i=index;">
				<div class="col" *ngIf="visibilityRulesService && visibilityRulesService.isVisibleMap[fieldSet().id + '_' + fieldSetItemPropertiesControl.get('ordinal').value] ?? true">
					<div class="row">
						<div *ngFor="let field of fieldSet().fields; let i = index;" class="col-12">
							<ng-container  *ngIf="visibilityRulesService && visibilityRulesService.isVisibleMap[field.id + '_' + fieldSetItemPropertiesControl.get('ordinal').value] ?? true">
								<div class="row">
									<label *ngIf="placeholderTitle" class="col-auto font-weight-bold">{{field.label}}</label>
								</div>
								<app-description-form-field [propertiesFormGroup]="fieldSetItemPropertiesControl.get('fields')" [path]="path + '.' + i" [field]="field" [fieldSet]="fieldSet" [visibilityRulesService]="visibilityRulesService" [descriptionTemplateId]="descriptionTemplateId" [isChild]="true"></app-description-form-field>
							</ng-container>
						</div>
					</div>
				</div>
				<div *ngIf="propertiesFormGroup().get('items').length > 1" class="col-auto align-self-center">
					<button mat-icon-button type="button" class="deleteBtn" (click)="deleteMultiplicityField(i);" [disabled]="fieldSetItemPropertiesControl.disabled" [attr.aria-label]="'COMMONS.ACTIONS.REMOVE' | translate">
						<mat-icon aria-hidden>delete</mat-icon>
					</button>
				</div>
			</div>
			<div *ngIf="canAddMultiplicityField()" class="col-12 mt-1 ml-0 mr-0 addOneFieldButton">
				<mat-error *ngIf="fieldSet().hasMultiplicity && fieldSet()?.multiplicity?.min && propertiesFormGroup().get('items').hasError('minlength')">{{'GENERAL.VALIDATION.MULTIPLICITY.MIN' | translate: { min: fieldSet().multiplicity.min} }}</mat-error>
					<mat-error *ngIf="fieldSet().hasMultiplicity && fieldSet()?.multiplicity?.max && propertiesFormGroup().get('items').hasError('maxlength')">{{'GENERAL.VALIDATION,MULTIPLICITY.MAX' | translate: { max: fieldSet().multiplicity.max} }}</mat-error>
				<span class="d-inline-flex align-items-center">
					<button class="add-more-btn" mat-button [disabled]="propertiesFormGroup().disabled" (click)="addMultiplicityField()">
						<mat-icon aria-hidden>add_circle</mat-icon>
                        <span>
                            @if(fieldSet()?.multiplicity?.placeholder){
                                {{fieldSet()?.multiplicity?.placeholder}}
                            }@else{
                                {{'DESCRIPTION-EDITOR.ACTIONS.MULTIPLICITY-ADD-ONE-FIELD' | translate}}
                            }
                        </span>
					</button>
				</span>
			</div>
		</div>
		<div *ngIf="fieldSet().hasMultiplicity && fieldSet()?.multiplicity?.tableView" class="col-12">
			<table class="table table-bordered" id="field-table" style="table-layout: fixed">
				<tr>
					<th *ngFor="let field of fieldSet().fields; let i = index;" class="text-truncated">
						<ng-container *ngIf="field?.data?.fieldType !== descriptionTemplateFieldType.REFERENCE_TYPES else referenceTypeLabel">
							{{field.data?.label}}
						</ng-container>
						<ng-template #referenceTypeLabel>
							{{field.data?.label != null && field.data?.label != '' ? field.data?.label: field.data?.referenceType?.name }}
						</ng-template>
					</th>
					<th class="actions"></th>
				</tr>
                @if(properties?.length){
                    @for(fieldSetItemPropertiesControl of properties; track $index; let j = $index){
                        <tr 
                            *ngIf="visibilityRulesService && visibilityRulesService.isVisibleMap[fieldSet().id + '_' + fieldSetItemPropertiesControl.get('ordinal').value] ?? true"
                            [class.error-row]="fieldSetItemPropertiesControl.touched && fieldSetItemPropertiesControl.invalid"
                        >
                            @let fieldValueMap = fieldValueMapArray[j];
                            @for(field of fieldSet()?.fields; track field.id){
                                <td class="text-wrap table-field">
                                    <ng-container  *ngIf="fieldValueMap && visibilityRulesService && visibilityRulesService.isVisibleMap[field.id + '_' + fieldSetItemPropertiesControl.get('ordinal').value] ?? true">
                                        @if(field?.data?.fieldType == descriptionTemplateFieldType.RICH_TEXT_AREA){
											<span [innerHTML]="fieldValueMap.get(field.id)"></span>
										} @else {
											{{ fieldValueMap.get(field.id) }}
										}
										
                                    </ng-container>
                                </td>
                            }
                            <td class="actions">
                                <div class="w-100 d-flex justify-content-center">
                                    <button mat-icon-button type="button" class="deleteBtn btn-sm" (click)="editTableMultiplicityFieldInDialog(j)" [disabled]="fieldSetItemPropertiesControl.disabled">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button *ngIf="propertiesFormGroup().get('items').length > 1" mat-icon-button type="button" class="deleteBtn" (click)="deleteMultiplicityField(j);" [disabled]="fieldSetItemPropertiesControl.disabled" [attr.aria-label]="'COMMONS.ACTIONS.REMOVE' | translate">
                                        <mat-icon aria-hidden>delete</mat-icon>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    }
                }

				<tr *ngIf="canAddMultiplicityField()">
					<td [colSpan]="fieldSet().fields.length + 1" class="text-center">
						<mat-error *ngIf="fieldSet().hasMultiplicity && fieldSet()?.multiplicity?.min && propertiesFormGroup().get('items').hasError('minlength')">{{'GENERAL.VALIDATION.MULTIPLICITY.MIN' | translate: { min: fieldSet().multiplicity.min} }}</mat-error>
						<mat-error *ngIf="fieldSet().hasMultiplicity && fieldSet()?.multiplicity?.max && propertiesFormGroup().get('items').hasError('maxlength')">{{'GENERAL.VALIDATION,MULTIPLICITY.MAX' | translate: { max: fieldSet().multiplicity.max} }}</mat-error>
						<span class="d-inline-flex align-items-center" [ngClass]="propertiesFormGroup().disabled ? '' : 'pointer'" (click)="addMultiplicityField()">
							<button class="add-more-btn" mat-button [disabled]="propertiesFormGroup().disabled">
								<mat-icon>add_circle</mat-icon>
                                <span class="mt-1">
                                    @if(fieldSet()?.multiplicity?.placeholder){
                                        {{fieldSet()?.multiplicity?.placeholder}}
                                    } @else{
                                        {{'DESCRIPTION-EDITOR.ACTIONS.MULTIPLICITY-ADD-ONE-FIELD-TABLEVIEW' | translate}}
                                    }
                                </span>
							</button>
						</span>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="row">
		<div *ngIf="fieldSet().hasCommentField && propertiesFormGroup()?.get('comment')" class="col-12">
			<rich-text-editor-component [form]="propertiesFormGroup()?.get('comment')" [placeholder]="'DESCRIPTION-EDITOR.FIELDS.COMMENT-PLACEHOLDER' | translate" [wrapperClasses]="'mb-2'" [required]="isRequired"></rich-text-editor-component>
		</div>
	</div>
</div>
