.navigation {
    padding: 1.5rem 1.5rem 0;
}

.drag-handle {
	opacity: 0.7;
    transform: rotate(90deg); 
    &.enabled-dragpan {
        opacity: 1;
        display:inline-block; 
        margin: 0px auto; 
        cursor: grab; 
        color: var(--sys-tertiary);
    }
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
	background-color: var(--sys-primary);
}


.dlt-section-btn {
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.section-input {
	position: relative;
}

.section-input .arrows {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

.field-delete{
  align-items: center;
	display: flex;
	cursor: pointer;
  
	.field-delete-icon{
		font-size: 1.2em;
		width: 14px;
		color: var(--sys-primary);
	}

}

.description-fields-wrapper,
.section-fields-wrapper {
	width: 100%;
	
	.section-options-vertical {
		display: none;
	}
	
	.section-options-horizontal {
		display: initial;
	}

	@media (max-width: 1200px) {
		flex-direction: column;
		align-items: flex-start;
		
		.section-options-horizontal {
			display: none;
		}
		
		.section-options-vertical {
			display: initial;
		}
	}
}

.title-size-md {
    font-size: var(--sys-headline-medium-size);
}

.stepper {
    background-color: transparent;
    padding-left: 1rem;
}

.overflow-container {
    overflow-y: auto;
    max-height: calc(100vh - 15rem);
}

.table-of-content {
    overflow-y: auto;
    max-height: calc(100vh - 15rem);
    padding-left: 0;
    scrollbar-width: thin;
}

.delete-btn {
    background-color: transparent;
    box-shadow: none;
    color: var(--sys-error);
}

.section-title {
    font-size: var(--sys-headline-large-size);
    font-weight: 700;
}

.preview {
    background-color: var(--sys-surface);

}

.section-description-templates {
    list-style: none;
}
.scroll-on-top{
	position: fixed;
	bottom: 20em;
	right: 2em;
	color: var(--sys-primary) !important;
	cursor: pointer;
	font-size: var(--sys-body-medium-size);
	font-weight: 400;
    border: none;
    background-color: transparent;
    &:focus, &:hover {
        color: hsl(from var(--sys-primary) h s calc(l + 4)) !important;
    }
}

.section-general-info{
    padding-bottom: 1rem;
    &:hover {
        .add-field-btn{
            button{
                display: block;
            }
        }
    }
}

.section-field, .section-general-info{
    display: grid;
    gap: 1rem;
    grid-template-columns: calc(100% - 3rem);
}
.show-field-tools{
    .section-field, .section-general-info {
        grid-template-columns: 75% auto 1.5rem;
    }
}
.add-field-btn {
    margin-top: 1rem;
    min-height: 2.5rem;
    button {
        display: none;
    }
}
.section-field {
    .field-editor.active {
        border-radius: 0.3em;
        border-left: 0.3em solid var(--sys-primary);
    }
    .stick-list {
        top: 2.5em;
    }
    &:hover {
        .add-field-btn{
            button{
                display: block;
            }
        }
    }
}

.stick-list{
    position: sticky;
    top: 0;
    height: fit-content;
    .action-list-label{
        color: var(--dark-text);
        font-size: small;
        opacity: 0.6;
    }
    margin-bottom: 0.5rem;
}


@media(max-width: 991px){
    .table-of-content {
        max-height: calc(100vh - 30rem);
    }
    .overflow-container {
        max-height: fit-content;
        overflow-y: auto;
    }
}