<div class="plan-blueprint-editor" *ngIf="formGroup">
    <div class="navigation d-flex flex-wrap">
        <app-navigation-breadcrumb />
        <ng-container *ngTemplateOutlet="actions"></ng-container>
    </div>
    <app-custom-mat-stepper-header [linear]="!hideEditActions" [stepper]="stepper">
        <mat-stepper #stepper stepper-content class="stepper" (selectionChange)="onMatStepperSelectionChange($event)">
            <mat-step 
                [label]="'1 ' + ('DESCRIPTION-TEMPLATE-EDITOR.STEPS.GENERAL-INFO.TITLE' | translate)" 
                [completed]="hideEditActions || ((formGroup.get('code').disabled || formGroup.get('code').valid) && formGroup.get('label').valid)"
            >
                <mat-card class="overflow-container pb-3" >
                    <mat-card-content>
                        <div class="pb-3" id="0-step-top"><small>{{'COMMONS.VALIDATION.REQUIRED-FIELDS-HINT' | translate}}</small></div>
                        <div class="row">
                            <div class="col-6">
                                <mat-form-field class="w-100">
                                    <mat-label>{{'PLAN-BLUEPRINT-EDITOR.FIELDS.NAME' | translate}}</mat-label>
                                    <input matInput type="text" name="label" [formControl]="formGroup.get('label')" required>
                                    <mat-error *ngIf="formGroup.get('label').hasError('backendError')">{{formGroup.get('label').getError('backendError').message}}</mat-error>
                                    <mat-error *ngIf="formGroup.get('label').hasError('required')">{{'GENERAL.VALIDATION.REQUIRED' | translate}}</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-6">
                                <mat-form-field class="w-100">
                                    <mat-label>{{'PLAN-BLUEPRINT-EDITOR.FIELDS.CODE' | translate}}</mat-label>
                                    <input matInput type="text" name="CODE" [formControl]="formGroup.get('code')" required>
                                    <mat-error *ngIf="formGroup.get('code').hasError('backendError')">{{formGroup.get('code').getError('backendError').message}}</mat-error>
                                    <mat-error *ngIf="formGroup.get('code').hasError('required')">{{'GENERAL.VALIDATION.REQUIRED' | translate}}</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-12 pb-2">
                                <mat-label class="ml-1" [appFor]="'plan-blueprint-desc'">{{'PLAN-BLUEPRINT-EDITOR.FIELDS.FIELD-DESCRIPTION' | translate}}</mat-label>
                                <rich-text-editor-component
                                    [id]="'plan-blueprint-desc'"
                                    [form]="formGroup.get('description')"
                                    [placeholder]="'PLAN-BLUEPRINT-EDITOR.FIELDS.FIELD-DESCRIPTION'"
                                >
                                </rich-text-editor-component>
                                <mat-error *ngIf="formGroup.get('description').hasError('backendError')"  class="mat-mdc-form-field-subscript-wrapper">{{formGroup.get('description').getError('backendError').message}}</mat-error>
                                <mat-error *ngIf="formGroup.get('description').hasError('required')"  class="mat-mdc-form-field-subscript-wrapper">{{'GENERAL.VALIDATION.REQUIRED' | translate}}</mat-error>
                            </div>
                            <div class="col-12 pb-2">
                                <mat-expansion-panel [expanded]="isExpanded">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            <span>{{'PLAN-BLUEPRINT-EDITOR.FIELDS.DOCX-TEMPLATE'| translate}}</span>
                                        </mat-panel-title>
                                        <mat-panel-description>
                                            {{'PLAN-BLUEPRINT-EDITOR.FIELDS.DOCX-TEMPLATE-HINT'| translate}}
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>
                                    <app-plugin-editor 
                                        [formGroup]="formGroup.get('definition').get('pluginConfigurations')"
                                        [fileMap] = "fileMap"
                                    >
                                    </app-plugin-editor>
                                </mat-expansion-panel>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </mat-step>
            <mat-step [label]="'2 ' + ('DESCRIPTION-TEMPLATE-EDITOR.STEPS.FORM.TITLE' | translate)" [completed]="hideEditActions || formGroup.valid">
                <div class="row mat-step plan-blueprint-editor">
                    <div class="col-lg-2 col-12 table-of-content">
                        <app-plan-blueprint-toc
                            #tableOfContent
                            class="table-of-content"
                            [blueprint]="formGroup" 
                            [hideEditActions]="hideEditActions"
                            [selectedSection]="selectedSection"
                            [selectedField]="selectedField"
                            [referenceTypeMap]="referenceTypeMap"
                            (addSection)="addSection()"
                            (removeSection)="removeSection($event)"
                            (sectionsDropped)="dropSections($event)"
                            (addField)="addField($event)"
                            (removeField)="removeField($event)"
                            (fieldsDropped)="dropFields($event)"
                            (stepChange)="changeStep($event)"
                        />
                    </div>
                    <div class="col-lg-10 col-12 overflow-container">
                        @if(formGroup){
                            <div class="mb-3" id="1-step-top"><small>{{'COMMONS.VALIDATION.REQUIRED-FIELDS-HINT' | translate}}</small></div>
                            <mat-error class="mb-2" *ngIf="formGroup?.get('definition')?.touched && formGroup.get('definition').get('sections').hasError('planBlueprintSystemFieldRequired')"> {{'PLAN-BLUEPRINT-EDITOR.SYSTEM-FIELDS-REQUIRED' | translate}} </mat-error>
                            <div 
                                *ngFor="let section of formGroup.get('definition').get('sections').controls; let sectionIndex = index;" 
                                [class.d-none]="selectedSection != sectionIndex"
                                [class.show-field-tools]="!hideEditActions"
                            >
                                <div class="section-general-info">
                                    <div>
                                        <mat-card id="section-{{sectionIndex}}" class="section-card">
                                            <mat-card-header>
                                                <div class="row mb-3 d-flex align-items-center">
                                                    <div class="col-auto d-flex">
                                                        <mat-card-title>{{'PLAN-BLUEPRINT-EDITOR.FIELDS.SECTION-PREFIX' | translate}} {{sectionIndex + 1}}</mat-card-title>
                                                    </div>
                                                </div>
                                            </mat-card-header>
                                            <mat-card-content>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <mat-form-field class="w-100">
                                                            <mat-label>{{'PLAN-BLUEPRINT-EDITOR.FIELDS.SECTION-NAME' | translate}}</mat-label>
                                                            <input matInput type="text" name="label" [formControl]="section.get('label')" required>
                                                            <mat-error *ngIf="section.get('label').hasError('backendError')">{{section.get('label').getError('backendError').message}}</mat-error>
                                                            <mat-error *ngIf="section.get('label').hasError('required')">{{'GENERAL.VALIDATION.REQUIRED' | translate}}</mat-error>
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-6">
                                                        <mat-form-field class="w-100">
                                                            <mat-label>{{'PLAN-BLUEPRINT-EDITOR.FIELDS.SECTION-DESCRIPTION' | translate}}</mat-label>
                                                            <input matInput type="text" name="description" [formControl]="section.get('description')">
                                                            <mat-error *ngIf="section.get('description').hasError('backendError')">{{section.get('description').getError('backendError').message}}</mat-error>
                                                            <mat-error *ngIf="section.get('description').hasError('required')">{{'GENERAL.VALIDATION.REQUIRED' | translate}}</mat-error>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="row d-flex flex-column">
                                                            <div class="col-auto d-flex gap-1-rem">
                                                                <div>
                                                                    <mat-checkbox [formControl]="section.get('hasTemplates')" (change)="removeAllDescriptionTemplates($event, sectionIndex)">
                                                                        {{'PLAN-BLUEPRINT-EDITOR.FIELDS.DESCRIPTION-TEMPLATES' | translate}}
                                                                    </mat-checkbox>
                                                                    <mat-error *ngIf="section.get('hasTemplates').hasError('backendError')">{{section.get('hasTemplates').getError('backendError').message}}</mat-error>
                                                                    <mat-error *ngIf="section.get('hasTemplates').hasError('required')">{{'GENERAL.VALIDATION.REQUIRED' | translate}}</mat-error>
                                                                </div>
                                                                <div *ngIf="section.get('hasTemplates').value">
                                                                    <mat-checkbox [formControl]="section.get('canEditDescriptionTemplates')">
                                                                        {{'PLAN-BLUEPRINT-EDITOR.FIELDS.CAN-EDIT-DESCRIPTION-TEMPLATES' | translate}}
                                                                    </mat-checkbox>
                                                                    <mat-error *ngIf="section.get('canEditDescriptionTemplates').hasError('backendError')">{{section.get('canEditDescriptionTemplates').getError('backendError').message}}</mat-error>
                                                                </div>
                                                            </div>
                                                            <div class="col-auto" *ngIf="!hideEditActions && section.get('hasTemplates').value">
                                                                <button mat-flat-button color="accent" class="padded-shadow-btn" type="button" (click)="addDescriptionTemplate(sectionIndex)">{{'PLAN-BLUEPRINT-EDITOR.ACTIONS.ADD-DESCRIPTION-TEMPLATE' | translate}}</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    @let descriptionTemplates = section.get('descriptionTemplates').controls;
                                                    <ul *ngIf="descriptionTemplates?.length" cdkDropList class="col-12 mt-3 section-description-templates" (cdkDropListDropped)="dropDescriptionTemplates($event, sectionIndex)">
                                                        <li *ngFor="let descriptionTemplate of descriptionTemplates; let descriptionTemplateIndex=index;" cdkDrag class="description-fields-wrapper row align-items-center mt-1" [cdkDragDisabled]="hideEditActions" (mouseenter)="onDescriptionTemplateHover(descriptionTemplateIndex)" (mouseleave)="clearHoveredDescriptionTemplate()">
                                                            <div class="col-auto section-options-vertical">
                                                                <div class="row justify-content-center">
                                                                    <div class="col-auto">
                                                                        <span *ngIf="!isDescriptionTemplateSelected(descriptionTemplateIndex)" class="title-size-md" style="box-sizing: border-box; display: inline-block; padding: 0.85rem 0.42rem 0 0.45rem;">{{descriptionTemplateIndex + 1}}</span>
                                                                        <mat-icon *ngIf="isDescriptionTemplateSelected(descriptionTemplateIndex)" [ngClass]="{'drag-handle-disabled': hideEditActions}" cdkDragHandle class="drag-handle" style="margin-top: 0.9rem;">drag_indicator</mat-icon>
                                                                    </div>
                                                                    <div class="col-auto" *ngIf="!hideEditActions">
                                                                        <button mat-icon-button matTooltip="{{'PLAN-BLUEPRINT-EDITOR.ACTIONS.REMOVE-DESCRIPTION-TEMPLATE' | translate}}" (click)="removeDescriptionTemplate(sectionIndex, descriptionTemplateIndex)" [attr.aria-label]="'COMMONS.ACTIONS.REMOVE' | translate">
                                                                            <mat-icon aria-hidden>delete</mat-icon>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-auto pr-0 section-options-horizontal">
                                                                <span *ngIf="!isDescriptionTemplateSelected(descriptionTemplateIndex)" class="title-size-md" style="box-sizing: border-box; display: inline-block; padding: 0.85rem 0.45rem;">{{descriptionTemplateIndex + 1}}</span>
                                                                <mat-icon *ngIf="isDescriptionTemplateSelected(descriptionTemplateIndex)" [ngClass]="{'drag-handle-disabled': hideEditActions}" cdkDragHandle class="drag-handle">drag_indicator</mat-icon>
                                                            </div>
    
                                                            <div class="col">
                                                                <div class="row">
                                                                    <div class="col-12 col-lg-6">
                                                                        <mat-form-field class="w-100 mt-3">
                                                                            <mat-label>{{'PLAN-BLUEPRINT-EDITOR.FIELDS.DESCRIPTION-TEMPLATE' | translate}}</mat-label>
                                                                            <app-single-auto-complete [formControl]="descriptionTemplate.get('descriptionTemplateGroupId')" [configuration]="descriptionTemplateGroupIdsConfigBySection.get(section.get('id').value)" (optionActionClicked)="onPreviewDescriptionTemplate($event, sectionIndex, descriptionTemplateIndex)" (optionSelected)="selectedDescriptionTemplate($event, section.get('id').value)"></app-single-auto-complete>
                                                                            <mat-error *ngIf="descriptionTemplate.get('descriptionTemplateGroupId').hasError('backendError')">{{descriptionTemplate.get('descriptionTemplateGroupId').getError('backendError').message}}</mat-error>
                                                                            <mat-error *ngIf="descriptionTemplate.get('descriptionTemplateGroupId').hasError('required')">{{'GENERAL.VALIDATION.REQUIRED' | translate}}</mat-error>
                                                                        </mat-form-field>
                                                                    </div>
                                                                    <!-- <div class="col-12 col-lg-6 col-xl-4">
                                                                        <mat-form-field class="w-100 mt-3">
                                                                            <mat-label>{{'PLAN-BLUEPRINT-EDITOR.FIELDS.DESCRIPTION-TEMPLATE-LABEL' | translate}}</mat-label>
                                                                            <input matInput type="text" name="label" [formControl]="descriptionTemplate.get('label')">
                                                                            <mat-error *ngIf="descriptionTemplate.get('label').hasError('backendError')">{{descriptionTemplate.get('label').getError('backendError').message}}</mat-error>
                                                                            <mat-error *ngIf="descriptionTemplate.get('label').hasError('required')">{{'GENERAL.VALIDATION.REQUIRED' | translate}}</mat-error>
                                                                        </mat-form-field>
                                                                    </div> -->
                                                                    <div class="col-12 col-lg-3">
                                                                        <mat-form-field class="w-100 mt-3">
                                                                            <mat-label>{{'PLAN-BLUEPRINT-EDITOR.FIELDS.DESCRIPTION-TEMPLATE-MIN-MULTIPLICITY' | translate}}</mat-label>
                                                                            <input matInput type="number" min="0" [max]="descriptionTemplate.get('maxMultiplicity').value" name="minMultiplicity" [formControl]="descriptionTemplate.get('minMultiplicity')">
                                                                            <mat-error *ngIf="descriptionTemplate.get('minMultiplicity').hasError('backendError')">{{descriptionTemplate.get('minMultiplicity').getError('backendError').message}}</mat-error>
                                                                            <mat-error *ngIf="descriptionTemplate.get('minMultiplicity').hasError('required')">{{'GENERAL.VALIDATION.REQUIRED' | translate}}</mat-error>
                                                                        </mat-form-field>
                                                                    </div>
                                                                    <div class="col-12 col-lg-3">
                                                                        <mat-form-field class="w-100 mt-3">
                                                                            <mat-label>{{'PLAN-BLUEPRINT-EDITOR.FIELDS.DESCRIPTION-TEMPLATE-MAX-MULTIPLICITY' | translate}}</mat-label>
                                                                            <input matInput type="number" [min]="descriptionTemplate.get('minMultiplicity').value != null && descriptionTemplate.get('minMultiplicity').value != 0 ? descriptionTemplate.get('minMultiplicity').value : 1" name="maxMultiplicity" [formControl]="descriptionTemplate.get('maxMultiplicity')">
                                                                            <mat-error *ngIf="descriptionTemplate.get('maxMultiplicity').hasError('backendError')">{{descriptionTemplate.get('maxMultiplicity').getError('backendError').message}}</mat-error>
                                                                            <mat-error *ngIf="descriptionTemplate.get('maxMultiplicity').hasError('required')">{{'GENERAL.VALIDATION.REQUIRED' | translate}}</mat-error>
                                                                        </mat-form-field>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-xl-auto section-options-horizontal">
                                                                <div class="row">
                                                                    <div class="col-auto" *ngIf="!hideEditActions">
                                                                        <button mat-icon-button matTooltip="{{'PLAN-BLUEPRINT-EDITOR.ACTIONS.REMOVE-DESCRIPTION-TEMPLATE' | translate}}" (click)="removeDescriptionTemplate(sectionIndex, descriptionTemplateIndex)" [attr.aria-label]="'COMMONS.ACTIONS.REMOVE' | translate">
                                                                            <mat-icon aria-hidden>delete</mat-icon>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                    <mat-error *ngIf="section.get('descriptionTemplates').hasError('backendError')" class="p-3">{{section.get('descriptionTemplates').getError('backendError').message}}</mat-error>
                                                    <mat-error *ngIf="section.get('descriptionTemplates').hasError('required')" class="p-3">{{'PLAN-BLUEPRINT-EDITOR.DESCRIPTION-TEMPLATE-REQUIRED' | translate}}</mat-error>
                                                </div>
                                                <div class="row">
                                                    <ng-container *ngIf="section.get('hasTemplates').value == true" class="col-12">
                                                        <div class="col-12">
                                                            <mat-checkbox [formControl]="section.get('prefillingSourcesEnabled')" (change)="removeAllPrefillingSources($event, sectionIndex)">
                                                                {{'PLAN-BLUEPRINT-EDITOR.FIELDS.ENABLE-PREFILLING-SOURCES' | translate}}
                                                            </mat-checkbox>
                                                        </div>
                                                        <div class="col-12" *ngIf="section.get('prefillingSourcesEnabled')?.value == true">
                                                            <mat-form-field class="w-100 mt-3">
                                                                <mat-label>{{'PLAN-BLUEPRINT-EDITOR.FIELDS.PREFILLING-SOURCES' | translate}}</mat-label>
                                                                <app-multiple-auto-complete [formControl]="section.get('prefillingSourcesIds')" [configuration]="prefillingSourceService.multipleAutocompleteConfiguration"></app-multiple-auto-complete>
                                                                <mat-error *ngIf="section.get('prefillingSourcesIds').hasError('backendError')">{{section.get('prefillingSourcesIds').getError('backendError').message}}</mat-error>
                                                            </mat-form-field>
                                                        </div>
                                                    </ng-container>
                                                </div>
                                            </mat-card-content>
                                        </mat-card>
                                        <div class="d-flex justify-content-center add-field-btn" *ngIf="!hideEditActions">
                                            <button mat-button (click)="addField(sectionIndex, 0)">
                                                <mat-icon aria-hidden>add</mat-icon>
                                                {{'PLAN-BLUEPRINT-EDITOR.ACTIONS.ADD-FIELD' | translate}}
                                            </button>
                                        </div>
                                    </div>
                                    <div class="stick-list" *ngIf="!hideEditActions">
                                        <mat-card>
                                            <mat-card-content>
                                                <label class="action-list-label">{{'DESCRIPTION-TEMPLATE-EDITOR.STEPS.TOOLKIT.GENERAL-TOOLS' |
                                                    translate}}</label>
                                                <div class="d-flex flex-column">
                                                    <button class="justify-content-start" mat-button (click)="removeSection(sectionIndex)">
                                                        {{'PLAN-BLUEPRINT-EDITOR.ACTIONS.REMOVE-SECTION' | translate}}
                                                        <mat-icon aria-hidden>delete</mat-icon>
                                                    </button>
                                                    <button class="justify-content-start" mat-button (click)="addSection()">
                                                        <mat-icon aria-hidden>add</mat-icon>
                                                        {{'PLAN-BLUEPRINT-EDITOR.ACTIONS.ADD-SECTION' | translate}}
                                                    </button>
                                                </div>
                                            </mat-card-content>
                                        </mat-card>
                                    </div>
                                </div>
                                <ul cdkDropList 
                                    class="d-flex flex-column gap-1-rem mb-2 unstyled-list" 
                                    (cdkDropListDropped)="dropFieldsInSection({event: $event, sectionIndex: sectionIndex})"
                                    [cdkDropListDisabled]="!reorderingMode()"
                                >
                                    <li
                                        *ngFor="let field of section.get('fields').controls; let fieldIndex=index; let last = $last" 
                                        cdkDrag 
                                        [cdkDragDisabled]="hideEditActions"
                                    >
                                        <div class="section-field">
                                            <div>
                                                <mat-card
                                                    class="field-editor"
                                                    [class.active]="fieldIsActive(sectionIndex, fieldIndex)"
                                                    id="section-{{sectionIndex}}-field-{{fieldIndex}}"
                                                >
                                                    <mat-card-content>
                                                        <div 
                                                            class="section-fields-wrapper row align-items-center mt-1" 
                                                        >
                                                            <div class="col-12 d-flex justify-content-center" *ngIf="!hideEditActions">
                                                                @if(reorderingMode()){
                                                                    <mat-icon cdkDragHandle class="drag-handle enabled-dragpan" aria-hidden>drag_indicator</mat-icon>
                                                                }@else{
                                                                    <button *ngIf="fieldIsActive(sectionIndex, fieldIndex)" (click)="enableReordering($event)" [matTooltip]="'PLAN-BLUEPRINT-EDITOR.ACTIONS.ENABLE-REORDERING' | translate" [attr.aria-label]="'PLAN-BLUEPRINT-EDITOR.ACTIONS.ENABLE-REORDERING' | translate">
                                                                        <mat-icon class="drag-handle" aria-hidden>drag_indicator</mat-icon>
                                                                    </button>
                                                                }
                                                            </div>
                                                            <!-- <h5 class="col-12 ml-3">{{'PLAN-BLUEPRINT-EDITOR.FIELDS.SECTION-FIELD' | translate}} {{fieldIndex + 1}}</h5> -->
                                                            <div class="col">
                                                                <app-plan-blueprint-field-editor
                                                                    [field]="field"
                                                                    [disabledSystemFields]="disabledSystemFields"
                                                                    [previewMode]="!fieldIsActive(sectionIndex, fieldIndex)"
                                                                    [reorderingMode]="reorderingMode()"
                                                                    [validationErrorModel]="editorModel?.validationErrorModel"
                                                                    [validationRootPath]="getRootPath(sectionIndex, fieldIndex)"
                                                                    [(referenceTypeMap)]="referenceTypeMap"
                                                                    (fieldCategoryChanged)="fieldCategoryChanged(sectionIndex, fieldIndex)"
                                                                    (stepChange)="changeStep({section: sectionIndex, field: fieldIndex})"
                                                                />
                                                            </div>
                                                        </div>
                                                        <mat-error *ngIf="section.get('fields').dirty && section.get('fields').hasError('required')">{{'PLAN-BLUEPRINT-EDITOR.FIELDS-REQUIRED' | translate}}</mat-error>
                                                        <mat-error *ngIf="section.get('fields').hasError('backendError')">{{section.get('fields').getError('backendError').message}}</mat-error>
                                                    </mat-card-content>
                                                </mat-card>
                                                <div class="d-flex justify-content-center add-field-btn" *ngIf="!hideEditActions">
                                                    <button mat-button (click)="addField(sectionIndex, fieldIndex + 1)">
                                                        <mat-icon aria-hidden>add</mat-icon>
                                                        {{'PLAN-BLUEPRINT-EDITOR.ACTIONS.ADD-FIELD' | translate}}
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="stick-list" *ngIf="!hideEditActions && fieldIsActive(sectionIndex, fieldIndex)">
                                                <mat-card>
                                                    <mat-card-content>
                                                        <label class="action-list-label">{{'DESCRIPTION-TEMPLATE-EDITOR.STEPS.TOOLKIT.GENERAL-TOOLS' |
                                                            translate}}</label>
                                                        <div class="d-flex flex-column">
                                                            <button class="justify-content-start" mat-button (click)="removeField({section: sectionIndex, field: fieldIndex})">
                                                                {{'PLAN-BLUEPRINT-EDITOR.ACTIONS.REMOVE-FIELD' | translate}}
                                                                <mat-icon aria-hidden>delete</mat-icon>
                                                            </button>
                                                            <button class="justify-content-start" mat-button (click)="addField(sectionIndex)">
                                                                <mat-icon aria-hidden>add</mat-icon>
                                                                {{'PLAN-BLUEPRINT-EDITOR.ACTIONS.ADD-FIELD' | translate}}
                                                            </button>
                                                        </div>
                                                    </mat-card-content>
                                                </mat-card>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="mt-3 mb-1" *ngIf="!hideEditActions">
                                <!-- <button mat-stroked-button color="primary" class="padded-shadow-btn mr-auto" type="button" (click)="addSection()">{{'PLAN-BLUEPRINT-EDITOR.ACTIONS.ADD-SECTION' | translate}}</button> -->
                                <mat-error *ngIf="formGroup.get('definition').get('sections').dirty && formGroup.get('definition').get('sections').hasError('required')">{{'PLAN-BLUEPRINT-EDITOR.SECTIONS-REQUIRED' | translate}}</mat-error>
                                <mat-error *ngIf="formGroup.get('definition').get('sections').hasError('backendError')">{{formGroup.get('definition').get('sections').getError('backendError').message}}</mat-error>
                            </div>
                            <button role="button" class="scroll-on-top d-flex flex-column align-items-center" (click)="scrollOnTop()" [@scroll-on-top-btn] [matTooltip]="'DESCRIPTION-TEMPLATE-EDITOR.ACTIONS.BACK-TO-TOP'| translate" tabindex="0">
                                <mat-icon>
                                    arrow_upward
                                </mat-icon>
                                <div class="scroll-on-top-text">{{'DESCRIPTION-TEMPLATE-EDITOR.ACTIONS.SCROLL' | translate}}</div>
                            </button>
                        }
                    </div>
                </div>
            </mat-step>
            <mat-step [label]="'3 ' + ((isFinalized ? 'DESCRIPTION-TEMPLATE-EDITOR.ACTIONS.PREVIEW' : 'DESCRIPTION-TEMPLATE-EDITOR.ACTIONS.PREVIEW-AND-FINALIZE') | translate )" >
                @if(finalPreviewFormGroup){
                    <mat-card class="overflow-container pb-3">
                        <mat-card-content>
                            <span id="2-step-top"></span>
                            <app-plan-internal-blueprint-editor
                                [editorModel]="previewEditorModel"
                                [blueprint]="finalPreviewBlueprint"
                                [formGroup]="finalPreviewFormGroup"
                                [canEditPlan]="true"
                                [isNew]="true"
                                [isDeleted]="false"
                                [showAllSections]="true"
                            />
                        </mat-card-content>
                    </mat-card>
                }
            </mat-step>
        </mat-stepper>
    </app-custom-mat-stepper-header>
</div>

<ng-template #actions>
	<div class="ml-auto">
		<button mat-stroked-button color="accent" class="padded-shadow-btn mr-3" (click)="cancel()">{{'PLAN-BLUEPRINT-EDITOR.ACTIONS.CANCEL' | translate}}</button>
        <button *ngIf="!hideEditActions" mat-flat-button color="accent" class="padded-shadow-btn" [disabled]="isLocked" type="submit" (click)="save(); formSubmit()">
            {{'PLAN-BLUEPRINT-EDITOR.ACTIONS.SAVE' | translate}}
        </button>
		<button *ngIf="!hideEditActions && stepper?.steps?.length-1 === stepper?.selectedIndex" [@finalize_btn] mat-flat-button color="primary" class="padded-shadow-btn ml-3" [disabled]="!formGroup.valid" [class.invisible]="stepper?.steps?.length-1 !== stepper?.selectedIndex" (click)="finalize()">
			{{'DESCRIPTION-TEMPLATE-EDITOR.ACTIONS.FINALIZE' | translate}}
		</button>
	</div>
</ng-template>