
<div class="unlink-account">
	<div class="container-fluid">
		<div class="row">
			<div class="col unlink-account-title">{{'UNLINK-ACCOUNT.TITLE' | translate}}</div>
		</div>
    <div *ngIf="showForm" class="row unlink-account-content">
      <div class="col">
        <div class="row justify-content-center">
          <div class="col-auto">
            <span>
              {{ 'UNLINK-ACCOUNT.MESSAGES.CONFIRMATION' | translate }}
            </span>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-auto mt-4">
            <button type="button" mat-button class="rounded-btn primary" (click)="onConfirm()">{{ 'UNLINK-ACCOUNT.ACTIONS.CONFIRM' | translate }}</button>
          </div>
        </div>
      </div>
    </div>
		<ng-template #loading>
		</ng-template>
	</div>
</div>
