.description-template-editor {


	.field-card {
		margin-bottom: 1em;
	}
}
.deleteBtn{
	margin-right:2em;
}

.heading {
	text-align: left;
	font-weight: 700;
	font-size: 18px;
	letter-spacing: 0px;
	color: #212121;
	opacity: 0.81;
	margin-bottom: 0.625rem;
}

.hint {
	text-align: left;
	font-weight: 400;
	font-size: 16px;
	letter-spacing: 0px;
	color: #212121;
	opacity: 0.81;
	margin-bottom: 0.125rem;
}
