.gray-container {
  letter-spacing: 5px;
  color: var(--gray);
}

h4 {
  display: inline;
  padding-left: 1em;
  color: #333333;
}

h4 > span {
  text-transform: uppercase;
}

.title h4 {
  padding-left: 30px;
  line-height: 2em;
}


.links :hover {
  color: var(--sys-primary);
}


p {
  color: #333333;
}


.draft-bookmark {
  color: #e7e6e6;
}

.finalized-bookmark {
  color: #08bd63;
}

.plan-card,
.description-card {
	min-width: min(100%, 712px);
	background: var(--sys-surface) 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 6px #0000001a;
	border-radius: 4px;
	opacity: 1;
	margin-top: 2.43rem;
	margin-bottom: 1rem;
}

.remove-border-bottom ::ng-deep .mat-tab-header {
	border-bottom: none;
}

input[type="text"] {
	background: #fafafa 0% 0% no-repeat padding-box;
	border: 1px solid #d1d1d1;
	border-radius: 4px;
	opacity: 1;
	width: 347px;
	height: 56px;
	padding-left: 15px;
}

.edited-date {
	text-align: left;
	font-weight: 300;
	line-height: 2.4;
	letter-spacing: 0px;
	color: var(--dark-text);
	opacity: 0.7;
}

.plan-label {
	background: var(--sys-primary) 0% 0% no-repeat padding-box;
	border-radius: 4px 0px;
	opacity: 1;
	min-width: 67px;
	height: 37px;
	color: var(--sys-on-primary);
    align-content: center;
}

.description-label {
	width: auto;
	height: 37px;
	background: var(--sys-tertiary) 0% 0% no-repeat padding-box;
	border-radius: 4px 0px;
	text-align: left;
	line-height: 2.8;
	font-size: var(--sys-title-small-size);
	font-weight: 400;
	letter-spacing: 0px;
	color: var(--sys-on-tertiary);
}

.plan-title,
.description-title,
.description-title-draft {
	text-align: left;
	font-weight: 600;
	padding-top: 0.75rem;
	padding-bottom: 0.55rem;
	color: var(--dark-text);
    word-break: break-word;
}
.description-title,
.description-title-draft {
    font-size: var(--sys-title-medium-size);

}
.description-subtitle {
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
	text-align: left;
	font-weight: 400;
	font-size: var(--sys-title-small-size);
	opacity: 1;
	align-items: center;
	color: var(--gray);
}

.description-title-draft {
	color: var(--draft-color);
}

.icon-align {
	display: inline-flex;
	vertical-align: middle;
}

.plan-subtitle,
.description-subtitle {

	.icon-align {
		display: inline-flex;
		vertical-align: top;
		margin-right: .2rem;
		line-height: .95em;
	}
}

.description-card-actions,
.plan-card-actions {
    container-name: description-card-actions;
    container-type: inline-size;
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
	border-top: 1px solid #dbdbdb;
	line-height: 4;
	color: var(--gray);
    .description-action {
        border-right: 1px solid #dee2e6;
    }
}

@container description-card-actions (inline-size < 30rem){
    .description-action{
        border-right: none !important;
    }
}

.description-card-actions div,
.plan-card-actions div {
	color: var(--gray) !important;
	text-decoration: none !important;
}

.description-card-actions div:hover,
.plan-card-actions div:hover {
	color: var(--sys-primary) !important;
}



.show-more:hover {
	color: var(--sys-primary) !important;
}


.draft {
	color: var(--draft-color);
}

.pointer {
	cursor: pointer;
}

.status-logo {
	height: 1.25rem;
	width:  1.25rem; 
}

::ng-deep .mat-menu-panel {
  max-width: 282px !important;
}
