.side-panel {
    .stepper-options {
        height: calc(100vh - 280px);
        scrollbar-color: var(--mat-sys-primary) var(--mat-sys-surface);
        scrollbar-width: thin;
        overflow-y: auto;
    }
    &:has(.progress-indication-bar-disabled) {
        .stepper-options {
            height: calc(100vh - 240px);
        }
    }
    
    .stepper-list, .section-descriptions, .add-description-option, .section-fields {
        list-style-type: none;
        padding: 0;
    }
    .stepper-list,.add-description-option, .section-fields,  .section-descriptions {
        margin-left: 1rem;
    }
}




.stepper-list {
    .plan-description {
        text-align: left;
        font-weight: 400;
        letter-spacing: 0px;
        cursor: pointer;
        max-width: 290px;
    }
    
    .finalized-desc-icon {
        font-size: 1.25rem;
        color: #109204;
    }
      

    .main-section {
        font-size: var(--mat-sys-title-medium-size);
    }
    
    .label {
        justify-content: left;
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0.125rem 0.5rem;
        border-radius: 6px;
    }
    .active {
        font-weight: bold;
    }
    .selectable{
        &:hover, &:focus {
            background-color: rgb(0,0,0,0.05);
        }
    }

    .desc-label {
        height: 40px; //match icon btn height
        &.active-description {
            background-color: var(--mat-sys-tertiary) !important;
            border-radius: 4px;
            color: var(--mat-sys-on-tertiary);
            cursor: unset;
        }
        &.text-danger.active-description{
            color: var(--mat-sys-on-error) !important;
            background-color: var(--mat-sys-error) !important;
        }
    }
    .section-fields {
        border-left: 2px solid var(--mat-sys-primary);
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .desc-label, .section-field-label {
        display: inline-block;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
      
    .plan-description {
        font-weight: 700;
        opacity: 1;
        cursor: pointer;
        color: var(--mat-sys-on-background);
        display: flex;
        flex-direction: row;
        align-items: center;
    }


    .add-description-btn {
        margin-left: 1rem;
        color: var(--mat-sys-on-background);
        mat-icon {
            color: var(--mat-sys-primary);
        }
        &.mat-mdc-button-disabled {
            color: var(--mat-form-field-outlined-disabled-input-text-color, color-mix(in srgb, var(--mat-sys-on-surface) 38%, transparent));
            mat-icon {
                color: var(--mat-form-field-outlined-disabled-input-text-color, color-mix(in srgb, var(--mat-sys-on-surface) 38%, transparent))
            }
        }
    }

    .remove-description {
        background-color: transparent;
        box-shadow: none;
        color: var(--mat-sys-error);
        &:hover {
            color: hsl(from var(--mat-sys-error) h s calc(l - 4)) !important;
            box-shadow: none;
        }
    }
    
}

.stepper-actions {
    display: flex;
    padding-left: 1rem;
    margin-top: auto;
    margin-bottom: 0.5rem;
}
  
.stepper-btn {
    border-radius: 30px;
    opacity: 1;
    width: 154px;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--mat-sys-title-small-size);
}
  
.previous {
    color: var(--dark-text);
    background: var(--mat-sys-background) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #1e202029;
    border: 2px solid var(--dark-text);
    font-weight: 500;
    cursor: pointer;
}

.navigation {
    margin: 0 0.5rem 0 1rem;
    .progress-btns, .progress-indication-bar{
        padding: 0 0.5rem;
    }
    .progress-indication-bar-disabled {
        display: none;
    }
}

@container main-page (inline-size < 600px){
    .stepper-options{
        height: max(15vh, 150px)
    }
}
