
:host ::ng-deep .mat-paginator-container {
  flex-direction: row-reverse !important;
  justify-content: space-between !important;
  background-color: #f6f6f6;
  height: 30px;
  min-height: 30px !important;
}

:host ::ng-deep .mat-paginator-page-size {
  height: 43px;
}

::ng-deep .mat-icon-button {
  font-size: 12px !important;
}

:host ::ng-deep .mat-paginator-range-label {
  margin: 15px 32px 0 24px !important;
}

:host ::ng-deep .mat-paginator-range-actions {
  width: auto !important;
  min-width: 55% !important;
  min-height: 43px !important;
  justify-content: space-between;
}

:host ::ng-deep .mat-paginator-navigation-previous {
  margin-left: auto !important;
}

.top-paginator ::ng-deep .mat-paginator-navigation-previous {
  display: none !important;
}

.top-paginator ::ng-deep .mat-paginator-navigation-next {
  display: none !important;
}

.all-versions {
  color: #999999 !important;
}

.plan-label {
  color: #089dbb !important;
}

.import {
  margin: 10px;
  padding: 0px;
}

.more-horiz {
  font-size: 28px;
  color: var(--link-color);
}

.more-icon :hover {
  color: var(--sys-primary);
}

.header-title {
  text-align: left;
  font-size: var(--sys-headline-medium-size);
  font-weight: 300;
  color: var(--dark-text);
  padding: 0px;
}

.header-text-container {
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  bottom: 0px;
  padding-left: 5em;
  padding-right: 10em;
  padding-top: 2em;
  padding-bottom: 2em;
}

.explore-plan-content {
  padding: 30px 15px;
}

.main-content {
  background-color: var(--sys-background);
  padding-top: 4.68rem;
  padding-bottom: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  margin: 0;
  display: flex;
  flex-grow: 1;
}

.card {
  background: var(--sys-surface) 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 4px;
  margin-bottom: 3.75rem;
  opacity: 1;
}

.card-title {
  text-align: left;
  font: Bold 20px/30px Roboto;
  letter-spacing: 0px;
  color: var(--dark-text);
  padding-left: 40px;
  padding-right: 55px;
  opacity: 1;
}

.card-content {
  text-align: left;
  font-weight: 300;
  letter-spacing: 0px;
  color: var(--dark-text);
  padding-left: 40px;
  padding-top: 38px;
  padding-right: 55px;
  opacity: 1;
}

.clear-icon {
	cursor: pointer;
	color: var(--dark-text);
	padding: 0.4rem;
}

.clear-icon:hover {
	background-color: rgb(0,0,0,0.05) !important;
	border-radius: 50%;
	padding: 0.4rem;
}


.info-text {
  text-align: left;
  font-weight: 300;
  letter-spacing: 0px;
  color: var(--dark-text);
}

.filter-btn {
  position: fixed;
  right: 0px;
  z-index: 100;
  width: 37px;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;

  .filter-icon {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.5rem;
  }

  &.right {
    right: 446px;
  }
}

.filter-btn button {
  color: white;
  background-color: var(--sys-primary);
  width: 37px;
  height: 45px;
}

.search-form {
  text-align: left;
  width: 20rem;
}

.search-form mat-icon {
  color: var(--sys-primary);
}

.empty-list {
  text-align: center;
  font-weight: 300;
  font-size: var(--sys-headline-medium-size);
  letter-spacing: 0px;
  color: var(--dark-text);
  opacity: 0.6;
}

.zenodo-link {
  text-decoration: underline;
  color: black;
}

.pointer:hover,
.zenodo-link:hover {
  color: var(--sys-primary);
}

::ng-deep .search-form .mat-form-field-wrapper {
  background-color: white !important;
  padding-bottom: 0 !important;
}

::ng-deep .sort-form .mat-form-field-wrapper {
  background-color: white !important;
  padding-bottom: 0 !important;
}

:host::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.3rem 0rem 0.6rem 0rem !important;
}

.center-content {
  font-size: var(--sys-title-small-size);
  font-weight: 600;
  letter-spacing: 0.02rem;
  color: var(--link-color);
  &:hover {
    color: var(--sys-primary)
  }
  cursor: pointer;
}

.left-content {
  width: 100%;
  min-width: 10rem;
  margin: auto;
  padding: 0px;
  text-align: left;
  font-size: var(--sys-title-small-size);
  font-weight: 600;
  letter-spacing: 0.02rem;
  color: var(--link-color);
  &:hover {
    color: var(--sys-primary)
  }
  cursor: pointer;
}