.template-container {
	.header {
		display: flex;
		width: 100%;
		height: 60px;
		background-color: var(--secondary-color);
		color: #212121;
		font-size: 1.25rem;
	}

	.template-title {
		margin-left: 1em;
		white-space: nowrap;
		width: 480px;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.definition-content {
		display: block;
		margin: 0;
		padding: 25px;
	}
}

