<div class="row">
  <!-- BooleanDecision -->
  @if (fieldType === descriptionTemplateFieldTypeEnum.BOOLEAN_DECISION) {
    <mat-form-field class="col-md-12">
      <mat-label>{{placeHolder}}</mat-label>
      <mat-select [formControl]="form" [placeholder]="placeHolder" [required]="required">
        <mat-option [value]="null">{{'DESCRIPTION-TEMPLATE-EDITOR.STEPS.FORM.FIELD.DEFAULT-VALUES.NONE' |
        translate}}</mat-option>
        <mat-option [value]="true">{{'DESCRIPTION-TEMPLATE-EDITOR.STEPS.FORM.FIELD.DEFAULT-VALUES.BOOLEAN-DECISION.YES'
          |
        translate}}</mat-option>
        <mat-option [value]="false">{{'DESCRIPTION-TEMPLATE-EDITOR.STEPS.FORM.FIELD.DEFAULT-VALUES.BOOLEAN-DECISION.NO'
          |
        translate}}</mat-option>
      </mat-select>
      @if (form.hasError('backendError')) {
        <mat-error>{{form.getError('backendError').message}}</mat-error>
      }
      @if (form.hasError('required')) {
        <mat-error>{{'GENERAL.VALIDATION.REQUIRED' | translate}}</mat-error>
      }
    </mat-form-field>
  }

  <!-- CheckBox -->
  @if (fieldType === descriptionTemplateFieldTypeEnum.CHECK_BOX) {
    <mat-form-field class="col-md-12">
      <mat-label>{{placeHolder}}</mat-label>
      <mat-select [formControl]="form" [placeholder]="placeHolder" [required]="required">
        <mat-option [value]="true">{{'DESCRIPTION-TEMPLATE-EDITOR.STEPS.FORM.FIELD.DEFAULT-VALUES.CHECK-BOX.CHECKED' | translate}}</mat-option>
        <mat-option [value]="false">{{'DESCRIPTION-TEMPLATE-EDITOR.STEPS.FORM.FIELD.DEFAULT-VALUES.CHECK-BOX.UNCHECKED' | translate}}</mat-option>
      </mat-select>
      @if (form.hasError('backendError')) {
        <mat-error>{{form.getError('backendError').message}}</mat-error>
      }
      @if (form.hasError('required')) {
        <mat-error>{{'GENERAL.VALIDATION.REQUIRED' | translate}}</mat-error>
      }
    </mat-form-field>
  }

  <!-- SELECT -->
  @if (fieldType === descriptionTemplateFieldTypeEnum.SELECT) {
    <mat-form-field class="col-md-12">
      <mat-label>{{placeHolder}}</mat-label>
      <mat-select [formControl]="form" [placeholder]="placeHolder" [required]="required">
        <mat-option [value]="null">{{'DESCRIPTION-TEMPLATE-EDITOR.STEPS.FORM.FIELD.DEFAULT-VALUES.NONE' | translate }}</mat-option>
        @for (opt of formArrayOptions['controls']; track opt) {
          <mat-option [value]="opt.get('value').value">{{opt.get('label').value}}</mat-option>
        }
      </mat-select>
      @if (form.hasError('backendError')) {
        <mat-error>{{form.getError('backendError').message}}</mat-error>
      }
      @if (form.hasError('required')) {
        <mat-error>{{'GENERAL.VALIDATION.REQUIRED' | translate}}</mat-error>
      }
    </mat-form-field>
  }

  <!-- FreeText -->
  @if (fieldType === descriptionTemplateFieldTypeEnum.FREE_TEXT) {
    <mat-form-field class="col-md-12">
      <mat-label>{{placeHolder}}</mat-label>
      <input matInput type="text" [placeholder]="placeHolder" [formControl]="form" [required]="required">
      @if (form.hasError('backendError')) {
        <mat-error>{{form.getError('backendError').message}}</mat-error>
      }
      @if (form.hasError('required')) {
        <mat-error>{{'GENERAL.VALIDATION.REQUIRED' | translate}}</mat-error>
      }
    </mat-form-field>
  }

  <!-- RadioBox -->
  @if (fieldType === descriptionTemplateFieldTypeEnum.RADIO_BOX) {
    <mat-form-field class="col-md-12">
      <mat-label>{{placeHolder}}</mat-label>
      <mat-select [formControl]="form" [placeholder]="placeHolder" [required]="required">
        <mat-option [value]="null">{{'DESCRIPTION-TEMPLATE-EDITOR.STEPS.FORM.FIELD.DEFAULT-VALUES.NONE' | translate}}</mat-option>
        @for (opt of formArrayOptions['controls']; track opt) {
          <mat-option [value]="opt.get('value').value">{{opt.get('label').value}}</mat-option>
        }
      </mat-select>
      @if (form.hasError('backendError')) {
        <mat-error>{{form.getError('backendError').message}}</mat-error>
      }
      @if (form.hasError('required')) {
        <mat-error>{{'GENERAL.VALIDATION.REQUIRED' | translate}}</mat-error>
      }
    </mat-form-field>
  }

  <!-- TextArea -->
  @if (fieldType === descriptionTemplateFieldTypeEnum.TEXT_AREA) {
    <mat-form-field class="col-md-12">
      <mat-label>{{placeHolder}}</mat-label>
      <input matInput type="text" [placeholder]="placeHolder" [formControl]="form" [required]="required">
      @if (form.hasError('backendError')) {
        <mat-error>{{form.getError('backendError').message}}</mat-error>
      }
      @if (form.hasError('required')) {
        <mat-error>{{'GENERAL.VALIDATION.REQUIRED' | translate}}</mat-error>
      }
    </mat-form-field>
  }

  <!-- RichTextArea -->
  @if (fieldType === descriptionTemplateFieldTypeEnum.RICH_TEXT_AREA) {
    <mat-form-field class="col-md-12">
      <mat-label>{{placeHolder}}</mat-label>
      <input matInput type="text" [placeholder]="placeHolder" [formControl]="form" [required]="required">
      @if (form.hasError('backendError')) {
        <mat-error>{{form.getError('backendError').message}}</mat-error>
      }
      @if (form.hasError('required')) {
        <mat-error>{{'GENERAL.VALIDATION.REQUIRED' | translate}}</mat-error>
      }
    </mat-form-field>
  }

  <!-- DatePicker -->
  @if (fieldType === descriptionTemplateFieldTypeEnum.DATE_PICKER) {
    <mat-form-field class="col-12">
      <mat-label>{{placeHolder}}</mat-label>
      <input matInput [placeholder]="placeHolder" class="table-input" [matDatepicker]="date" [formControl]="form" [required]="required">
      <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
      <mat-datepicker #date></mat-datepicker>
      @if (form.hasError('backendError')) {
        <mat-error>{{form.getError('backendError').message}}</mat-error>
      }
      @if (form.hasError('required')) {
        <mat-error>{{'GENERAL.VALIDATION.REQUIRED' | translate}}
        </mat-error>
      }
    </mat-form-field>
  }
</div>
