<div class="container-fluid ">
	<div class="row description-template-listing">
		<div class="col-md-10 offset-md-1">
			<div class="row mb-4 mt-4">
				<div class="col">
					<app-navigation-breadcrumb />
				</div>
				<div class="col-auto" *ngIf="canCreateNew()">
					<button mat-stroked-button class="padded-shadow-btn import" (click)="import()">
						<span class="button-text">
							{{'DESCRIPTION-TEMPLATE-LISTING.IMPORT.UPLOAD-XML' | translate}}
						</span>
					</button>
				</div>

				<div class="col-auto" *ngIf="canCreateNew()">
					<button mat-flat-button color="accent" class="padded-shadow-btn" *ngIf="authService.hasPermission(authService.permissionEnum.EditDescriptionTemplate)" [routerLink]="[routerUtils.generateUrl('/description-templates/new')]">
						<mat-icon>add</mat-icon>
						{{'DESCRIPTION-TEMPLATE-LISTING.CREATE-DESCRIPTION-TEMPLATE' | translate}}
					</button>
				</div>
			</div>

			<app-hybrid-listing [rows]="gridRows" [columns]="gridColumns" [visibleColumns]="visibleColumns" [count]="totalElements" [offset]="currentPageNumber" [limit]="lookup.page.size" [defaultSort]="lookup.order?.items" [externalSorting]="true" (rowActivated)="onRowActivated($event, routerUtils.generateUrl('/description-templates'))" (pageLoad)="alterPage($event)" (columnSort)="onColumnSort($event)" (columnsChanged)="onColumnsChanged($event)" [listItemTemplate]="listItemTemplate">

				<app-description-template-listing-filters hybrid-listing-filters [(filter)]="lookup" (filterChange)="filterChanged($event)" />

				<app-user-settings-picker [key]="userSettingsKey" [userPreference]="lookup" (onSettingSelected)="changeSetting($event)" [autoSelectUserSettings]="autoSelectUserSettings" user-preference-settings />
	
			</app-hybrid-listing>
		</div>
	</div>
</div>

<ng-template #listItemTemplate let-item="item" let-isColumnSelected="isColumnSelected">

	<div class="d-flex align-items-center p-3 gap-1-rem">
		<div class="row">
			<ng-container *ngIf="isColumnSelected('label')">
				<a class="buttonLinkClass" [routerLink]="[routerUtils.generateUrl(['./', item?.id])]" class="col-12" (click)="$event.stopPropagation()">{{item?.label | nullifyValue}}</a>
				<br />
			</ng-container>

			<ng-container *ngIf="isColumnSelected('description')">
				<a class="buttonLinkClass" [routerLink]="[routerUtils.generateUrl(['./', item?.id])]" class="col-12" (click)="$event.stopPropagation()">{{item?.description | nullifyValue}}</a>
				<br />
			</ng-container>

			<ng-container *ngIf="isColumnSelected('status')">
				<div class="col-auto">
					<div class="status-chip" [ngClass]="{'status-chip-finalized': item.status === descriptionTemplateStatuses.Finalized, 'status-chip-draft' : item.status === descriptionTemplateStatuses.Draft}">
						{{enumUtils.toDescriptionTemplateStatusString(item.status) | nullifyValue}}
					</div>
				</div>
			</ng-container>

			<ng-container *ngIf="isColumnSelected('createdAt')">
				<span class="col-12">
					{{'DESCRIPTION-TEMPLATE-LISTING.FIELDS.CREATED-AT' | translate}}:
					<small>
						{{item?.createdAt | dateTimeFormatter : 'short' | nullifyValue}}
					</small>
				</span>
				<br>
			</ng-container>
			<ng-container *ngIf="isColumnSelected('updatedAt')">
				<span class="col-12">
					{{'DESCRIPTION-TEMPLATE-LISTING.FIELDS.UPDATED-AT' | translate}}:
					<small>
						{{item?.updatedAt | dateTimeFormatter : 'short' | nullifyValue}}
					</small>
				</span>
			</ng-container>
		</div>
	</div>
</ng-template>

<ng-template #descriptionTemplateStatus let-row="row" let-item>
	<div class="row">
		<div class="col-auto status-chip" [ngClass]="{'status-chip-finalized': row.status === descriptionTemplateStatuses.Finalized, 'status-chip-draft' : row.status === descriptionTemplateStatuses.Draft}">
			{{enumUtils.toDescriptionTemplateStatusString(row.status) | nullifyValue}}
		</div>
	</div>
</ng-template>

<ng-template #actions let-row="row" let-item>
	<div *ngIf="showActions(row)" class="row" (click)="$event.stopPropagation()">
		<div class="col-auto">
			<button mat-icon-button [matMenuTriggerFor]="actionsMenu" [attr.aria-label]="'ALT-TEXT.MORE-ACTIONS' | translate">
				<mat-icon>more_horiz</mat-icon>
			</button>
			<mat-menu #actionsMenu="matMenu">
				<a *ngIf="canEdit(row)" mat-menu-item [routerLink]="routerUtils.generateUrl(['/description-templates/', row.id])">
					<mat-icon aria-hidden>edit</mat-icon>{{'DESCRIPTION-TEMPLATE-LISTING.ACTIONS.EDIT' | translate}}
				</a>
				<a *ngIf="canAddNewVersion(row)" mat-menu-item [routerLink]="routerUtils.generateUrl(['/description-templates/new-version/', row.id])">
					<mat-icon aria-hidden>queue</mat-icon>{{'DESCRIPTION-TEMPLATE-LISTING.ACTIONS.NEW-VERSION' | translate}}
				</a>
				<a *ngIf="canClone(row)" mat-menu-item [routerLink]="routerUtils.generateUrl(['/description-templates/clone/', row.id])">
					<mat-icon aria-hidden>content_copy</mat-icon>{{'DESCRIPTION-TEMPLATE-LISTING.ACTIONS.CLONE' | translate}}
				</a>
				<a *ngIf="canViewVersions(row)" mat-menu-item [routerLink]="routerUtils.generateUrl(['/description-templates/versions/', row.groupId])">
					<mat-icon aria-hidden>library_books</mat-icon>
					{{'DESCRIPTION-TEMPLATE-LISTING.ACTIONS.VIEW-VERSIONS' | translate}}
				</a>
				<button *ngIf="canDownloadXml(row)" mat-menu-item (click)="export($event, row.id)">
					<mat-icon aria-hidden>download</mat-icon>{{'DESCRIPTION-TEMPLATE-LISTING.ACTIONS.DOWNLOAD-XML' | translate}}
				</button>
				<button *ngIf="canDelete(row)" mat-menu-item (click)="delete(row.id)">
					<mat-icon aria-hidden>delete</mat-icon>
					{{'DESCRIPTION-TEMPLATE-LISTING.ACTIONS.DELETE' | translate}}
				</button>
			</mat-menu>
		</div>
	</div>
</ng-template>
