@if (formGroup) {
  <div class="container-fluid default-user-locale">
    <div class="row">
      <div class="col-12 col-md-4">
        <mat-form-field class="w-100">
          <mat-label>{{'TENANT-CONFIGURATION-EDITOR.FIELDS.TIMEZONE' | translate}}</mat-label>
          <app-single-auto-complete [required]="true" [formControl]="formGroup.get('defaultUserLocale')?.get('timezone')" placeholder="{{'TENANT-CONFIGURATION-EDITOR.FIELDS.TIMEZONE' | translate}}" [configuration]="singleTimezoneAutocompleteConfiguration">
          </app-single-auto-complete>
          @if (formGroup.get('defaultUserLocale')?.get('timezone').hasError('required')) {
            <mat-error>{{'GENERAL.VALIDATION.REQUIRED' | translate}}</mat-error>
          }
          @if (formGroup.get('defaultUserLocale')?.get('timezone')?.hasError('backendError')) {
            <mat-error>{{formGroup.get('defaultUserLocale')?.get('timezone')?.getError('backendError').message}}</mat-error>
          }
        </mat-form-field>
      </div>
      <div class="col-12 col-md-4">
        <mat-form-field class="w-100">
          <mat-label>{{'TENANT-CONFIGURATION-EDITOR.FIELDS.CULTURE' | translate}}</mat-label>
          <app-single-auto-complete [required]="true" [formControl]="formGroup.get('defaultUserLocale')?.get('culture')"
            placeholder="{{'TENANT-CONFIGURATION-EDITOR.FIELDS.CULTURE' | translate}}"
            [configuration]="singleCultureAutocompleteConfiguration">
          </app-single-auto-complete>
          @if (formGroup.get('defaultUserLocale')?.get('culture').hasError('required')) {
            <mat-error>{{'GENERAL.VALIDATION.REQUIRED' | translate}}</mat-error>
          }
          @if (formGroup.get('defaultUserLocale')?.get('culture')?.hasError('backendError')) {
            <mat-error>{{formGroup.get('defaultUserLocale')?.get('culture')?.getError('backendError').message}}</mat-error>
          }
        </mat-form-field>
      </div>
      <div class="col-12 col-md-4">
        <mat-form-field class="w-100">
          <mat-label>{{'TENANT-CONFIGURATION-EDITOR.FIELDS.LANGUAGE' | translate}}</mat-label>
          <mat-select [formControl]="formGroup.get('defaultUserLocale')?.get('language')"  name="language">
            @for (language of languages; track language) {
              <mat-option [value]="language">
                {{ "GENERAL.LANGUAGES."+ language | translate }}
              </mat-option>
            }
          </mat-select>
          @if (formGroup.get('defaultUserLocale')?.get('language')?.hasError('required')) {
            <mat-error>{{'GENERAL.VALIDATION.REQUIRED' | translate}}</mat-error>
          }
          @if (formGroup.get('defaultUserLocale')?.get('language')?.hasError('backendError')) {
            <mat-error>{{formGroup.get('defaultUserLocale')?.get('language')?.getError('backendError').message}}</mat-error>
          }
        </mat-form-field>
      </div>
      <div class="col-12">
        <div class="row actions-row">
          @if (editorModel.id) {
            <div class="ml-auto col-auto"><button mat-stroked-button color="warn" class="padded-shadow-btn" (click)="delete()">
              {{'TENANT-CONFIGURATION-EDITOR.ACTIONS.RESET-TO-DEFAULT' | translate}}
            </button>
          </div>
        }
        <div class="ml-auto col-auto"><button mat-flat-button color="primary" class="padded-shadow-btn" (click)="formSubmit()">
          {{'TENANT-CONFIGURATION-EDITOR.ACTIONS.SAVE' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>
</div>
}
