<div class="container-fluid">
	<div class="row description-status-listing">
		<div class="col-md-10 offset-md-1">
			<div class="row mb-4 mt-4">
				<div class="col">
					<app-navigation-breadcrumb />
				</div>

				<div class="col-auto">
					<button mat-flat-button color="accent" class="padded-shadow-btn" *ngIf="authService.hasPermission(authService.permissionEnum.EditDescriptionStatus)" [routerLink]="routerUtils.generateUrl(['/description-statuses/new'])">
						<mat-icon>add</mat-icon>
						{{'DESCRIPTION-STATUS-LISTING.ACTIONS.CREATE-DESCRIPTION-STATUS' | translate}}
					</button>
				</div>
			</div>

			<app-hybrid-listing 
                [rows]="gridRows" 
                [columns]="gridColumns" 
                [visibleColumns]="visibleColumns" 
                [count]="totalElements" 
                [offset]="currentPageNumber" 
                [limit]="lookup.page.size" 
                [defaultSort]="lookup.order?.items" 
                [externalSorting]="true" 
                (rowActivated)="onRowActivated($event, routerUtils.generateUrl('/description-statuses'))" 
                (pageLoad)="alterPage($event)" 
                (columnSort)="onColumnSort($event)" 
                (columnsChanged)="onColumnsChanged($event)" 
            >

				<app-description-status-listing-filters hybrid-listing-filters [(filter)]="lookup" (filterChange)="filterChanged($event)" />

				<app-user-settings-picker [key]="userSettingsKey" [userPreference]="lookup" (onSettingSelected)="changeSetting($event)" [autoSelectUserSettings]="autoSelectUserSettings" user-preference-settings />
			</app-hybrid-listing>
		</div>
	</div>
</div>

<ng-template #status let-row="row" let-item>
    {{enumUtils.toDescriptionStatusString(row.internalStatus)}}
</ng-template>
<ng-template #actions let-row="row" let-item>
	<div class="row" (click)="$event.stopPropagation()">
		<div class="col-auto" *ngIf="row?.belongsToCurrentTenant && !isDeleted(row)">
			<button mat-icon-button [matMenuTriggerFor]="actionsMenu" [attr.aria-label]="'ALT-TEXT.MORE-ACTIONS' | translate">
				<mat-icon>more_horiz</mat-icon>
			</button>
			<mat-menu #actionsMenu="matMenu">
				<a *ngIf="canEdit(row)" mat-menu-item [routerLink]="routerUtils.generateUrl(['/description-statuses/', row.id])"> 
					<mat-icon>edit</mat-icon>{{'COMMONS.ACTIONS.EDIT' | translate}}
				</a>
				<button *ngIf="canDelete(row)" mat-menu-item (click)="delete(row.id)">
					<mat-icon aria-hidden>delete</mat-icon>
					{{'COMMONS.ACTIONS.DELETE' | translate}}
				</button>
			</mat-menu>
		</div>
	</div>
</ng-template>
