.reference-type-editor {

  .remove {
	background-color: white;
    color: black;
  }

  .add {
	background-color: white;
    color: #009700; //todo mchouliara
  }
}


.dlt-section-btn {
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.section-input {
	position: relative;
}

.section-input .arrows {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

.field-delete{
    align-items: center;
	display: flex;
    cursor: pointer;
  
    .field-delete-icon{
      font-size: 1.2em;
      width: 14px;
      color: var(--sys-primary);
    }
    
}