@if (form.get('data')) {
  <div class="row">
    <mat-checkbox class="col-auto" [formControl]="form.get('data').get('multipleSelect')">
      {{'DESCRIPTION-TEMPLATE-EDITOR.STEPS.FORM.FIELD.FIELDS.FIELD-MULTIPLE-AUTOCOMPLETE' | translate}}
    </mat-checkbox>
    <mat-form-field class="col-12">
      <mat-label>{{'DESCRIPTION-TEMPLATE-EDITOR.STEPS.FORM.FIELD.FIELDS.FIELD-PLACEHOLDER' | translate}}</mat-label>
      <input matInput type="string" [formControl]="form.get('data').get('label')">
      @if (form.get('data').get('label').hasError('backendError')) {
        <mat-error>{{form.get('data').get('label').getError('backendError').message}}</mat-error>
      }
    </mat-form-field>
  </div>
}