<div class="row" *ngIf="form.get('data')">
	<mat-checkbox class="col-auto" [formControl]="this.form.get('data').get('multipleSelect')">
		{{'DESCRIPTION-TEMPLATE-EDITOR.STEPS.FORM.FIELD.FIELDS.FIELD-MULTIPLE-AUTOCOMPLETE' | translate}}
	</mat-checkbox>
	<mat-form-field class="col-12">
		<mat-label>{{'DESCRIPTION-TEMPLATE-EDITOR.STEPS.FORM.FIELD.FIELDS.FIELD-PLACEHOLDER' | translate}}</mat-label>
		<input matInput type="string" [formControl]="form.get('data').get('label')">
		<mat-error *ngIf="form.get('data').get('label').hasError('backendError')">{{form.get('data').get('label').getError('backendError').message}}</mat-error>
	</mat-form-field>
</div>