@use '@angular/material'as mat;

.plan-overview {
    padding: 1.5rem 2rem;
    container-name: plan-overview;
    container-type: inline-size;
}

.quick-actions-mobile {
    display: none;
}

@media(max-width: 992px) { //col-lg
    .quick-actions-mobile {
        display: flex;
        gap: 0.5rem;
    }
    .quick-actions {
        display: none !important;
    }
    .plan-label {
        min-width: fit-content;
    }
}


// ********ICONS********

.mat-mdc-mini-fab {
	width: 2.5em;
	height: 2.5em;
	// background-color: var(--sys-primary);
	// color: var(--sys-on-primary);
}

.mat-mini-fab-icon,
.status-icon {
	font-size: 1.2em;
}

.account-icon {
	font-size: 2.5em;
	height: auto;
	width: auto;
}

// ********BUTTONS********

.id-btn {
	background: url("../../../../assets/images/orcid_unauth.png") no-repeat center;
	width: 1rem;
	height: 1rem;
	margin-right: 0.3em;
	align-self: center;
}

.mat-mini-fab,
.mat-mini-fab-icon,
.status-icon,
.frame-btn,
.plan-logo,
.primary-btn {
	display: flex;
	justify-content: center;
	align-items: center;
}

.frame-btn,
.primary-btn {
	background: transparent;
	box-shadow: 0px 2px 6px #00000029;
}

.frame-btn {
	border: 1px solid var(--sys-outline);
	color: var(--sys-on-surface);
}

// ********TEXT********

.plan-logo {
    padding: 1rem 1.25rem;
    max-width: min-content;
	height: 2.6em;
	background: var(--sys-primary);
	border-radius: 4px;
	font-size: var(--sys-title-small-size);
	color: var(--sys-on-primary);
}


.researcher {
    color:unset;
    &:hover {
        color: var(--link-color);
    }
	padding-right: 0.5em;
	align-self: center;
}

.evaluator-logo {
	margin-right: 1rem;
    margin-left: 0.5rem;
	max-width: 50px;
	max-height: 50px;
}
.evaluator-subtitle{
    font-size: var(--sys-body-small-size);
    padding: 0 1rem;
}
.status-logo {
	height: 1.25rem;
	width:  1.25rem; 
}
// ********CENTER ELEMENTS********

.description-btn,
.description-finalized-btn,
.add-description-btn,
.researcher {
	display: flex;
	align-items: center;
}

/////
/// 
/// 
.main-body, .side-actions{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 0.5rem;
}
.plan-label,
.header {
	font-size: var(--sys-headline-medium-size);
    margin-bottom: 0.25rem;
}
.plan-label {
	font-weight: bold;
    word-break: break-word;
    flex: 1;
    max-width: fit-content;
    margin: 0;
}

.frame{
	background: var(--sys-surface);
	box-shadow: 0px 1px 5px #00000026;
	border-radius: 4px;
	overflow: hidden;
}
.description-btn {
    min-height: 2.3em;
    background-color: var(--sys-tertiary);
    color: var(--sys-on-tertiary);
    border-radius: 4px;
    border: none;
    width: min(40rem, 100%);
    .overlay {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        background: var(--sys-surface);
        opacity: 0;
        border-radius: inherit;
        transition: opacity 100ms ease-in-out;
        -webkit-transition: opacity 100ms ease-in-out;
        -moz-transition: opacity 100ms ease-in-out;
    }
    &:hover {
        .overlay {
            opacity: 0.1;
        }
    }
    
    .description-btn-label {
        margin-right: 1em;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        letter-spacing: 0px;
        font-style: normal;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
        max-width: 85%;
    }
}

.deleted-item {
    color: var(--sys-error);
}
.primary-container-btn {
    color: var(--sys-on-primary-container);
    background-color: var(--sys-primary-container);
    &:not(.mat-mdc-icon-button){
        padding: 0 var(--mat-filled-button-horizontal-padding, 16px);
    }
}


.secondary-info {
    font-size: var(--sys-label-large-size);
    opacity: 0.9;
    .current-status {
        border: 1px solid  var(--sys-outline);;
        border-radius: 999px;
        padding: 0.125rem 0.5rem;
        font-weight: 500;
    }

}

.tab-body {
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}


.doi-subtitle {
    opacity: 0.7;
}

.draft-color{
	color: var(--draft-color);
}
