@if(!hideTitle){
    <div class="title">
        <label [appFor]="path" *ngIf="fieldSet.title && !isChild" class="field-set toc-field-set-header" [id]="fieldSet.id" [ngClass]="{'focused': isAnchor}">
            <span class="path">{{path}}.</span>
            <span class=" toc-field-set-title">{{fieldSet.title}}</span>
        </label>
        <mat-icon class="col-auto info-icon" *ngIf="fieldSet.additionalInformation && !isChild" matTooltip="{{fieldSet.additionalInformation}}">info</mat-icon>
        <button *ngIf="!hideLink" mat-icon-button class="col-auto link-icon" type="button" matTooltip="{{ 'DESCRIPTION-EDITOR.QUESTION.EXTENDED-DESCRIPTION.COPY-LINK' | translate }}" (click)="copyLink()">
            <mat-icon>link</mat-icon>
        </button>
    </div>
}


<small class="pb-2" *ngIf="fieldSet.description && !isChild" [innerHTML]="fieldSet.description"></small>

@if(fieldSet.extendedDescription  && !isChild){
    <div class="mt-3 mb-3">
        @if(!showExtendedDescription){
            <div role="button" (click)="showExtendedDescription = !showExtendedDescription">
                <span class="more d-flex justify-content-center">{{'DESCRIPTION-EDITOR.ACTIONS.VIEW-MORE' | translate}}</span>
            </div>
        }@else {
            <div class="pb-2">
                <small [innerHTML]="fieldSet.extendedDescription"></small>
                <span role="button" class="more d-flex justify-content-center" (click)="showExtendedDescription = !showExtendedDescription">
                    {{'DESCRIPTION-EDITOR.ACTIONS.VIEW-LESS' | translate}}
                </span>
            </div>
        }
    </div>
}