.field-set {
    max-width: 85% !important;
    text-align: left;
    font-weight: 400;
    font-size: var(--sys-title-medium-size);
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    .path {
        background-color: var(--sys-primary);
        padding: 0.2rem;
        border-radius: 4px;
        color: var(--sys-on-primary);
    }
    .toc-field-set-title {
        line-height: 1.5;
        margin-left: 0.25rem;
    }
}

.info-icon{
	margin-top: 1rem;
	width: auto;
	height: auto;
}

h6 {
	text-transform: none;
	font-weight: 400;
}

.more {
	text-decoration: underline;
	color: var(--link-color);
	cursor: pointer;
	font-size: var(--sys-body-medium-size);
	font-weight: 400;
}

.link-icon {
	margin-top: 1rem;
	visibility: hidden;
}

.title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
	
.title:hover {
	& > .link-icon {
  	visibility: visible;
	}
}

.focused {
	animation-name: titleFocus;
  animation-duration: 5s;
}

@keyframes titleFocus {
  0% {
    color: var(--dark-text);
  }
	50% {
		color: var(--sys-primary);
	}
  100% {
    color: var(--dark-text);
  }
}
