.profile {
	height: fit-content;
	min-height: 100vh;
	background-color: var(--sys-surface);
}

.user-profile {
	.profile-card-center-row {
		justify-content: center;
	}

	.profile-card {
		margin-bottom: 1em;
	}

	.user-profile-title {
        font-size: var(--sys-headline-medium-size);
		padding: 3rem;
        .title {
            font-size: var(--sys-display-small-size);
        }
	}

	.profile-content {
        padding: 0 4rem;

		.avatar {
			border-radius: 50%;
			width: 5rem;
			height: 5rem;
			box-shadow: 0px 3px 6px #00000029;
		}
	}

	.camera {
		position: relative;
		bottom: 17px;

		.material-icons-two-tone {
			background-color: #00ffdc;
			font-size: 34px;
			width: 34px;
			height: 34px;
			-webkit-background-clip: text;
		}
	}
	.name {
		color: var(--sys-primary);
		font-weight: 500;
		font-size: var(--sys-headline-medium-size);
		line-height: 3rem;
	}

	.connected {
		color: #a8a8a8;
	}

	.mail {
		color: var(--sys-primary);
		font-weight: 500;
	}

	.field-title {
		color: var(--dark-text);
		opacity: 0.81;
		font-size: var(--sys-headline-medium-size);
		font-weight: 500;
	}
}

.settings {
	line-height: 2.4em !important;
}

.zenodo-email {
	color: black;
}

.remove-btn {
	padding-top: .8rem;
}

.link-zenodo-btn {
	display: flex;
	align-items: center;
}

.unlinkBtn {
	background-color: FireBrick;
	color: white;
	border-radius: 30px;
}

.vertical-line {
	border-left: 2px solid var(--sys-primary);
}

.email-title {
	margin-top: 1.6875rem;
	letter-spacing: 0.15px;
	color: var(--dark-text);
	opacity: 1;
}

.mail-text {
	line-height: 2;
	letter-spacing: 0.15px;
	color: var(--dark-text);
}

.check-icon {
	color: var(--sys-primary);
	transform: scale(0.75);
	padding: 0.4rem;
}

.clear-icon {
	cursor: pointer;
	color: var(--dark-text);
	padding: 0.4rem;
}

.clear-icon:hover {
	background-color: rgb(0,0,0,0.05) !important;
    border-radius: 50%;
}

.unlink-mail {
	line-height: 2rem;
	cursor: pointer;

	mat-icon {
		color: var(--sys-primary);
		display: inline-flex;
		vertical-align: middle;
	}
}

.unlink-mail:hover {
	background-color: #f4f8f9;
}

.disable-unlink{
	opacity: 0.3;
}

.disable-unlink:hover{
	cursor: not-allowed;
}

.disable-unlink:active{
	pointer-events: none;
}

.add-new-btn {
	margin-top: 2rem;
}

.add-mail {
	padding-left: 22px;
	line-height: 2rem;
	cursor: pointer;

	mat-icon {
		color: var(--sys-primary);
		display: inline-flex;
		vertical-align: middle;
	}

	span {
		font-weight: 500;
		letter-spacing: -0.35px;
		color: var(--dark-text);
		opacity: 1;
	}
}

.add-mail:hover {
	background-color: #f4f8f9;
}

.user-credential {
	display: flex;
	align-items: center;

	span.googleIcon,
	span.facebookIcon {
		float: left;
		transform: scale(0.4);
		width: 45px;
		height: 45px;
	}

	span.googleIcon {
		background: url("../../../assets/images/login/google.png") no-repeat;
		margin-left: .2rem;
	}

	span.facebookIcon {
		background: url("../../../assets/images/login/facebook.png") no-repeat;
	}
}

.tenant-selection {
    margin-right: 3rem;
}


@media screen and (max-width: 430px){
    .user-profile-title {
        padding-left: 0 !important;
    }
    .profile-content {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    
    .tenant-selection{
        margin-right: 0 !important;
    }
}