<div mat-dialog-title class="d-flex align-items-center">
    <div class="criteria-title ml-2">{{'PLAN-LISTING.FILTERS.NAME'| translate}}</div>
    <button mat-icon-button class="ml-auto d-flex pointer" (click)="onClose()"  [attr.aria-label]="'ALT-TEXT.CLOSE-DIALOG'  | translate"><mat-icon aria-hidden>close</mat-icon></button>
</div>
<app-plan-filter-component 
  [filters]="filters"
  [isPublic]="data.isPublic" 
  [hasSelectedTenant]="data.hasSelectedTenant" 
  (filterChanged)="onFilterChanged($event)"
  ></app-plan-filter-component>
