.title {
    font-size:  var(--sys-title-large-size);
}
.drag-icon:hover{
    cursor: pointer;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.draggable-item:focus{
    border-radius: 8px;
    &.reorder-mode {
        border: 1px solid var(--sys-primary)
    }
}
.notification-type-list:focus{
    background: rgba(0, 0, 0, 0.2);
}
.assistive-text {
    position: absolute;
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}