@if(formGroup){
    <div class="main">
        <div class="editor-header pl-4" *ngIf="step() > 0">
            <div class="info">
                <div class="title">{{(canEditPlan ? 'PLAN-EDITOR.TITLE-EDIT' : 'PLAN-EDITOR.TITLE-PREVIEW') | translate}}</div>
                <div class="subtitle">{{ formGroup.get('label').value }} <span *ngIf="isDirty" class="changes">({{'PLAN-EDITOR.UNSAVED-CHANGES' | translate}})</span></div>
            </div>
            @if(!isDeleted){
                <div class="ml-auto d-flex flex-row flex-wrap action-btns">
                    <div *ngIf="formGroup.get('id').value && canExport" class="col-auto d-flex align-items-center">
                        <button mat-raised-button [disabled]="isDirty" [matTooltipDisabled]="!isDirty" class="padded-shadow-btn"  [matMenuTriggerFor]="exportMenu" (click)="$event.stopPropagation();" [matTooltip]="'PLAN-EDITOR.ACTIONS.EXPORT.CAN-NOT-EXPORT' | translate">
                            {{ 'PLAN-EDITOR.ACTIONS.EXPORT.EXPORT' | translate }}
                            <mat-icon style="width: 14px;" iconPositionEnd>expand_more</mat-icon>
                        </button>
                        <mat-menu #exportMenu="matMenu" xPosition="before">
                            @for(fileTransformer of fileTransformerService.availableFormatsFor(fileTransformerEntityTypeEnum.Plan); track $index; let i = $index) {
                                 @for (fileFormat of fileTransformer.exportVariants; track $index; let j = $index) {
                                    <button mat-menu-item (click)="fileTransformerService.exportPlan(formGroup.get('id').value, fileTransformer.fileTransformerId, fileFormat.format)">
                                        <i class="fa pr-2" [ngClass]="fileFormat.icon ? fileFormat.icon : 'fa-file-o'" aria-hidden></i>
                                        @if (fileFormat?.format?.toUpperCase() === 'JSON') {
                                            <span>{{ 'GENERAL.FILE-TRANSFORMER.' + fileTransformer?.fileTransformerId?.toUpperCase() + '-' + fileFormat?.format?.toUpperCase() | translate }}</span>
                                        } @else {
                                            <span>{{ 'GENERAL.FILE-TRANSFORMER.' + fileFormat?.format?.toUpperCase() | translate }}</span>
                                        }
                                    </button>
                                 }
                            }
                        </mat-menu>
                    </div>
                    
                    <!-- <mat-divider *ngIf="formGroup.get('id').value && canEditPlan && ((!isLockedByUser && canEditPlan) || isLockedByUser || (hasReversableStatus() && !isLockedByUser))" [vertical]="true" class="ml-2 mr-2"></mat-divider> -->
        
                    <div *ngIf="isDirty || lockedDescriptions?.length || newDescriptionIds?.length" class="col-auto d-flex align-items-center">
                        <button mat-flat-button color="primary" [disabled]="isLoading()" class="padded-shadow-btn mr-3 on-primary-outline" (click)="discardChanges()">
                            {{'PLAN-EDITOR.ACTIONS.DISCARD.DISCARD' | translate}}
                        </button>
                    </div>
        
                    <div class="col-auto d-flex align-items-center" *ngIf="canEditPlan || canEditDescriptions">
                        @if(isNew){
                            <button mat-raised-button [disabled]="isLoading()" (click)="formSubmit()" class="padded-shadow-btn">
                                {{'PLAN-EDITOR.ACTIONS.SAVE' | translate}}
                            </button>
                        }@else {
                            <div class="save-btn-container">
                                <button mat-raised-button [disabled]="isLoading()" (click)="formSubmit()" class="main-save-btn">
                                    {{ 'PLAN-EDITOR.ACTIONS.SAVE' | translate }}
                                </button>
                                <mat-divider [vertical]="true"></mat-divider>
                                <button mat-raised-button
                                    [disabled]="isLoading()"
                                    class="save-menu-btn" 
                                    (click)="$event.stopPropagation();" 
                                    [matMenuTriggerFor]="menu"
                                    [attr.aria-label]="'GENERAL.ACTIONS.SHOW-MORE' | translate"
                                >
                                    <mat-icon>expand_more</mat-icon>
                                </button>
                            </div>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="saveAndClose()" type="button">{{ 'PLAN-EDITOR.ACTIONS.SAVE-AND-CLOSE' | translate }}</button>
                                <button mat-menu-item (click)="formSubmit()" type="button">{{ 'PLAN-EDITOR.ACTIONS.SAVE-AND-CONTINUE' | translate }}</button>
                            </mat-menu>
                        }
                    </div>
                    <div *ngIf="displayCustomStatus" class="col-auto d-flex align-items-center">
                        <span *ngFor='let status of item.availableStatuses' [matTooltip]="'PLAN-EDITOR.ACTIONS.FINALIZE.CAN-NOT-FINALIZE' | translate" [matTooltipDisabled]="!isLoading() && !isDirty && !lockedDescriptions?.length">
                            <button 
                                [disabled]="isLoading() || isDirty || lockedDescriptions?.length > 0 || newDescriptionIds?.length > 0" 
                                mat-raised-button 
                                class="padded-shadow-btn mr-2" 
                                type="button" 
                                (click)="persistStatus(status)"
                            >
                                {{ status.action?.length > 0 ? status.action : status.name }}
                            </button>
                        </span>
                    </div>
                    <div *ngIf="isLocked" class="col-auto d-flex align-items-center">
                        <button disabled mat-raised-button class="padded-shadow-btn mr-2" type="button">{{ 'PLAN-EDITOR.ACTIONS.LOCKED' | translate}}</button>
                    </div>
                </div>
            }
        </div>

        <div class="col  breadcrumb-padding">
            <app-navigation-breadcrumb/>
        </div>
        @if(step() === 0){
            <!-- First Step -->
            @if(isNew){
				<app-plan-blueprints-preview-component (proceedWithBlueprint)="createPlanWithBlueprint($event)" [selectedBlueprintId]="selectedBlueprintId" ></app-plan-blueprints-preview-component>
            }
        }@else {
            <!-- Second etc Steps -->
            <div class="editor-container">
                <app-plan-table-of-contents
                    #tableOfContent
                    [plan]="item"
                    [formGroup]="formGroup"
                    [selectedBlueprint]="selectedBlueprint"
                    [isNew]="isNew"
                    [canEdit]="canEditPlan"
                    [permissionPerSection]="permissionPerSection"
                    [showDescriptionErrors]="showDescErrors"
                    [showPlanErrors]="showPlanErrors"
                    [(step)]="step"
                    [(selectedDescription)]="selectedDescription"
                    (onAddDescription)="addDescriptionToSection($event)"
                    (onRemoveDescription)="removeDescription($event)"
					[annotationsPerAnchor]="annotationsPerAnchor"
					(showAnnotations)="showAnnotations($event)"

				/>

                <div class="form" id="editor-form" *ngIf="selectedBlueprint?.definition"  tabindex="0">
                    <app-plan-internal-blueprint-editor
                        [formGroup]="formGroup"
                        [editorModel]="editorModel"
                        [blueprint]="selectedBlueprint"
                        [canEditPlan]="canEditPlan"
                        [isNew]="isNew"
                        [isDeleted]="isDeleted"
                        [hideEditor]="selectedDescription()"
                        [previewMode]="false"
                        [step]="step()"
                        [descTemplatesInUseMap]="descTemplatesInUseMap()"
                        [annotationsPerAnchor]="annotationsPerAnchor"
                        (showAnnotations)="showAnnotations($event)"
                    />
                    <!-- <div *ngFor="let section of selectedBlueprint?.definition?.sections; let i=index" [hidden]="selectedDescription()">
                        <div class="section-info" [hidden]="step() !== (i + 1)">
                            <div class="col-12" *ngIf="section.fields?.length > 0">
                                <div class="section-title">{{i+1}}. {{section.label}}</div>
                                <small class="pl-2">{{'COMMONS.VALIDATION.REQUIRED-FIELDS-HINT' | translate}}</small>
                                <div *ngFor="let field of section.fields; let j=index" [id]="field.id">
                                    <div class="heading-wrapper row align-items-start">
                                        <div class="col-auto">
                                            <label  [appFor]="(i + 1)+'.'+(j + 1)" class="heading">
                                               @if(!field.label){
                                                    @switch(field.category){
                                                        @case(planBlueprintSectionFieldCategoryEnum.System){
                                                            {{i + 1}}.{{j + 1}}. {{enumUtils.toPlanBlueprintSystemFieldTypeString(field.systemFieldType)}}
                                                        }
                                                        @case(planBlueprintSectionFieldCategoryEnum.ReferenceType){
                                                            {{i + 1}}.{{j + 1}}. {{field.referenceType.name}}
                                                        }
                                                    }
                                               }@else {
                                                {{i + 1}}.{{j + 1}}. {{field.label}}
                                               }
                                               <span *ngIf="field.required">*</span>
                                            </label>
                                        </div>
                                        <div class="col-auto link-icon" style="margin-top: 1rem;">
                                            <button *ngIf="!hideLink" mat-icon-button type="button" matTooltip="{{ 'PLAN-EDITOR.ACTIONS.COPY-LINK' | translate }}" (click)="copyLink(field?.id)">
                                                <mat-icon>link</mat-icon>
                                            </button>
                                        </div>
                                        @if(!isNew){
                                            <div class="ml-auto col-auto" style="margin-top: 1rem;">
                                                <button mat-icon-button class="col-auto annotation-icon" (click)="showAnnotations(field.id, section.id)" matTooltip="{{ 'PLAN-EDITOR.ACTIONS.ANNOTATIONS' | translate }}" [attr.aria-label]="'PLAN-EDITOR.ACTIONS.ANNOTATIONS' | translate">
                                                    <mat-icon 
                                                        [matBadge]="annotationsPerAnchor?.get(field.id)" 
                                                        [matBadgeHidden]="annotationsPerAnchor?.get(field.id) <= 0" 
                                                        matBadgeColor="warn" 
                                                        [attr.aria-label]="(annotationsPerAnchor?.get(field.id) ?? 0) + ' ' + ('ANNOTATION-DIALOG.TITLE' | translate)"
                                                        aria-hidden="false"
                                                    >comment</mat-icon>
                                                </button>
                                            </div>
                                        }
                                    </div>
                                    @if(field.description != null){
                                        <div class="hint" [innerHTML]="field.description"></div>
                                    }

                                    <div class="input-form">
                                        <div *ngIf="field.category === planBlueprintSectionFieldCategoryEnum.System">
                                            <div *ngIf="field.systemFieldType == planBlueprintSystemFieldTypeEnum.Title">
                                                <mat-form-field class="w-100">
                                                    <input id="{{i + 1}}.{{j + 1}}" matInput placeholder="{{field.placeholder && field.placeholder != '' ? field.placeholder : field.label && field.label != '' ? field.label : 'PLAN-EDITOR.FIELDS.TITLE' | translate}}" type="text" name="label" [formControl]="formGroup.get('label')" required>
                                                    <mat-error *ngIf="formGroup.get('label').hasError('backendError')">
                                                        {{formGroup.get('label').getError('backendError').message}}</mat-error>
                                                    <mat-error *ngIf="formGroup.get('label').hasError('required')">
                                                        {{'GENERAL.VALIDATION.REQUIRED' | translate}}</mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div *ngIf="field.systemFieldType == planBlueprintSystemFieldTypeEnum.Description">
                                                <rich-text-editor-component [id]="(i + 1) + '.' + (j + 1)" [form]="formGroup.get('description')" [editable]="formGroup.get('description').status !== 'DISABLED'" [placeholder]="field.placeholder && field.placeholder != '' ? field.placeholder : 'PLAN-EDITOR.PLACEHOLDER.DESCRIPTION'" [required]="field.required">
                                                </rich-text-editor-component>
                                                <mat-error class="mat-mdc-form-field-subscript-wrapper" *ngIf="formGroup.get('description')?.touched && formGroup.get('description').hasError('required')">{{'GENERAL.VALIDATION.REQUIRED' | translate}}</mat-error>
                                            </div>
                                            <div *ngIf="field.systemFieldType == planBlueprintSystemFieldTypeEnum.Language">
                                                <mat-form-field class="w-100">
                                                    <mat-select id="{{i + 1}}.{{j + 1}}" [formControl]="formGroup.get('language')" placeholder="{{field.placeholder && field.placeholder != '' ? field.placeholder : 'PLAN-EDITOR.FIELDS.LANGUAGE' | translate}}" required>
                                                        <mat-option *ngFor="let lang of getLanguageInfos()" [value]="lang.code">
                                                            {{ lang.name }}
                                                        </mat-option>
                                                    </mat-select>
                                                    <mat-error *ngIf="formGroup.get('language').hasError('backendError')">{{formGroup.get('language').getError('backendError').message}}</mat-error>
                                                    <mat-error *ngIf="formGroup.get('language').hasError('required')">{{'GENERAL.VALIDATION.REQUIRED' | translate}}</mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div *ngIf="field.systemFieldType == planBlueprintSystemFieldTypeEnum.Contact" class="row">
                                                <span aria-live="assertive" class="assistive-text">{{reorderAssistiveText()}}.</span>
                                                <span id="operation" class="assistive-text"> {{'ALT-TEXT.REORDER-TABLE.BEGIN-EDITING' | translate}}</span>
                                                <ul cdkDropList id="contact-list" class="col-12 unstyled-list" (cdkDropListDropped)="dropContacts($event)" tabindex="0">
                                                    <li *ngFor="let contact of formGroup.get('properties').get('contacts').controls; let contactIndex=index;" 
                                                        cdkDrag 
                                                        class="d-flex gap-quarter-rem align-items-center pb-1 pr-2" 
                                                        [cdkDragDisabled]="formGroup.disabled || !canEditPlan" 
                                                    >
                                                        <button  
                                                            class="mb-3"
                                                            [id]="'drag-handle-' + contactIndex"
                                                            (keydown)="onContactKeyDown($event, contactIndex, contact.get('firstName').value)" 
                                                            cdkDragHandle 
                                                            [disabled]="formGroup.disabled || !canEditPlan" 
                                                            mat-icon-button aria-labelledby="operation"    
                                                            [class.reorder-mode]="reorderMode"
                                                        >
                                                            <mat-icon aria-hidden>drag_indicator</mat-icon>
                                                        </button>
                                                        <span class="mb-3 title-size-md">{{contactIndex + 1}}</span>
                                                        <mat-form-field class="w-100">
                                                            <mat-label>{{'PLAN-EDITOR.FIELDS.FIRST-NAME' | translate}}</mat-label>
                                                            <input id="{{i + 1}}.{{j + 1}}{{contactIndex > 0 ? '.' + contactIndex : ''}}" matInput type="text" name="firstName" [formControl]="contact.get('firstName')" required>
                                                            <mat-error *ngIf="contact.get('firstName').hasError('backendError')">{{contact.get('firstName').getError('backendError').message}}</mat-error>
                                                            <mat-error *ngIf="contact.get('firstName').hasError('required')">{{'GENERAL.VALIDATION.REQUIRED' | translate}}</mat-error>
                                                        </mat-form-field>
                                                        <mat-form-field class="w-100">
                                                            <mat-label>{{'PLAN-EDITOR.FIELDS.LAST-NAME' | translate}}</mat-label>
                                                            <input matInput type="text" name="lastName" [formControl]="contact.get('lastName')" required>
                                                            <mat-error *ngIf="contact.get('lastName').hasError('backendError')">{{contact.get('lastName').getError('backendError').message}}</mat-error>
                                                            <mat-error *ngIf="contact.get('lastName').hasError('required')">{{'GENERAL.VALIDATION.REQUIRED' | translate}}</mat-error>
                                                        </mat-form-field>
                                                        <mat-form-field class="w-100">
                                                            <mat-label>{{'PLAN-EDITOR.FIELDS.EMAIL' | translate}}</mat-label>
                                                            <input matInput type="text" name="email" [formControl]="contact.get('email')" required>
                                                            <mat-error *ngIf="contact.get('email').hasError('backendError')">{{contact.get('email').getError('backendError').message}}</mat-error>
                                                            <mat-error *ngIf="contact.get('email').hasError('required')">{{'GENERAL.VALIDATION.REQUIRED' | translate}}</mat-error>
                                                        </mat-form-field>
                                                        @if(canSave || isNew){
                                                            <button mat-icon-button class="action-list-icon mb-3" matTooltip="{{'PLAN-EDITOR.ACTIONS.SEARCH-CONTACT' | translate}}" (click)="searchContact(contactIndex, field)" [disabled]="formGroup.disabled || (!isNew && !canEditPlan)" [attr.aria-label]="'PLAN-EDITOR.ACTIONS.SEARCH-CONTACT' | translate">
                                                                <mat-icon aria-hidden>search</mat-icon>
                                                            </button>
                                                        }
                                                        @if(canEditPlan || isNew){
                                                            <button mat-icon-button class="action-list-icon mb-3" matTooltip="{{'PLAN-EDITOR.ACTIONS.REMOVE-CONTACT' | translate}}" (click)="removeContact(contactIndex)" [disabled]="formGroup.disabled || (!isNew && !canEditPlan)" [attr.aria-label]="'PLAN-EDITOR.ACTIONS.REMOVE-CONTACT' | translate">
                                                                <mat-icon aria-hidden>delete</mat-icon>
                                                            </button>
                                                        }
                                                    </li>
                                                </ul>
                                                <button mat-icon-button (click)="addContact()" [disabled]="formGroup.disabled || isFinalized || (!canEditPlan && !isNew)" matTooltip="{{'PLAN-EDITOR.ACTIONS.ADD-CONTACT' | translate}}" [attr.aria-label]="'PLAN-EDITOR.ACTIONS.ADD-CONTACT' | translate">
                                                    <mat-icon aria-hidden>add</mat-icon>
                                                </button>
                                                <mat-error *ngIf="formGroup.get('properties').get('contacts').hasError('backendError')">{{formGroup.get('properties').get('contacts').getError('backendError').message}}</mat-error>
                                                <mat-error *ngIf="formGroup.get('properties').get('contacts').hasError('required')">{{'GENERAL.VALIDATION.REQUIRED' | translate}}</mat-error>
                                            </div>
                                            <div *ngIf="field.systemFieldType == planBlueprintSystemFieldTypeEnum.AccessRights">
                                                <mat-form-field class="w-100">
                                                    <mat-select id="{{i + 1}}.{{j + 1}}" [formControl]="formGroup.get('accessType')" placeholder="{{ field.placeholder && field.placeholder != '' ? field.placeholder : 'PLAN-EDITOR.FIELDS.ACCESS-TYPE' | translate}}" [required]="field.required">
                                                        <mat-option *ngFor="let planAccessType of planAccessTypeEnumValues" [value]="planAccessType">
                                                            {{enumUtils.toPlanAccessTypeString(planAccessType)}}
                                                        </mat-option>
                                                    </mat-select>
                                                    <mat-error *ngIf="formGroup.get('accessType').hasError('backendError')">{{formGroup.get('accessType').getError('backendError').message}}</mat-error>
                                                    <mat-error *ngIf="formGroup.get('accessType').hasError('required')">{{'GENERAL.VALIDATION.REQUIRED' | translate}}</mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div *ngIf="field.systemFieldType == planBlueprintSystemFieldTypeEnum.User">
                                                <div>
                                                    <app-plan-user-field-component [form]="formGroup" [validationErrorModel]="editorModel.validationErrorModel" [sections]="selectedBlueprint.definition.sections" [viewOnly]="formGroup.disabled || !canEditPlan" [isActivePlan]="!isDeleted" [required]="required"></app-plan-user-field-component>
                                                </div>
                                            </div>
                                        </div>
                                        @if(field.category === planBlueprintSectionFieldCategoryEnum.ReferenceType){
                                            @if(field.multipleSelect){
                                                <app-reference-field-component id="{{i + 1}}.{{j + 1}}" [form]="formGroup.get('properties').get('planBlueprintValues').get(field.id).get('references')" [dependencies]="formGroup.get('properties').get('planBlueprintValues')" [label]="field.label" [placeholder]="field.placeholder && field.placeholder != '' ? field.placeholder : field.label" [referenceType]="field.referenceType" [multiple]="true" [required]="field.required"></app-reference-field-component>
                                            }@else {
                                                <app-reference-field-component id="{{i + 1}}.{{j + 1}}" [form]="formGroup.get('properties').get('planBlueprintValues').get(field.id).get('reference')" [dependencies]="formGroup.get('properties').get('planBlueprintValues')" [label]="field.label" [placeholder]="field.placeholder && field.placeholder != '' ? field.placeholder : field.label" [referenceType]="field.referenceType" [multiple]="false" [required]="field.required"></app-reference-field-component>
                                            }
                                        }
                                        <div *ngIf="field.category === planBlueprintSectionFieldCategoryEnum.Extra">
                                            <div *ngIf="field.dataType === planBlueprintExtraFieldDataTypeEnum.Text">
                                                <mat-form-field class="w-100">
                                                    <mat-label>{{field.label}}</mat-label>
                                                    <input id="{{i + 1}}.{{j + 1}}" matInput placeholder="{{field.placeholder && field.placeholder != '' ? field.placeholder : field.label}}" type="text" name="value" [formControl]="formGroup.get('properties').get('planBlueprintValues').get(field.id).get('fieldValue')" [required]="field.required">
                                                    <mat-error *ngIf="formGroup.get('properties').get('planBlueprintValues').get(field.id).get('fieldValue').hasError('backendError')">{{formGroup.get('properties').get('planBlueprintValues').get(field.id).get('fieldValue').getError('backendError').message}}</mat-error>
                                                    <mat-error *ngIf="formGroup.get('properties').get('planBlueprintValues').get(field.id).get('fieldValue').hasError('required')">{{'GENERAL.VALIDATION.REQUIRED' | translate}}</mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div *ngIf="field.dataType === planBlueprintExtraFieldDataTypeEnum.RichText">
                                                <rich-text-editor-component [form]="formGroup.get('properties').get('planBlueprintValues').get(field.id).get('fieldValue')" placeholder="{{field.placeholder && field.placeholder != '' ? field.placeholder : field.label}}" [required]="field.required"></rich-text-editor-component>
                                            </div>
                                            <div *ngIf="field.dataType === planBlueprintExtraFieldDataTypeEnum.Date">
                                                <mat-form-field class="w-100">
                                                    <mat-label>{{field.label}}</mat-label>
                                                    <input id="{{i + 1}}.{{j + 1}}" matInput placeholder="{{field.placeholder && field.placeholder != '' ? field.placeholder : field.label}}" name="value" [formControl]="formGroup.get('properties').get('planBlueprintValues').get(field.id).get('dateValue')" [matDatepicker]="date" [required]="field.required">
                                                    <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
                                                    <mat-datepicker #date></mat-datepicker>
                                                    <mat-error *ngIf="formGroup.get('properties').get('planBlueprintValues').get(field.id).get('dateValue').hasError('backendError')">{{formGroup.get('properties').get('planBlueprintValues').get(field.id).get('dateValue').getError('backendError').message}}</mat-error>
                                                    <mat-error *ngIf="formGroup.get('properties').get('planBlueprintValues').get(field.id).get('dateValue').hasError('required')">{{'GENERAL.VALIDATION.REQUIRED' | translate}}</mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div *ngIf="field.dataType === planBlueprintExtraFieldDataTypeEnum.Number">
                                                <mat-form-field class="w-100">
                                                    <mat-label>{{field.label}}</mat-label>
                                                    <input id="{{i + 1}}.{{j + 1}}" matInput placeholder="{{field.placeholder && field.placeholder != '' ? field.placeholder : field.label}}" type="number" name="value" [formControl]="formGroup.get('properties').get('planBlueprintValues').get(field.id).get('numberValue')" [required]="field.required">
                                                    <mat-error *ngIf="formGroup.get('properties').get('planBlueprintValues').get(field.id).get('numberValue').hasError('backendError')">{{formGroup.get('properties').get('planBlueprintValues').get(field.id).get('numberValue').getError('backendError').message}}</mat-error>
                                                    <mat-error *ngIf="formGroup.get('properties').get('planBlueprintValues').get(field.id).get('numberValue').hasError('required')">{{'GENERAL.VALIDATION.REQUIRED' | translate}}</mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        @if(field.category === planBlueprintSectionFieldCategoryEnum.Upload){
                                            <app-plan-upload-field path="{{i + 1}}.{{j + 1}}" [form]="formGroup.get('properties').get('planBlueprintValues').get(field.id)" [field]="field"></app-plan-upload-field>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-12" *ngIf="section.hasTemplates">
                                <div class="row">


									<div class="col-12">
										<div><small>{{'COMMONS.VALIDATION.REQUIRED-FIELDS-HINT' | translate}}</small></div>
										<div>
										<label   class="heading">{{'PLAN-EDITOR.FIELDS.DESCRIPTION-TEMPLATES' | translate}} *</label>
										</div>
										<mat-label>{{'PLAN-EDITOR.FIELDS.DESCRIPTION-TEMPLATES-HINT' | translate}}</mat-label>
										<app-description-template-table-select [descTemplatesControl]="formGroup.get('descriptionTemplates').get(section.id)"></app-description-template-table-select>
										<div class="col pl-0 pt-2 pb-0 d-flex">
											<span class="not-found-template">{{'PLAN-EDITOR.NO-TEMPLATE-MESSAGE' | translate}}</span>
										</div>
									</div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <app-plan-description-editor 
                        #descriptionEditor
                        [hidden]="!selectedDescription()" 
                        [id]="selectedDescription()" 
                        [plan]="item"
                        [atBaseEditor]="tableOfContent.reachedBase"
                        [validationErrorModel]="validationErrorModel"
                        (descriptionChanged)="buildDescriptionForm($event)"
                        (showErrors)="onShowDescriptionErrors($event)"
                    />
                </div>
            </div>
        }
    </div>
}
