
.editor-header {
    display: flex;
    z-index: 3;
    min-height: fit-content;
    background: var(--sys-primary) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    padding: 0.5rem;
    padding-top: 0.75rem;
    border-radius: 0px;
  
    .info {
        flex: 2;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        .title {
            font-weight: 400;
            font-size: var(--sys-title-small-size);
            color: var(--sys-on-primary);
        }
        
        .subtitle {
            color: var(--sys-on-primary);
            font-weight: 700;
            font-size: var(--sys-title-medium-size);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}

.breadcrumb-padding {
    padding: 0.5rem 0 0 1rem;
}

// .blueprint-section {
//     text-align: left;
//     font-weight: 400;
//     letter-spacing: 0px;
//     .blueprint-heading {
//         text-align: left;
//         font-weight: 700;
//         font-size: var(--sys-headline-medium-size);
//         letter-spacing: 0px;
//         color: var(--sys-on-background);
//         opacity: 0.81;
//         margin-top: 1.625rem;
//         margin-bottom: 0.625rem;
//     }
// }

.editor-container {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 22rem auto;
}

.form {
    flex: 1;
    overflow-y: auto;
    height: calc(100vh - 13rem);
}
  
mat-icon.size-16 {
    width: 16px;
    height: 16px;
    line-height: 16px;
    font-size: 16px;
    margin-top: 0.4rem;
}
  
.changes {
    font-weight: 400;
    color: var(--sys-on-primary);
}

a {
    color: var(--sys-on-background);
}

a:hover {
    color: var(--sys-primary);
}

.section-info {
    background-color: var(--sys-surface);
    padding: 1rem 0.5rem;
    
    .section-title, .heading, .hint {
        color: var(--sys-on-surface);
        opacity: 0.81;
    }
    .section-title {
        font-size: var(--sys-headline-large-size);
        font-weight: 700;
    }

    .heading {
		text-align: left;
        font-weight: 700;
		font-size: var(--sys-headline-medium-size);
		margin-top: 1.625rem;
		margin-bottom: 0.625rem;
	}

    .hint {
		text-align: left;
		font-weight: 400;
		font-size: var(--sys-body-medium-size);
		margin-bottom: 2.125rem;
	}
    
    .link-icon {
        margin-top: 1rem;
        visibility: hidden;
    }      

    .heading-wrapper:hover {
        & > .link-icon {
          visibility: visible;
        }
    } 


    .input-form {
		text-align: left;
		font-weight: 400;
		font-size: var(--sys-body-medium-size);
		letter-spacing: 0.15px;
		margin-bottom: 1rem;
        opacity: 1;
	}

    .not-found-template {
        font-size: var(--sys-title-small-size);
        font-weight: 400;
        padding: 0rem 0.5rem 0rem 0rem;
        color: var(--dark-text);
    }

    .disabled-toggle {
        font-size: var(--sys-body-medium-size);
        font-weight: 400;
        padding: 0rem 0.5rem 0rem 0rem;
        color: #e0e0e0 !important;
        text-decoration: none;
    }

    .input-btn {
        border: none;
        color: var(--gray);
        background-color: #ffffff00;
        cursor: pointer;
    }

    .input-btn :hover {
        color: var(--sys-primary) !important;
    }
}

.drag-handle {
	cursor: move; 
	color: var(--sys-primary);
}
.drag-handle-disabled {
	cursor: auto; 
	color: rgba(0, 0, 0, 0.38);;
}

.mat-mdc-raised-button:not(:disabled) {
    color: var(--sys-on-surface);
}

.title-size-md {
    font-size: var(--sys-headline-medium-size)
}

.action-btns {
    row-gap: 0.5rem;
    .save-btn-container {
        display: flex;
        background-color: var(--sys-surface);
        border-radius: var(--mdc-protected-button-container-shape);
        .main-save-btn {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        .save-menu-btn {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            mat-icon {
                font-size: 1.5rem;
                line-height: 1rem;
            }
        }
    }
}



.reorder-mode:focus {
    border: 1px solid var(--sys-primary)
}



@container main-page (inline-size < 600px){
    .editor-container {
        display: block;
    }
    .form {
        height: auto;
    }
}
