<div class="template-container p-2">
	<div mat-dialog-title class="d-flex align-items-center">
        <span>{{'USER-PROFILE.ACTIONS.LINK-NEW-ACCOUNT' | translate}}</span>
        <div class="ml-auto">
            <button mat-icon-button (click)="closeDialog()" [attr.aria-label]="'ALT-TEXT.CLOSE-DIALOG'  | translate"><mat-icon aria-hidden>close</mat-icon></button>
        </div>
	</div>
	
	<div mat-dialog-content>
        <mat-form-field class="w-100">
            <input required matInput [formControl]="form.get('email')" placeholder="{{'USER-PROFILE.SETTINGS.YOUR-EMAIL' | translate}}">
        </mat-form-field>
	</div>
	
	<div mat-dialog-actions class="row">
        <div class="col-auto ml-auto">
            <button mat-stroked-button class="padded-shadow-btn ml-auto" (click)="cancel()">{{'USER-PROFILE.ACTIONS.CANCEL' | translate}}</button>
            <button mat-flat-button color="primary" class="padded-shadow-btn" (click)="add()" [disabled]="!form.valid">{{'USER-PROFILE.ACTIONS.ADD' | translate}}</button>
        </div>
	</div>
</div>
