.template-container {

	.header {
		display: flex;
		width: 100%;
		height: 89px;
		background-color: var(--sys-primary);
		color: var(--sys-on-primary);
		font-size: var(--sys-headline-medium-size);
	}

	.title {
		font-weight: 700;
		font-size: var(--sys-headline-medium-size);
		color: var(--dark-text);
		opacity: 1;
	}

	.template-title {
		margin-left: 37px;
	}
}
