<div class="p-3">
	<div mat-dialog-title class=" d-flex align-items-center">
		<div>
			{{ data.message }}
		</div>
		<div class="ml-auto">
            <button mat-icon-button (click)="cancel()" [attr.aria-label]="'ALT-TEXT.CLOSE-DIALOG'  | translate">
                <mat-icon aria-hidden>close</mat-icon>
            </button>
		</div>
	</div>
	<div mat-dialog-content>
        <app-file-uploader 
            [accept]="'text/xml'"
            [placeholder]="(hasBlueprint() ? 'DESCRIPTION-TEMPLATE-LISTING.IMPORT.REPLACE-FILE' : 'DESCRIPTION-TEMPLATE-LISTING.IMPORT.UPLOAD-FILE') | translate"
            (onChange)="selectXML($event)"
            (onRemove)="onRemove()"
        />
		<div class="row">
			<mat-form-field class="col-12">
				<input matInput placeholder="{{'DESCRIPTION-TEMPLATE-LISTING.IMPORT.UPLOAD-XML-NAME'| translate}}" name="descriptionBlueprintName" [(ngModel)]="data.name">
			</mat-form-field>
		</div>
	</div>
    <div mat-dialog-actions class="d-flex justify-content-between gap-half-rem">
        <button mat-stroked-button type="button" class="padded-shadow-btn" (click)="cancel()">{{ data.cancelButton }}</button>
        <button mat-stroked-button color="primary" class="padded-shadow-btn" type="button" (click)="confirm()" [disabled]="!hasBlueprint()">{{ data.confirmButton }}</button>
    </div>
</div>
