<div class="container-fluid">
  <div class="row prefilling-source-editor">
    @if (formGroup) {
      <div class="col-md-10 offset-md-1 colums-gapped">
        <div class="row justify-content-between align-items-center mt-4 mb-4">
          <div class="col">
            <app-navigation-breadcrumb />
          </div>
          <div class="col-auto">
            <button mat-stroked-button class="padded-shadow-btn" (click)="cancel()" type="button">{{'PREFILLING-SOURCE-EDITOR.ACTIONS.CANCEL' | translate}}</button>
          </div>
          @if (canDelete) {
            <div class="col-auto">
              <button mat-stroked-button color="warn" class="padded-shadow-btn" type="button" (click)="delete()">
                <mat-icon aria-hidden>delete</mat-icon>
                {{'PREFILLING-SOURCE-EDITOR.ACTIONS.DELETE' | translate}}
              </button>
            </div>
          }
          @if (canSave) {
            <div class="col-auto">
              <button mat-flat-button color="primary" class="padded-shadow-btn" (click)="formSubmit()">
                <mat-icon>save</mat-icon>
                {{'PREFILLING-SOURCE-EDITOR.ACTIONS.SAVE' | translate}}
              </button>
            </div>
          }
        </div>
        @if (formGroup) {
          <form (ngSubmit)="formSubmit()" class="d-flex flex-column gap-half-rem">
            <mat-card appearance="outlined" class="pb-3">
              <mat-card-content>
                <div class="pb-3"><small>{{'COMMONS.VALIDATION.REQUIRED-FIELDS-HINT' | translate}}</small></div>
                <div class="row">
                  <div class="col-12">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-6">
                          <mat-form-field class="w-100">
                            <mat-label>{{'PREFILLING-SOURCE-EDITOR.FIELDS.LABEL' | translate}}</mat-label>
                            <input matInput type="text" name="label" [formControl]="formGroup.get('label')" required>
                            @if (formGroup.get('label').hasError('backendError')) {
                              <mat-error>{{formGroup.get('label').getError('backendError').message}}</mat-error>
                            }
                            @if (formGroup.get('label').hasError('required')) {
                              <mat-error>{{'GENERAL.VALIDATION.REQUIRED' | translate}}</mat-error>
                            }
                          </mat-form-field>
                        </div>
                        <div class="col-6">
                          <mat-form-field class="w-100">
                            <mat-label>{{'PREFILLING-SOURCE-EDITOR.FIELDS.CODE' | translate}}</mat-label>
                            <input matInput type="text" name="code" [formControl]="formGroup.get('code')" required>
                            @if (formGroup.get('code').hasError('backendError')) {
                              <mat-error>{{formGroup.get('code').getError('backendError').message}}</mat-error>
                            }
                            @if (formGroup.get('code').hasError('required')) {
                              <mat-error>{{'GENERAL.VALIDATION.REQUIRED' | translate}}</mat-error>
                            }
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
            <mat-card appearance="outlined" class="mb-1">
              <mat-card-header>
                <mat-card-title>{{'PREFILLING-SOURCE-EDITOR.FIELDS.FIXED-VALUE-FIELDS' | translate}}</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <div class="row">
                  <!-- Fixed Value Fields -->
                  <div class="col-12">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-12">
                          @for (field of formGroup.get('definition').get('fixedValueFields').controls; track field; let fieldIndex = $index) {
                            <div class="row mb-3">
                              <div class="col-12">
                                <div class="row mb-3 d-flex align-items-center">
                                  <div class="col-auto d-flex">
                                    <mat-card-title>{{'PREFILLING-SOURCE-EDITOR.FIELDS.FIELD' | translate}} {{fieldIndex + 1}}</mat-card-title>
                                  </div>
                                  <div class="col-auto d-flex">
                                    <button mat-icon-button matTooltip="{{'PREFILLING-SOURCE-EDITOR.ACTIONS.REMOVE-FIELD' | translate}}" (click)="removeFixedValueField(fieldIndex)" [disabled]="formGroup.disabled" [attr.aria-label]="'COMMONS.ACTIONS.REMOVE' | translate">
                                      <mat-icon aria-hidden>delete</mat-icon>
                                    </button>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-9">
                                    <app-prefilling-source-field-component [form]="field"></app-prefilling-source-field-component>
                                  </div>
                                  <div class="col-3">
                                    <mat-form-field class="w-100">
                                      <mat-label>{{'PREFILLING-SOURCE-EDITOR.FIELDS.FIXED-VALUE' | translate}}</mat-label>
                                      <input matInput type="text" name="fixedValue" [formControl]="field.get('fixedValue')">
                                      @if (field.get('fixedValue').hasError('backendError')) {
                                        <mat-error>{{field.get('fixedValue').getError('backendError').message}}</mat-error>
                                      }
                                      @if (field.get('fixedValue').hasError('required')) {
                                        <mat-error>{{'GENERAL.VALIDATION.REQUIRED' | translate}}</mat-error>
                                      }
                                    </mat-form-field>
                                  </div>
                                </div>
                              </div>
                            </div>
                          }
                          <button mat-flat-button color="accent" class="padded-shadow-btn" type="button" (click)="addFixedValiueField()" [disabled]="formGroup.disabled">{{'PREFILLING-SOURCE-EDITOR.ACTIONS.ADD-FIELD' | translate}}</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
            <mat-card appearance="outlined" class="mb-1">
              <mat-card-header>
                <mat-card-title>{{'PREFILLING-SOURCE-EDITOR.FIELDS.FIELDS' | translate}}</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <!-- Fields -->
                <div class="col-12">
                  @for (field of formGroup.get('definition').get('fields').controls; track field; let fieldIndex = $index) {
                    <div class="row mb-3">
                      <div class="col-12">
                        <div class="row mb-3 d-flex align-items-center">
                          <div class="col-auto d-flex">
                            <mat-card-title>{{'PREFILLING-SOURCE-EDITOR.FIELDS.FIELD' | translate}} {{fieldIndex + 1}}</mat-card-title>
                          </div>
                          <div class="col-auto d-flex">
                            <button mat-icon-button matTooltip="{{'PREFILLING-SOURCE-EDITOR.ACTIONS.REMOVE-FIELD' | translate}}" (click)="removeField(fieldIndex)" [disabled]="formGroup.disabled" [attr.aria-label]="'COMMONS.ACTIONS.REMOVE' | translate">
                              <mat-icon aria-hidden>delete</mat-icon>
                            </button>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-3">
                            <mat-form-field class="w-100">
                              <mat-label>{{'PREFILLING-SOURCE-EDITOR.FIELDS.CODE' | translate}}</mat-label>
                              <input matInput type="text" name="code" [formControl]="field.get('code')">
                              @if (field.get('code').hasError('backendError')) {
                                <mat-error>{{field.get('code').getError('backendError').message}}</mat-error>
                              }
                              @if (field.get('code').hasError('required')) {
                                <mat-error>{{'GENERAL.VALIDATION.REQUIRED' | translate}}</mat-error>
                              }
                            </mat-form-field>
                          </div>
                          <div class="col-9">
                            <app-prefilling-source-field-component [form]="field"></app-prefilling-source-field-component>
                          </div>
                        </div>
                      </div>
                    </div>
                  }
                  <div class="d-flex gap-half-rem">
                    <button mat-flat-button color="accent" class="padded-shadow-btn" type="button" (click)="addField()" [disabled]="formGroup.disabled">{{'PREFILLING-SOURCE-EDITOR.ACTIONS.ADD-FIELD' | translate}}</button>
                    @if (formGroup.get('definition').get('fields').value != '') {
                      <button mat-flat-button color="accent" class="padded-shadow-btn" type="button" (click)="submitFields()" [disabled]="!formGroup.get('definition').get('fields').valid">{{'PREFILLING-SOURCE-EDITOR.ACTIONS.SUBMIT-FIELDS' | translate}}</button>
                    }
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
            <mat-card appearance="outlined" class="mb-1">
              <mat-card-header>
                <mat-card-title class="p-3 mb-1 d-flex align-items-center gap-1-rem">
							    <div>
							      	{{'PREFILLING-SOURCE-EDITOR.FIELDS.SOURCE-CONFIGURATION' | translate}}
							    </div>
                <div class="col-auto d-flex">
								  <div style="display: inline-block;">
									  <button mat-icon-button type="button" (click)="openPrefillingSourceTestDialog({key: formGroup.get('definition').get('searchConfiguration').get('key').value})" [attr.aria-label]="'COMMONS.ACTIONS.TEST' | translate">
										  <mat-icon aria-hidden>bug_report</mat-icon>
								    </button>
								  </div>
							  </div>
						</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <div class="row mt-3">
                  <div class="col-12">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-12">
                          <app-external-fetcher-source-component [formGroup]="formGroup.get('definition').get('searchConfiguration')" [validationErrorModel]="editorModel.validationErrorModel" [validationRootPath]="'definition.searchConfiguration.'"></app-external-fetcher-source-component>
                          <div>
                            <mat-checkbox [formControl]="formGroup.get('definition').get('getEnabled')" (change)="getEnabledChanged($event)">
                              {{'PREFILLING-SOURCE-EDITOR.FIELDS.GET-SOURCE-CONFIGURATION' | translate}}
                              @if (formGroup.get('definition').get('getEnabled').hasError('backendError')) {
                                <mat-error>{{formGroup.get('definition').get('getEnabled').getError('backendError').message}}</mat-error>
                              }
                              @if (formGroup.get('definition').get('getEnabled').hasError('required')) {
                                <mat-error>{{'GENERAL.VALIDATION.REQUIRED' | translate}}</mat-error>
                              }
                            </mat-checkbox>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
            @if (formGroup.get('definition').get('getEnabled').value == true) {
              <mat-card appearance="outlined" class="mb-1">
                <mat-card-header>
                  <mat-card-title class="p-3 mb-1 d-flex align-items-center gap-1-rem">
							      <div>
								        {{'PREFILLING-SOURCE-EDITOR.FIELDS.GET-SOURCE-CONFIGURATION' | translate}}
							      </div>
                  <div class="col-auto d-flex">
								<div style="display: inline-block;">
									<button mat-icon-button type="button" (click)="openPrefillingSourceTestDialog({key: formGroup.get('definition').get('getConfiguration').get('key').value})" [attr.aria-label]="'COMMONS.ACTIONS.TEST' | translate">
										<mat-icon aria-hidden>bug_report</mat-icon>
								</button>
								</div>
							</div>
						</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <app-external-fetcher-source-component [formGroup]="formGroup.get('definition').get('getConfiguration')" [validationErrorModel]="editorModel.validationErrorModel" [validationRootPath]="'definition.getConfiguration.'"></app-external-fetcher-source-component>
                </mat-card-content>
              </mat-card>
            }
          </form>
        }
      </div>
    }
  </div>
</div>
