.sidebar-footer {
	font-weight: 700;
	font-size: var(--sys-body-small-size);

}

.sidebar-footer .option {
	margin: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-radius: 0px;
	cursor: pointer;
	display: inline-flex;
	/* font-size: 13px; */
	font-size: var(--sys-label-large-size);
}

.sidebar-footer .option:hover {
	background-color: rgb(0,0,0,0.05);
    border-radius: 6px;
}

.sidebar-footer .option:focus {
	background-color: rgb(0,0,0,0.05);
    border-radius: 6px;
}

.sidebar-footer .vl {
	border-right: 1px solid #d4d4d4;
	color: white;
}

.option-active {
	color: var(--sys-primary);
}
