$font-family-sans-serif: 'Roboto', 'Helvetica', 'Arial', sans-serif !default;
$font-family-serif:      'Roboto Slab', 'Times New Roman', serif !default;

// $font-size-h1:                 2.5rem;
// $font-size-h2:                 2.25rem !default;
// $font-size-h3:                 1.5625rem;
// $font-size-h4:                 1.125rem !default;
// $font-size-h5:                 1.0625rem !default;
// $font-size-h6:                 1rem !default;
// $font-size-small:              13px !default;



// $font-weight-light: 200 !default;
// $font-weight-default: 300 !default;
// $font-weight-bold:    400 !default;
// $font-weight-extra-bold: 500 !default;

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $font-family-sans-serif;
//   font-weight: 300;
//   line-height: 1.5em;
//   font-size: var(--sys-body-medium-size);
}