@if (formGroup()) {
  <form class="description-base-fields-editor" [formGroup]="formGroup()">
    <div class="col-12 intro">
      <p>{{'DESCRIPTION-EDITOR.BASE-INFO.INTRO' | translate}}</p>
      {{'DESCRIPTION-EDITOR.BASE-INFO.INTRO-TIP' | translate}}
    </div>
    <div class="col-12 card">
      <small>{{'COMMONS.VALIDATION.REQUIRED-FIELDS-HINT' | translate}}</small>
      <!-- Title Field -->
      <div class="row">
        <div class="col-12">
          <label for="titleInput" class="heading">{{'DESCRIPTION-EDITOR.BASE-INFO.FIELDS.TITLE' | translate}} *
          </label>
          <div class="title-form">
            <mat-form-field class="w-100">
              <input id="titleInput" matInput placeholder="{{'DESCRIPTION-EDITOR.BASE-INFO.FIELDS.TITLE' | translate}}" type="text" name="label" formControlName="label" required>
              @if (formGroup().get('label').hasError('backendError')) {
                <mat-error> {{formGroup().get('label').getError('backendError').message}}</mat-error>
              }
              @if (formGroup().get('label').hasError('required')) {
                <mat-error>{{'GENERAL.VALIDATION.REQUIRED' | translate}}</mat-error>
              }
              @if (formGroup().get('label').hasError('maxlength')) {
                <mat-error>{{'GENERAL.VALIDATION.MAX-LENGTH.MESSAGE' | translate}}</mat-error>
              }
            </mat-form-field>
          </div>
        </div>
      </div>
      <!-- Description field -->
      <div class="row">
        <div class="col-12">
          <label (click)="descriptionInput?.focus()" class="heading">{{'DESCRIPTION-EDITOR.BASE-INFO.FIELDS.DESCRIPTION' | translate}}</label>
          <div class="hint">{{'DESCRIPTION-EDITOR.BASE-INFO.FIELDS.DESCRIPTION-HINT' | translate}}</div>
          <div class="description-form">
            <rich-text-editor-component #descriptionInput [form]="formGroup().get('description')" [placeholder]="'PLAN-EDITOR.PLACEHOLDER.DESCRIPTION'"
              [wrapperClasses]="'full-width editor ' + ((formGroup().get('description').touched && (formGroup().get('description').hasError('required') || formGroup().get('description').hasError('backendError'))) ? 'required' : '')"
              >
            </rich-text-editor-component>
            <div [class]="(formGroup().get('description').touched && (formGroup().get('description').hasError('required') || formGroup().get('description').hasError('backendError'))) ? 'visible' : 'invisible'" class="mat-form-field form-field-subscript-wrapper">
              @if (formGroup().get('description').hasError('backendError')) {
                <mat-error>{{formGroup().get('description').getError('backendError').message}}</mat-error>
              }
              @if (formGroup().get('description').hasError('required')) {
                <mat-error>{{'GENERAL.VALIDATION.REQUIRED' | translate}}</mat-error>
              }
            </div>
          </div>
        </div>
      </div>
      <!-- Tags -->
      <div class="row">
        <div class="col-12">
          <label for="tagInput" class="heading">{{'DESCRIPTION-EDITOR.BASE-INFO.FIELDS.TAGS' | translate}}</label>
          <div class="profile-form">
            <app-tags-field-component [name]="'tagInput'" label="{{'DESCRIPTION-EDITOR.BASE-INFO.FIELDS.TAGS' | translate}}" placeholder="{{'DESCRIPTION-EDITOR.BASE-INFO.FIELDS.TAGS-PLACEHOLDER' | translate}}" [form]="formGroup().get('tags')"></app-tags-field-component>
          </div>
        </div>
      </div>
      <!-- Template Field -->
      <div class="row">
        <div class="col-12">
          <label for="templateFieldInput"  (click)="templateFieldInput?.focus()" class="heading">
            {{'DESCRIPTION-EDITOR.BASE-INFO.FIELDS.DESCRIPTION-TEMPLATE' | translate}} *
          </label>
          <div class="profile-form">
            <mat-form-field class="w-100">
              <mat-select
                id="templateFieldInput"
                #templateFieldInput
                placeholder="{{'DESCRIPTION-EDITOR.BASE-INFO.FIELDS.DESCRIPTION-TEMPLATE-PLACEHOLDER'| translate}}"
                [required]="true"
                [compareWith]="compareWith"
                [formControl]="formGroup().get('descriptionTemplateId')"
                (selectionChange)="refresh.emit($event.value)"
                >
                @for (descriptionTemplate of availableDescriptionTemplates; track descriptionTemplate) {
                  <mat-option [value]="descriptionTemplate.id" class="multiline-mat-option">
                    <div>
                      <span>{{descriptionTemplate.label}}, </span>
                      <span>{{'DESCRIPTION-EDITOR.BASE-INFO.FIELDS.DESCRIPTION-TEMPLATE-VERSION'| translate}} {{descriptionTemplate.version}}</span>
                    </div>
                  </mat-option>
                }
              </mat-select>
              @if (formGroup().get('descriptionTemplateId').hasError('backendError')) {
                <mat-error>{{formGroup().get('descriptionTemplateId').getError('backendError').message}}</mat-error>
              }
              @if (formGroup().get('descriptionTemplateId').hasError('required')) {
                <mat-error>{{'GENERAL.VALIDATION.REQUIRED' | translate}}</mat-error>
              }
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </form>
}
