.description-base-fields-editor {

	.intro {
        color: var(--sys-on-surface);
        opacity: 0.85;
		margin: 2rem 0rem 1rem 0rem;
	}

	.heading {
		text-align: left;
		font-weight: 700;
        font-size: var(--sys-headline-medium-size);
		letter-spacing: 0px;
		opacity: 0.81;
		margin-top: 1.625rem;
		margin-bottom: 0.625rem;
	}

	.hint {
		text-align: left;
		font-weight: 400;
		font-size: var(--sys-body-medium-size);
		letter-spacing: 0px;
		opacity: 0.81;
		margin-bottom: 2.125rem;
	}

	.title-form,
	.description-form,
	.profile-form {
		text-align: left;
		font-weight: 400;
		font-size: var(--sys-body-medium-size);
		letter-spacing: 0.15px;
		opacity: 1;
		margin-bottom: 1rem;
    }

	.plan-link {
		color: var(--link-color);
		font-weight: 400;
		font-size: var(--sys-body-medium-size);
		cursor: pointer;
	}

	.plan-link:hover {
		text-decoration: underline;
	}
}

.multiline-mat-option.mat-option {
	white-space: normal;
	line-height: normal;
}