.dynamic-form-section {
    padding: 0 1rem;
	.expansion-panel {
		background-color: white;
		margin-top: 1em;
		margin-bottom: 1em;
	}
	.addOneFieldButton {
		margin-top: -15px;
		margin-left: -11px;
		color: var(--sys-primary);
	}
	.panel-title
	{
        font-size: var(--sys-headline-medium-size);
        margin: 0.5rem 0;
	}

	.panel-desc {
        font-size: var(--sys-body-medium-size);
		text-transform: none;
		margin-top: .5rem;
	}
    .field-sets {
        margin-left: 0.5rem;
        padding-left: 1rem;
        border-left: 2px solid var(--sys-primary);
    }
}
.styleBorder {
	border: 0.2em solid lightgray;
	border-radius: 0.5em;
	margin-bottom: 0.5em;
}
.mat-expansion-panel-header-description {
	padding-bottom: 18px;
	color: black;
}

::ng-deep .mat-expansion-panel-header {
	height: auto !important;
	min-height: 48px;
}

::ng-deep {
    @container main-page (inline-size < 750px){
        .mat-expansion-panel-body {
            padding: 0 10px 16px !important;
        }
    }
}