<div mat-dialog-title class="row d-flex align-items-center gap-half-rem">
    <span *ngIf="isSelectionRankType && selectionRankResult">
        {{ 'PLAN-EVALUATE-DIALOG.HEADER' | translate }}: {{enumUtils.toSuccessStatusString(selectionRankResult)}}
    </span>
    <button class="ml-auto" mat-icon-button (click)="close()"  [attr.aria-label]="'ALT-TEXT.CLOSE-DIALOG'  | translate">
        <mat-icon aria-hidden>close</mat-icon>
    </button>
</div>
<div mat-dialog-content *ngIf="data?.rankData?.details || data?.rankData?.messages" >
  
    <mat-card-content class="dialog-content">
      
        <ng-container *ngIf="data.rankData.details" >
          <mat-card-header>
            <mat-card-title>{{'PLAN-EVALUATE-DIALOG.DETAILS-SUB-HEADER' | translate}}</mat-card-title>
          </mat-card-header>
          <mat-form-field appearance="fill">
            <mat-label>{{'PLAN-EVALUATE-DIALOG.DETAILS-BODY' | translate}}</mat-label>
            <textarea matInput [value]="data.rankData.details" rows="4" disabled></textarea>
          </mat-form-field>
        </ng-container>

        <ng-container *ngIf="data.rankData.messages">
          <mat-card-header>
            <mat-card-title>{{'PLAN-EVALUATE-DIALOG.MESSAGES-BODY' | translate}}</mat-card-title>
          </mat-card-header>
              <ul>
                <li *ngFor="let entry of data.rankData.messages | keyvalue; let i=index;">
                  <strong>{{ 'PLAN-EVALUATE-DIALOG.ERROR' | translate }} {{i+1}}:</strong> {{ entry.value }}
                </li>
              </ul>
        </ng-container>

    </mat-card-content>
  
</div>