<div class="faq">
	<div mat-dialog-title class="row d-flex align-items-center">
		<div class="col">
			{{'FAQ.TITLE' | translate}}
		</div>
		<div class="col-auto">
			<button mat-icon-button (click)="close()"  [attr.aria-label]="'ALT-TEXT.CLOSE-DIALOG'  | translate"><mat-icon aria-hidden>close</mat-icon></button>
		</div>
	</div>
	<div mat-dialog-content class="row pr-0">
		<app-faq-content [isDialog]="isDialog"></app-faq-content>
	</div>
	<div mat-dialog-actions class="row">
		<div class="ml-auto col-auto"><button mat-stroked-button mat-dialog-close class="padded-shadow-btn" (click)="cancel()">{{'FAQ.CLOSE' | translate}}</button></div>
	</div>
</div>
