<div *ngIf="formGroup" class="container-fluid">
	<div class="row">
		<div class="col-12">
            <mat-form-field class="w-100">
                <mat-label>{{'WORKFLOW-EDITOR.FIELDS.STARTING-STATUS' | translate}}
                </mat-label>
                <app-single-auto-complete 
                    [required]="true" 
                    [formControl]="definitionForm?.controls?.startingStatusId" 
                    placeholder="{{'WORKFLOW-EDITOR.ACTIONS.SELECT-DESCRIPTION-STATUS' | translate}}" 
                    [configuration]="descriptionStatusAutoCompleteConfiguration"
                />
                <mat-error *ngIf="definitionForm?.controls?.startingStatusId.hasError('backendError')">{{definitionForm?.controls?.startingStatusId.getError('backendError').message}}</mat-error>
                <mat-error *ngIf="definitionForm?.controls.startingStatusId.hasError('required')">{{'GENERAL.VALIDATION.REQUIRED' | translate}}</mat-error>
            </mat-form-field>
		</div>
        <div class="col-12">
            <button mat-flat-button color="accent" class="padded-shadow-btn" type="button" (click)="addStatusTransition()" [disabled]="formGroup.disabled">{{'WORKFLOW-EDITOR.ACTIONS.ADD-STATUS-TRANSITION' | translate}}</button>
        </div>
        <div class="row mb-3">
            <mat-error class="pl-3 pt-2" *ngIf="definitionForm?.touched && definitionForm?.controls?.statusTransitions?.hasError('required')">
                {{'WORKFLOW-EDITOR.ERRORS.STATUS-TRANSITION-REQUIRED' | translate}}
            </mat-error>
            @for(transitionForm of definitionForm?.controls?.statusTransitions?.controls; track transitionForm; let index = $index){
                <div class="col-12">
                    <div class="row mb-3 d-flex align-items-center">
                        <div class="col-auto d-flex">
                            <mat-card-title>{{'WORKFLOW-EDITOR.FIELDS.STATUS-TRANSITION' | translate}} {{index + 1}}</mat-card-title>
                        </div>
                        <div class="col-auto d-flex">
                            <button mat-icon-button matTooltip="{{'WORKFLOW-EDITOR.ACTIONS.REMOVE-STATUS-TRANSITION' | translate}}" (click)="removeStatusTransition(index)" [disabled]="formGroup.disabled" [attr.aria-label]="'WORKFLOW-EDITOR.ACTIONS.REMOVE-STATUS-TRANSITION' | translate">
                                <mat-icon aria-hidden>delete</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <mat-form-field class="w-100">
                        <mat-label>{{'WORKFLOW-EDITOR.FIELDS.FROM-STATUS' | translate}}
                        </mat-label>
                        <app-single-auto-complete 
                            [required]="true" 
                            [formControl]="transitionForm?.controls?.fromStatusId" 
                            placeholder="{{'WORKFLOW-EDITOR.ACTIONS.SELECT-DESCRIPTION-STATUS' | translate}}" 
                            [configuration]="descriptionStatusAutoCompleteConfiguration"
                        />
                        <mat-error *ngIf="transitionForm?.controls?.fromStatusId.hasError('backendError')">{{transitionForm?.controls?.fromStatusId.getError('backendError').message}}</mat-error>
                        <mat-error *ngIf="transitionForm?.controls.fromStatusId.hasError('required')">{{'GENERAL.VALIDATION.REQUIRED' | translate}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-12 col-lg-6">
                    <mat-form-field class="w-100">
                        <mat-label>{{'WORKFLOW-EDITOR.FIELDS.TO-STATUS' | translate}}</mat-label>
                        <app-single-auto-complete 
                            [required]="true" 
                            [formControl]="transitionForm?.controls?.toStatusId" 
                            placeholder="{{'WORKFLOW-EDITOR.ACTIONS.SELECT-DESCRIPTION-STATUS' | translate}}" 
                            [configuration]="descriptionStatusAutoCompleteConfiguration"
                        />
                        <mat-error *ngIf="transitionForm?.controls?.toStatusId.hasError('backendError')">{{transitionForm?.controls?.toStatusId.getError('backendError').message}}</mat-error>
                        <mat-error *ngIf="transitionForm?.controls.toStatusId.hasError('required')">{{'GENERAL.VALIDATION.REQUIRED' | translate}}</mat-error>
                    </mat-form-field>
                </div>
                <mat-error class="pl-3" *ngIf="transitionForm.hasError('differentStatusId')">{{'WORKFLOW-EDITOR.ERRORS.DIFFERENT-STATUS' | translate}}</mat-error>
            }
        </div>
		<div class="col-12">
			<div class="row actions-row">
				<div class="col"></div>
                @if(canDelete){
                    <div class="col-auto">
                        <button mat-stroked-button color="warn" class="padded-shadow-btn" (click)="delete()">
						{{'TENANT-CONFIGURATION-EDITOR.ACTIONS.RESET-TO-DEFAULT' | translate}}
					    </button>
				    </div>
                }
                @if(canSave){
                    <div class="col-auto">
                        <button mat-flat-button color="primary" class="padded-shadow-btn" (click)="formSubmit()">
						{{'TENANT-CONFIGURATION-EDITOR.ACTIONS.SAVE' | translate}}
					    </button>
				    </div>
                }

			</div>
		</div>
	</div>
</div>
