<div class="col-6" >
  <mat-form-field class="chip-list">
    <mat-label>{{'NOTIFICATION-SERVICE.NOTIFICATION-TEMPLATE-EDITOR.FIELDS.MANDATORY' | translate}}</mat-label>
    <mat-chip-grid #chipGrid [formControl]="form.get('mandatory')">
      @for (field of mandatoryFields; track field) {
        <mat-chip-row
          (removed)="removeChipListValues(field)"
          [editable]="true"
          (edited)="editChipListValues($event, field)">
          {{field}}
          <button matChipRemove>
            <mat-icon [attr.aria-label]="'COMMONS.ACTIONS.REMOVE' | translate">cancel</mat-icon>
          </button>
        </mat-chip-row>
      }
      <input placeholder="{{'NOTIFICATION-SERVICE.NOTIFICATION-TEMPLATE-EDITOR.FIELDS.MANDATORY-PLACEHOLDER' | translate}}"
        [matChipInputFor]="chipGrid"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="true"
        (matChipInputTokenEnd)="addChipListValues($event)"/>
      </mat-chip-grid>
      @if (form.get('mandatory').hasError('backendError')) {
        <mat-error>{{form.get('mandatory').getError('backendError').message}}</mat-error>
      }
    </mat-form-field>
  </div>

  <h4 class="col-md-12">{{'NOTIFICATION-SERVICE.NOTIFICATION-TEMPLATE-EDITOR.FIELDS.OPTIONAL-TITLE' | translate}}</h4>
  <div class="d-flex flex-column">
    @for (options of form.get('optional')['controls']; track options; let i = $index) {
      <div class="d-flex flex-wrap">
        <div class="col-12 col-md">
          <mat-form-field class="w-100">
            <mat-label>{{'NOTIFICATION-SERVICE.NOTIFICATION-TEMPLATE-EDITOR.FIELDS.KEY' | translate}}</mat-label>
            <input matInput [formControl]="options.get('key')">
            @if (options.get('key').hasError('backendError')) {
              <mat-error>{{options.get('key').getError('backendError').message}}</mat-error>
            }
            @if (options.get('key').hasError('required')) {
              <mat-error>{{'GENERAL.VALIDATION.REQUIRED' | translate}}</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-12 col-md-3">
          <mat-form-field class="w-100">
            <mat-label>{{'NOTIFICATION-SERVICE.NOTIFICATION-TEMPLATE-EDITOR.FIELDS.DATA-TYPE' | translate}}</mat-label>
            <mat-select name="channel" [formControl]="options.get('type')">
              @for (type of notificationDataTypeEnum; track type) {
                <mat-option [value]="type">
                  {{enumUtils.toNotificationTemplateDataTypeString(type)}}
                </mat-option>
              }
            </mat-select>
            @if (options.get('type').hasError('backendError')) {
              <mat-error>{{options.get('type').getError('backendError').message}}</mat-error>
            }
            @if (options.get('type').hasError('required')) {
              <mat-error>{{'GENERAL.VALIDATION.REQUIRED' | translate}}</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-12 col-md-3">
          <mat-form-field class="w-100">
            <mat-label>{{'NOTIFICATION-SERVICE.NOTIFICATION-TEMPLATE-EDITOR.FIELDS.VALUE' | translate}}</mat-label>
            <input matInput [formControl]="options.get('value')">
            @if (options.get('value').hasError('backendError')) {
              <mat-error>{{options.get('value').getError('backendError').message}}</mat-error>
            }
            @if (options.get('value').hasError('required')) {
              <mat-error>{{'GENERAL.VALIDATION.REQUIRED' | translate}}</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-12 col-md-auto">
          <button mat-icon-button (click)="removeSubjectOptionalItem(i)" [disabled]="form.disabled">
            <mat-icon>remove</mat-icon>
          </button>
        </div>
      </div>
    }
    <div class="col-auto">
      <button mat-icon-button (click)="addOptionalItem()" [disabled]="form.disabled">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>

  <h4 class="col-md-12">{{'NOTIFICATION-SERVICE.NOTIFICATION-TEMPLATE-EDITOR.FIELDS.FORMATTING' | translate}}</h4>
  @for (item of form.get('mandatory').value; track item; let i = $index) {
    <div class="d-flex flex-wrap">
      <mat-form-field class="col-6">
        <mat-label>{{'NOTIFICATION-SERVICE.NOTIFICATION-TEMPLATE-EDITOR.FIELDS.KEY' | translate}}</mat-label>
        <input matInput [value]="item" [disabled] = "true">
      </mat-form-field>
      <mat-form-field class="col-6">
        <mat-label>{{'NOTIFICATION-SERVICE.NOTIFICATION-TEMPLATE-EDITOR.FIELDS.VALUE' | translate}}</mat-label>
        <input matInput [value] ="formatting[item]" (change)="formattingValueChange($event, item)">
        @if (form.get('formatting').hasError('backendError')) {
          <mat-error>{{form.get('formatting').getError('backendError').message}}</mat-error>
        }
      </mat-form-field>
    </div>
  }
  @for (item of form.get('optional')['controls']; track item; let i = $index) {
    <div class="d-flex flex-wrap">
      @if (item.valid) {
        <mat-form-field class="col-6">
          <mat-label>{{'NOTIFICATION-SERVICE.NOTIFICATION-TEMPLATE-EDITOR.FIELDS.KEY' | translate}}</mat-label>
          <input matInput [value]="item.value.key" [disabled] = "true">
        </mat-form-field>
        <mat-form-field class="col-6">
          <mat-label>{{'NOTIFICATION-SERVICE.NOTIFICATION-TEMPLATE-EDITOR.FIELDS.VALUE' | translate}}</mat-label>
          <input matInput [value]="formatting[item]" (change)="formattingValueChange($event, item)">
          @if (form.get('formatting').hasError('backendError')) {
            <mat-error>{{form.get('formatting').getError('backendError').message}}</mat-error>
          }
        </mat-form-field>
      }
    </div>
  }
