.plan-contact-prefill-dialog {

	padding: 24px;
	overflow: hidden;

	.confirmation {
		padding-bottom: 20px;
	}

	.cancel {
		background-color: #aaaaaa;
		color: #ffffff;
	}

	.delete {
		background-color: #ba2c2c;
		color: #ffffff;
	}
}
