.full-width {
  width: 100%;
}

.title-text {
	font-weight: 300;
	line-height: 1.2em;
	text-align: left;
	font-size: var(--sys-body-medium-size);
}

.subtitle-text {
	font-weight: 400;
	font-size: var(--sys-title-small-size);
	line-height: 1.2em;
}
