<div class="mt-3 pl-3 pr-3 pb-2 pt-1">
	<!--<div *ngIf="data.icon" class="row align-items-center">
		<div class="col-auto close-btn justify-content-start">
			<mat-icon color="warn">{{ data.icon }}</mat-icon>
		</div>
		<div *ngIf="data.warning" class="col justify-content-center warn-text">{{ data.warning }}</div>
		<div class="col-auto justify-content-end">
			<button mat-icon-button (click)="close()">
				<mat-icon>close</mat-icon>
			</button>
		</div>
	</div>-->

	<div class="row align-items-center">
		<h3 class="col message pl-3"> {{'DESCRIPTION-TEMPLATES-TABLE-LIST.TEMPLATES-LIST-TITLE' | translate}}</h3>
		<div  class="col-auto justify-content-end">
			<button mat-icon-button (click)="close()">
				<mat-icon>close</mat-icon>
			</button>
		</div>
	</div>
</div>
<mat-dialog-content   class="pt-2 pb-2 ">
	<app-description-template-table-select [previewOnly]="true"></app-description-template-table-select>

</mat-dialog-content>
<!--<mat-dialog-actions class="mt-3 mb-3 pb-1">
&lt;!&ndash;	<ng-container *ngFor="let title of data.titles; let i = index">&ndash;&gt;
&lt;!&ndash;		<div class="col-auto mb-2">&ndash;&gt;
&lt;!&ndash;			<button mat-flat-button color="primary" class="padded-shadow-btn" (click)="apply(i)">{{ title }}</button>&ndash;&gt;
&lt;!&ndash;		</div>&ndash;&gt;
&lt;!&ndash;	</ng-container>&ndash;&gt;
</mat-dialog-actions>-->
