<form class="row" *ngIf="form.get('data')">

	<h5 style="font-weight: bold" class="col-12">{{'DESCRIPTION-TEMPLATE-EDITOR.STEPS.FORM.FIELD.FIELDS.FIELD-UPLOAD-TITLE' | translate}}</h5>

	<mat-form-field class="col-12">
		<mat-label>
			{{'DESCRIPTION-TEMPLATE-EDITOR.STEPS.FORM.FIELD.FIELDS.FIELD-UPLOAD-PLACEHOLDER' | translate}}
		</mat-label>
		<input matInput type="string" [formControl]="form.get('data').get('label')">
		<mat-error *ngIf="form.get('data').get('label').hasError('backendError')">{{form.get('data').get('label').getError('backendError').message}}</mat-error>
	</mat-form-field>

	<mat-form-field class="col-12">
		<mat-label>
			{{ "DESCRIPTION-TEMPLATE-EDITOR.STEPS.FORM.FIELD.FIELDS.FIELD-UPLOAD-MAX-FILE-SIZE" |
			translate: { maxfilesize: getConfiguration().maxFileSizeInMB.toString() } }}
		</mat-label>
		<input matInput type="number" min="1" [max]="getConfiguration().maxFileSizeInMB" [formControl]="form.get('data').get('maxFileSizeInMB')">
		<mat-error *ngIf="form.get('data').get('maxFileSizeInMB').hasError('backendError')">{{form.get('data').get('maxFileSizeInMB').getError('backendError').message}}</mat-error>
	</mat-form-field>

	<mat-form-field class="col-12">
		<mat-label>
			{{'DESCRIPTION-TEMPLATE-EDITOR.STEPS.FORM.FIELD.FIELDS.FIELD-UPLOAD-SELECT-FILETYPE' | translate}}
		</mat-label>
		<mat-select multiple [formControl]="typesFormControl">
			<mat-option *ngFor="let type of types; let i=index" [value]="type.value" (click)="selectedType(type)" [disabled]="form.get('data').get('types').disabled">
				{{type.label}}
			</mat-option>
		</mat-select>
		<mat-error *ngIf="form.get('data').get('types').dirty && form.get('data').get('types').hasError('required')">{{'DESCRIPTION-TEMPLATE-EDITOR.STEPS.FORM.FIELD.FIELDS.TYPES-REQUIRED' | translate}}</mat-error>
		<mat-error *ngIf="form.get('data').get('types').hasError('backendError')">{{form.get('data').get('types').getError('backendError').message}}</mat-error>
	</mat-form-field>

	<div class="col-12">
		<div>{{'DESCRIPTION-TEMPLATE-EDITOR.STEPS.FORM.FIELD.FIELDS.FIELD-UPLOAD-CUSTOM-FILETYPE' | translate}}</div>
		<ng-container *ngFor="let type of form.get('data').get('types')['controls'] index as i">
			<div *ngIf="isCustomType(type.value.value)" class="row">
				<mat-form-field class="col">
					<mat-label>{{'DESCRIPTION-TEMPLATE-EDITOR.STEPS.FORM.FIELD.FIELDS.FIELD-UPLOAD-LABEL' | translate}}</mat-label>
					<input matInput type="string" [formControl]="type.get('label')">
					<mat-error *ngIf="type.get('label').hasError('backendError')">{{type.get('label').getError('backendError').message}}</mat-error>
				</mat-form-field>
				<mat-form-field class="col">
					<mat-label>{{'DESCRIPTION-TEMPLATE-EDITOR.STEPS.FORM.FIELD.FIELDS.FIELD-UPLOAD-VALUE' | translate}}</mat-label>
					<input matInput type="string" [formControl]="type.get('value')">
					<mat-error *ngIf="type.get('value').hasError('backendError')">{{type.get('value').getError('backendError').message}}</mat-error>
				</mat-form-field>
				<button mat-icon-button class="col-auto" (click)="deleteRow(i)" type="button" [disabled]="form.get('data').get('types').disabled">
					<mat-icon>delete</mat-icon>
				</button>
			</div>
		</ng-container>
	</div>
	<div class="col-auto">
		<button mat-icon-button (click)="addNewRow()" type="button" [disabled]="form.get('data').get('types').disabled">
			<mat-icon>add</mat-icon>
		</button>
	</div>
</form>