.docs-toc-container {
  width: 100%;
  padding: 5px 0 10px 0px;
  cursor: pointer;

    overflow-y: auto;
  

  .docs-link {
    color: rgba(0, 0, 0, 0.54);
    transition: color 100ms;

    &:hover,
    &.docs-active {
      .link-name {
        background-color: rgb(0,0,0,0.05);
        border-radius: 6px;
      }
    }
  }
}

.docs-toc-heading {
  margin: 0;
  padding: 0;
//   font-size: 13px;
    font-size: var(--sys-label-large-size);
  font-weight: bold;
}

span {
  line-height: 16px;
  margin: 6px 0 0;
  position: relative;
  text-decoration: none;
  display: block;
  overflow: hidden;
  color: var(--dark-text)94;
  font-weight: 400;

  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    width: 100%;
  }
}

.selected {
  color: var(--dark-text) !important;
  font-weight: 700 !important;
  opacity: 1 !important;
}

.docs-level-h5 {
  margin-left: 24px;
}