:root {
    --mat-sys-primary-hover: hsl(from var(--mat-sys-primary) h calc(s - 10) calc(l + 6));
    --mat-sys-surface: #ffffff;

////////////////////////////////////////////

    --mat-sys-headline-large-size: 1.5rem; //!!!!!
    --mat-sys-headline-large-line-height: 2.5rem;

    --mat-sys-headline-medium-size: 1.25rem; //!!!
    --mat-sys-headline-medium-line-height: 2.25rem;

    --mat-sys-headline-small-size: 0.93rem; //!!!!!!
    --mat-sys-headline-small-line-height: 2rem;
////////////////////////////////////////////

    --mat-sys-title-large-size: 1.312rem; //!!!!!
    --mat-sys-title-large-line-height: 1.75rem;
    --mat-sys-title-large-weight: 500;

    --mat-sys-title-medium-size: 1.125rem;
    --mat-sys-title-medium-line-height: 1.125rem;

    --mat-sys-title-small-size: 0.875rem;
    --mat-sys-title-small-line-height: 1.25rem;
////////////////////////////////////////

    // --mat-sys-body-large: 400 1rem / 1.5rem Roboto, sans-serif;
    // --mat-sys-body-large-weight: 400;
    --mat-sys-body-large-size: 1.125rem; //!!!!
    --mat-sys-body-large-line-height: 1.125rem;

    --mat-sys-body-medium-size: 1rem;
    --mat-sys-body-medium-line-height: 1.25rem;

    --mat-sys-body-small-size: 0.85rem; //!!!!
    --mat-sys-body-small-line-height: 1rem;
    --mat-sys-body-small-tracking: 0.025rem;
////////////////////////////////////////////

    --mat-sys-label-large-size: 0.87rem; //!!!!
    --mat-sys-label-large-line-height: 1.25rem; //!!!!
    --mat-sys-label-large-weight-prominent: 700;

    --mat-sys-label-medium-size:  0.8rem;  //!!!!
    --mat-sys-label-medium-line-height: 1rem;

    --mat-sys-label-medium-weight-prominent: 700;

    --mat-sys-label-small-size: 0.688rem;
    --mat-sys-label-small-line-height: 1rem;


    --mat-standard-button-toggle-label-text-size: var(--mat-sys-body-medium-size);
    --mat-menu-item-label-text-size: var(--mat-sys-body-medium-size);
    --mat-badge-small-size-text-size: var(--mat-sys-label-small-size);
}