.dynamic-form-field {
	.radio-button-item {
		margin-right: 1em;
	}

	.full-width {
		width: 100%;
	}

	.text-area {
		box-sizing: content-box;
	}

	.success {
		color: green;
	}

	.fail {
		color: red;
	}
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
	background: #fafafa !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
	font-size: 1rem;
	padding: 0.6em 0 1em 0 !important;
}


.attach-btn {
	top: -20px;
}

.drop-file {
	background-color: #fafafa;
	border: 1px dashed #d1d1d1;
	border-radius: 4px;
	height: 98px;
	margin-top: 0.5rem;

	&.drop-file-error {
		border: 1px dashed #f44336;
	}
}

.file-preview {
	height: auto !important;
	width: auto !important;
	max-width: 500px !important;
	min-height: 1rem !important;

	background-color: #e0e0e0 !important;
	background-image: none !important;
	color: rgba(0, 0, 0, 0.87) !important;
	font-weight: 500 !important;
	border-radius: 24px !important;
	line-height: 1.25 !important;
}

.file-label {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 14px !important;
}

::ng-deep ngx-dropzone-remove-badge {
	opacity: 1 !important;
	margin-left: .5rem !important;
	position: initial !important;
}

::ng-deep .upload-form .mat-form-field-appearance-outline .mat-form-field-outline {
	background: #fafafa !important;
}

::ng-deep .upload-form .mat-form-field-appearance-outline .mat-form-field-infix {
	font-size: 1rem;
	padding: 0.6em 0 1em 0 !important;
}
